@{
    ViewData["Title"] = "FAQs";
}
<div id="t4-main-body" class="t4-section  t4-main-body  p-0"><div class="t4-section-inner container-fluid"><div class="t4-row row"><div class="t4-col component col-12 col-lg p-0"><div id="system-message-container" aria-live="polite"></div><div class="jpb-page" itemscope="itemscope"><div class="content clearfix"> </div> </div> </div> </div></div></div>
