@{
    ViewData["Title"] = "Loại hình công ty Belize";
}
<div id="t4-main-body" class="t4-section  t4-main-body"><div class="t4-section-inner container"><div id="system-message-container" aria-live="polite"></div><div class="com-tags-tag tag-category "><h1 style="font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: #0093D3;
		padding-top: 100px;
		border-bottom: 2px solid #eceff1;
"><i class="fa-solid fa-tags"></i> Loại hình công ty Belize </h1><form action="https://globallinkconsulting.sg/vi/tags/loai-hinh-cong-ty-belize" method="post" name="adminForm" id="adminForm" class="com-tags-tag__items form-inline"><div class="alert alert-info"> <span class="icon-info-circle" aria-hidden="true"></span><span class="visually-hidden">Info</span> Không có mục nào phù hợp được tìm thấy. </div></form></div></div></div>
