@charset "utf-8";
div#igwvcg > div > .t4b-box > img {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
}
div#igwvcg > div > .t4b-box {
  transition: all 0.4s ease;
}
div#igwvcg > div > .t4b-box:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: translateY(-8px);
}
div#ial3y3 > div > .t4b-box > img {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
}
div#ial3y3 > div > .t4b-box {
  transition: all 0.4s ease;
}
div#ial3y3 > div > .t4b-box:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transform: translateY(-8px);
}
div#iava7v > div > .t4b-box {
  transition: all 0.4s ease;
}
div#iava7v > div > .t4b-box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
  transform: translateY(-8px);
}
#imi1s {
  color: #0093d3;
  font-weight: 700;
}
#itim2 {
  color: #014583;
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 20px 0;
}
#ixxk9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#i94cz {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
#ihm0x {
  color: black;
}
#ik07m {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iv8lr {
  background-color: #fdfdfd;
  padding: 100px 0 60px 0;
}
#i22z {
  padding: 0 0 100px 0;
  background-color: #fdfdfd;
}
#ihmxx {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ilg2y {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#i6kw2 {
  color: black;
  width: 100px;
}
#i6iei {
  font-size: 18px;
  line-height: 26px;
  color: #0093d3;
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Montserrat;
}
#irklw {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  background-color: #e9f4f9;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#ikz9z {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iax2t {
  color: black;
  width: 45px;
  height: 45px;
}
#ir7kb {
  color: black;
  width: 45px;
  height: 45px;
}
#ii36b {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#ikism {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iavws {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#icn9s {
  color: black;
  width: 45px;
  height: 45px;
}
#iddm7 {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#imtzj {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iz1yl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iybzi {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#iqyvl {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#ilvrg {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
  text-align: center;
  padding: 0 0 0 0;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 0 0 0 0;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#iwnwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ivzll {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-2 {
  background-color: rgba(128, 128, 69, 0.5);
  width: 1px;
  height: 30px;
  margin: 0 5px 0 5px;
}
#ieyfl-3 {
  background-color: rgba(128, 128, 69, 0.5);
  height: 30px;
  width: 1px;
  margin: 0 5px 0 5px;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
div#i09kng > .t4b-box:hover {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
div#i09kng > .t4b-box {
  transition: all 0.3s ease;
}
#i7v4nv {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  padding: 100px 0 100px 0;
}
#i14r6h {
  color: black;
  width: 55px;
}
#ieebek {
  font-weight: 700;
  color: #808080;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
}
#i3wzc3 {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 -10px;
  border-radius: 10px 10px 10px 10px;
}
#iz86gg {
  color: black;
  height: 50px;
}
#i94im1 {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i18vvg {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#itun0i {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 -10px;
  border-radius: 10px 10px 10px 10px;
}
#i9xzb9 {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iy6w9b {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 -10px;
  border-radius: 10px 10px 10px 10px;
}
#iog6hk {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i0fgzl {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 -10px;
  border-radius: 10px 10px 10px 10px;
}
#i09kng {
  padding: 0 15px 0 15px;
}
#i4y00p3-2 {
  margin: 30px 0 0 0;
}
#iteici {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i1cvwk {
  margin: 0 0 0 0;
  color: #000;
  font-size: 18px;
  line-height: 30px;
}
#idfwcp {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iyr24h {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 -10px;
  border-radius: 10px 10px 10px 10px;
}
#ivv00q {
  color: black;
  height: 50px;
}
#i74lah {
  color: black;
  height: 50px;
}
#ierh2e {
  color: black;
  height: 50px;
}
#ihbutg {
  color: black;
  height: 50px;
}
#iuor1k {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#i3xf3l {
  line-height: 26px;
  font-size: 18px;
  color: #014583;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  font-weight: 700;
}
#i10i4x {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#i8v65f {
  color: black;
  width: 55px;
}
#iw9fn5 {
  font-weight: 700;
  color: #808080;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
}
#i4g1cj {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#irwifl {
  color: black;
  width: 55px;
  margin: 0 0 10px 0;
}
#io4klu {
  color: black;
  width: 55px;
  margin: 0 0 10px 0;
}
#i3h06d {
  line-height: 26px;
  font-size: 18px;
  color: #014583;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  font-weight: 700;
}
#iubg6f {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#ioxx8h {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#ih9szk {
  color: black;
  width: 55px;
  margin: 0 0 10px 0;
}
#i9ydga {
  line-height: 26px;
  font-size: 18px;
  color: #014583;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  font-weight: 700;
}
#ii9krs {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i794qc {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
.glac-nav-item-singapore a.nav-link {
  background: #fff;
}
.glac-tab-content-verticle-singapore .tab-content {
  background: transparent;
}
#iioz0q {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  min-height: 0;
}
#i0b09d {
  color: #000;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
}
#irl5yg {
  color: black;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
}
#iouyb8 {
  font-size: 18px;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#ibrkky {
  font-size: 18px;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#iihhv9 {
  margin: -50px 0 0 0;
}
#idekln {
  padding: 100px 0 100px 0;
  background-color: #fdfdfd;
  background: #e9f4fa;
}
#ij2o5j {
  font-size: 18px;
  line-height: 26px;
}
#ie88xk {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
  font-weight: 700;
}
#i0gjzh {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#ifu7zk {
  color: black;
  width: 55px;
}
#iu0ph4 {
  font-weight: 700;
  color: #808080;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  max-width: 70%;
}
#inxkzp {
  line-height: 26px;
  font-size: 18px;
  color: #000;
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
  max-width: 70%;
}
#i8w9kv {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#ibzk73 {
  color: #014583;
  margin: 0 0 0 0;
  line-height: 26px;
}
#iqgpvy {
  color: #014583;
  margin: 0 0 0 0;
  line-height: 26px;
}
#inwbq9 {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#isidpv {
  color: #014583;
  margin: 0 0 0 0;
  line-height: 26px;
}
#is3w9f {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#iktqoh {
  color: #014583;
  margin: 0 0 0 0;
  line-height: 26px;
}
#iy1ww4 {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#idmh84 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#ihyljr {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#i4oeaf {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 15px 0 0 0;
  font-weight: 700;
  color: #0093d3;
}
#igsdna {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 15px 0 0 0;
  font-weight: 700;
  color: #0093d3;
}
#it1ttz {
  padding: 50px 0 50px 0;
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
}
#i93pnp {
  line-height: 35px;
  font-size: 24px;
  font-family: Roboto;
  margin: 0 0 0 0;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0 20% 0 20%;
}
#ibfgzgs {
  margin: 40px 0 0 0;
  gap: 20px;
}
#itrdr4 {
  border: 1.33333px solid #fff;
}
#i6ypkw {
  color: #fff;
}
#i90tfp {
  color: #fff;
}
#ik05oi {
  background-color: #d9f3ff;
  padding: 50px 0 50px 0;
}
#i287xh {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
}
#icvcrh {
  padding: 40px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 100%;
}
#int6qf {
  color: black;
  width: 55px;
}
#ij09af {
  font-weight: 700;
  color: #808080;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
}
#iz7zu1 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#irmxdh {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 40px 0;
  max-width: 80%;
}
#iin3no {
  font-weight: 700;
  color: #014583;
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 40px 0;
}
#ir6sb4 {
  color: #0093d3;
}
#ig5s6v {
  color: black;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateY(-50%);
}
#ib0khq {
  color: black;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateY(-50%);
}
#iy6k0s {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
}
#i6ixaj {
  padding: 40px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 100%;
}
#ih59fn {
  color: black;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateY(-50%);
}
#intlor {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
}
#ij7e0x {
  padding: 40px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 100%;
}
#igwvcg {
  margin: 0 -15px 0 -15px;
}
#i1jo5j {
  color: black;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateY(-50%);
  width: 53px;
}
#iw589c {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
}
#i0w143 {
  padding: 40px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 100%;
}
#i3q70y {
  color: black;
  top: 0;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateY(-50%);
}
#ieddn5 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
}
#i8d7i8 {
  padding: 40px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 100%;
}
#ial3y3 {
  margin: 60px -15px 0 -15px;
}
#i1bmqf {
  font-weight: 700;
  color: #014583;
  font-size: 22px;
  line-height: 30px;
  margin: 100px 0 40px 0;
  max-width: 70%;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .btn {
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  padding-inline: 10px;
  border-radius: 10px;
  border: unset;
}
.t4b-fd__faq-3
  .t4b-accordion-style-3.style-1
  .card-header
  .btn[aria-expanded="true"]
  > span:nth-child(2) {
  font-weight: 700;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .btn p {
  align-self: center;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header span {
  font-weight: 400;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card {
  background: rgb(244, 252, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 13px 20px -20px;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .t4b-faqs-icon {
  padding: 5px;
  background: #dee9f1;
  border-radius: 10px;
  margin-right: 8px;
  height: 35px;
}
#it07scp {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iukxv5m {
  margin: 0 0 0 0;
}
#i4k56s {
  margin: 0 0 0 0;
}
#ikq9t2 {
  padding: 50px 0 50px 0;
  background-color: #fdfdfd;
}
#iasqd {
  color: black;
}
#i5dyw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#ipsaf {
  font-size: 18px;
  font-family: Roboto;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#iym1f {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i3tlr8 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#ieoy5g {
  padding: 0 0 0 0;
  margin: 0 0 30px 0;
}
#ilhgt9 {
  line-height: 26px;
  font-size: 22px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-weight: 700;
}
#izbq8k {
  color: black;
}
#irgm0g {
  padding: 100px 0 0 0;
  background-color: #f1faff;
}
#ivrmpt {
  color: black;
}
#i96wxf {
  color: black;
  width: 55px;
}
#i13isj {
  font-weight: 700;
  color: #808080;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
}
#i39bha {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iyf69m {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#i0fad8 {
  color: black;
}
#i5gukt {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#ilu4jd {
  color: black;
  height: 29px;
}
#in110s {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#idsm4g {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#iy6zsp {
  color: black;
  height: 29px;
}
#iqulwi {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iiurzh {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#ic9rzl {
  color: black;
  height: 29px;
}
#isa7zr {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iswe79 {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#ij3h2i {
  color: black;
  height: 29px;
}
#ijsbhn {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#igvofw {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#i4y00p3 {
  margin: 40px 0 0 0;
  padding: 0 0 50px 0;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0093d3;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp-2 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i06aws-2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ioat0jn {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ip64nh-2 {
  color: #0093d3;
}
#i1yoap-2 {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#iukxv5m-2 {
  margin: 0 0 0 0;
}
#i4k56s-2 {
  margin: 0 0 0 0;
}
#iecqag {
  margin: 150px 0 0 0;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  margin: 0 0 0 0;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ikq9t2-2 {
  padding: 50px 0 100px 0;
  background-color: white;
}
#icyf59j {
  margin: 40px 0 0 0;
}
#ib435y {
  color: black;
  width: 55px;
}
#isx21a {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ia3ht7 {
  color: #0093d3;
}
#i65yh8 {
  display: flex;
}
#i95521 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i9ava1 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ixssb8 {
  color: #0093d3;
}
#iodvr8 {
  display: flex;
}
#ith1ik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#idym6y {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#i2ejku {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ib7k45 {
  color: #0093d3;
}
#i3yojg {
  display: flex;
}
#iy7t8k {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
#i65kcv {
  width: 55px;
}
#ia8vjeg {
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
#ibmohk {
  padding: 50px 0 30px 0;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  padding: 100px 0 100px 0;
}
#t4b-accordion {
  width: 100%;
}
#if6drs {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ia3g76 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 20px 0 0 0;
}
#ipwrvu {
  padding: 0 8px 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i21pla {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iruiff {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fdfdfd;
  height: 100%;
}
#ip5nwu {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#ibkhqa {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 15px 0 0 0;
  font-weight: 700;
  color: #0093d3;
}
#izvqnk {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fdfdfd;
  height: 100%;
}
#it2quq {
  padding: 0 8px 0 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iolucm {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iy4ffg {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fdfdfd;
  height: 100%;
}
#ir4gj4 {
  padding: 0 8px 0 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ijyvd5 {
  color: #014583;
  margin: 0 0 0 0;
  line-height: 26px;
}
#izbc2d {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i89c14 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
}
@media (max-width: 991.98px) {
  #izzx87e {
    background-image: url(../../../../images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.08;
  }
  #ikej4 {
    padding: 0 0 0 0;
  }
  #ioh08 {
    padding: 0 0 0 0;
  }
  #ih88w {
    padding: 0 15px 0 0;
  }
  #ilvrg {
    font-size: 15px;
  }
  #iybzi {
    font-size: 15px;
  }
  #iqyvl {
    font-size: 15px;
  }
  #ilg2y {
    font-size: 25px;
  }
  #ii36b {
    font-size: 25px;
  }
  #iddm7 {
    font-size: 25px;
  }
  #irmxdh {
    max-width: 100%;
  }
  #i1bmqf {
    max-width: 100%;
  }
  #iyvuuf {
    margin: 40px 0 0 0;
  }
  #in1j9g {
    margin: 40px 0 0 0;
  }
  #ioj4si {
    margin: 40px 0 0 0;
  }
  #ifb7bk {
    margin: 40px 0 0 0;
  }
  #i4k56s {
    margin: 20px 0 0 0;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #iw9ry {
    margin: 40px 0 0 0;
  }
  #inxkzp {
    max-width: 100%;
  }
  #iu0ph4 {
    max-width: 100%;
  }
  #i93pnp {
    padding: 0 0 0 0;
  }
}
@media (max-width: 767.98px) {
  #ikej4 {
    padding: 0 5px 0 5px;
  }
  #ilg2y {
    font-size: 18px;
    line-height: 26px;
  }
  #ii36b {
    font-size: 18px;
    line-height: 26px;
  }
  #iddm7 {
    font-size: 18px;
    line-height: 26px;
  }
  #ih88w {
    padding: 0 15px 0 5px;
  }
  #ioh08 {
    padding: 0 5px 0 5px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
  #iwnwi {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #i7uoz1 {
    margin: 40px 0 0 0;
  }
  #ipwrvu {
    padding: 0 8px 0 8px;
  }
  #it2quq {
    margin: 20px 0 0 0;
  }
  #ir4gj4 {
    margin: 20px 0 0 0;
  }
  #i21pla {
    width: 100%;
  }
  #ip5nwu {
    width: 100%;
  }
  #iolucm {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  #iv8lr {
    padding: 64px 0 50px 0;
  }
  #in3w {
    opacity: 1;
  }
  #itim2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  #i94cz {
    text-align: left;
  }
  #irklw {
    background-color: transparent;
  }
  #i6iei {
    margin: 0 0 0 10px;
  }
  #i22z {
    padding: 0 0 0 0;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #iwnwi {
    font-size: 12px;
  }
  #ivzll {
    padding: 10px 6px 10px 6px;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  .glac-tab-content-verticle-singapore .tab-content {
    padding: 0;
    margin: 20px 0px 20px 0px;
  }
  #iihhv9 {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
  }
  #ikq9t2 {
    padding: 50px 0 50px 0;
  }
  #ikq9t2-2 {
    padding: 60px 0 50px 0;
  }
  #idym6y {
    font-size: 28px;
    line-height: 35px;
  }
  #i7v4nv {
    padding: 100px 0 50px 0;
  }
  #iuor1k {
    padding: 50px 0 50px 0;
  }
  #i0vgefh {
    padding: 50px 0 100px 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
