@charset "utf-8";
div#i0mfzg > div > .t4b-box {
  transition: all 0.5s ease;
}
div#i0mfzg > div > .t4b-box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
img#i2zjsl {
  animation: gradientAnimation 1s linear infinite;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
ul#iyvon2 li a {
  border: unset;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
#imi1s {
  color: #0093d3;
  font-weight: 700;
}
#itim2 {
  color: #014583;
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 20px 0;
  line-height: 55px;
}
#ixxk9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#i94cz {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 60px 0;
  flex-wrap: wrap;
}
#if9tf {
  color: black;
  height: 40px;
}
#i5xy1 {
  color: #0093d3;
  font-size: 18px;
  margin: 0 0 0 10px;
}
#ihm0x {
  color: black;
}
#ik07m {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iv8lr {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#if4ntao {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 0 0 0 0;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#iwnwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ivzll {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-2 {
  background-color: rgba(128, 128, 69, 0.5);
  width: 1px;
  height: 30px;
  margin: 0 5px 0 5px;
}
#ieyfl-3 {
  background-color: rgba(128, 128, 69, 0.5);
  height: 30px;
  width: 1px;
  margin: 0 5px 0 5px;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#ir7s1 {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#ibi4ln {
  margin: 0 0 40px 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#isvdti {
  line-height: 26px;
  font-size: 20px;
  color: #0093d3;
}
#ib9qbx {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#i6qufw {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#i6qufw:hover {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  border-radius: 10px;
}
#iwhtnj {
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#i3bipg {
  padding: 0 65px 0 15px;
}
#i7swkh {
  padding: 100px 0 100px 0;
  background-color: #fdfdfd;
}
#iwc2ki {
  color: black;
  width: 55px;
}
#izv9fn {
  padding: 0 0 0 0;
  min-height: 40px;
  margin: 0 0 0 0;
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  min-width: 40px;
}
#i0rszu {
  color: #014583;
}
#inj3hk {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#iinzoy {
  color: #014583;
}
#i88o1q {
  padding: 0 0 0 0;
  min-height: 40px;
  margin: 0 0 0 0;
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  min-width: 40px;
}
#iel9gl {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#iu9ikl {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#ibwk5q {
  line-height: 26px;
  font-size: 20px;
  color: #0093d3;
}
#i00877 {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#i00877:hover {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  border-radius: 10px;
}
#i2tqo8 {
  color: #014583;
}
#iakgpd {
  padding: 0 0 0 0;
  min-height: 40px;
  margin: 0 0 0 0;
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  min-width: 40px;
}
#i6xmvj {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#iv3imn {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#iowmq5 {
  line-height: 26px;
  font-size: 20px;
  color: #0093d3;
}
#imia73 {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#imia73:hover {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  border-radius: 10px;
}
#iu64og {
  color: #014583;
}
#ifj6s4 {
  padding: 0 0 0 0;
  min-height: 40px;
  margin: 0 0 0 0;
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  min-width: 40px;
}
#i34m0x {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#idmhdq {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#ilf87p {
  line-height: 26px;
  font-size: 20px;
  color: #0093d3;
}
#ifa6nc {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#ifa6nc:hover {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  border-radius: 10px;
}
#idegh3 {
  color: #014583;
}
#igvuqa {
  padding: 0 0 0 0;
  min-height: 40px;
  margin: 0 0 0 0;
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  min-width: 40px;
}
#idekz9 {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#i0m8n3 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#igt6pq {
  line-height: 26px;
  font-size: 20px;
  color: #0093d3;
}
#iuvo53 {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#iuvo53:hover {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  border-radius: 10px;
}
#irujwi {
  margin: 30px 0 0 0;
}
#i39zhk {
  background-color: #fdfdfd;
}
#ihlu6g {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ig5zue {
  margin: 0 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#ikhdy8 {
  color: black;
  width: 55px;
}
#i9lhs3 {
  color: black;
  border-radius: 8px 8px 8px 8px;
}
#ia66ui {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
}
#i7nxsu {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}
#ifk2sl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 20px;
  right: auto;
  position: absolute;
}
#ido6kj {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
}
#i0atrk {
  color: black;
  border-radius: 8px 8px 8px 8px;
}
#i8kixi {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
}
#i5n44t {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}
#i1wiog {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 20px;
  right: auto;
  position: absolute;
}
#ivot6i {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ijhsff {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
}
#i8w0pb {
  color: black;
  border-radius: 8px 8px 8px 8px;
}
#ig2ehx {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
}
#itszmh {
  color: #0093d3;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}
#i759v7 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 20px;
  right: auto;
  position: absolute;
}
#i8zgfl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iotjmh {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0093d3;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ioat0jn {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#iukxv5m {
  margin: 0 0 0 0;
}
#i4k56s {
  margin: 0 0 0 0;
}
#iecqag {
  margin: 150px 0 0 0;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ikq9t2 {
  padding: 100px 0 100px 0;
  background-color: white;
}
#icyf59j {
  margin: 40px 0 0 0;
}
#ib435y {
  color: black;
  width: 55px;
}
#isx21a {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ia3ht7 {
  color: #0093d3;
}
#i65yh8 {
  display: flex;
}
#i95521 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#i9ava1 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ixssb8 {
  color: #0093d3;
}
#iodvr8 {
  display: flex;
}
#ith1ik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#iuhhui {
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
}
#idym6y {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#iqw001 {
  margin: 0 0 0 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
  font-weight: 400;
}
#i0artk {
  margin: 0 0 10px 0;
}
#i02zxe {
  margin: 0 0 10px 0;
}
#i7qsry {
  margin: 0 0 0 0;
}
#iv8hv1 {
  margin: 0 0 10px 0;
}
#i7r8x4 {
  margin: 0 0 10px 0;
}
#iw8p0r {
  margin: 0 0 0 0;
}
#i9nv0h {
  margin: 0 0 0 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
}
#idxbuq {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#igsqmv {
  background-color: #e9f4f9;
  padding: 50px 0 0 0;
}
#i1tkyr {
  color: black;
  height: 80%;
}
#ipx8zq {
  padding: 60px 20px 20px 20px;
  min-height: 50px;
  background: linear-gradient(
    180deg,
    rgba(42, 146, 205, 1) 0%,
    rgba(27, 64, 125, 1) 100%
  );
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iat13i {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: center;
  color: #fff;
}
#iuqwie {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 0;
  color: #fff;
}
#iv2v9u {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
  color: #808080;
}
#ijv7hb {
  padding: 15px 15px 15px 15px;
  min-height: 0;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #e6f7ff;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#ijd72g {
  color: #0093d3;
  font-size: 40px;
  font-weight: 900;
}
#il9w08 {
  background-size: contain;
  background-position: center bottom;
  opacity: 1;
}
.jch-lazyloaded._jch-id_il9w08 {
  background-image: url(../../../../images/background/hinh-nen-bieu-do.png) !important;
}
#iiz9es {
  background-color: #fdfdfd;
  padding: 50px 0 100px 0;
}
#iwp9d7 {
  padding: 10px 10px 20px 10px;
  margin: 0 0 0 0;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#ivrdi1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}
#i7wwrl {
  margin: 0 0 40px 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#ia2le3 {
  color: black;
  width: 55px;
}
#i1n7ok {
  color: #0093d3;
}
#i5srcl {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iey5ta {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#ix54bf {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#ic1ukc {
  color: black;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}
#ix5nv6 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 20px 0;
}
#i6hefk {
  color: black;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}
#ic8yb9 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 20px 0;
}
#iglrdu {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#iil6cf {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}
#ioqhs5 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#imvsag {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#inwkfu {
  padding: 10px 10px 20px 10px;
  margin: 0 0 0 0;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#iq06om {
  color: black;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}
#im3p3z {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 20px 0;
}
#i2yn6a {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#ius74y {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}
#i5ewfh {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#ibynqg {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iebnnv {
  padding: 10px 10px 20px 10px;
  margin: 0 0 0 0;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#ibdn25 {
  color: black;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}
#i94amc {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 20px 0;
}
#i0nc8h {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#i9se0d {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}
#i1xjqn {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#iir0jz {
  padding: 10px 10px 20px 10px;
  margin: 0 0 0 0;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
}
#i2l7ep {
  color: black;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
}
#ig7g4d {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 20px 0;
}
#ir9l9u {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#ir2coj {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}
#icy4pw {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#idrrrx {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}
#i71zyw {
  padding: 10px 10px 20px 10px;
  margin: 0 0 0 0;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  height: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  overflow: hidden;
}
#i595lo {
  margin: 20px 0 0 0;
}
#icylk3 {
  margin: 20px 0 0 0;
}
#i2zjsl {
  color: black;
  margin: -20px 0 0 10px;
}
#i4y00p3 {
  text-align: center;
  margin: 40px 0 0 0;
}
#itf4d7 {
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  padding: 100px 0 50px 0;
}
#iv0o0o {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ia4ssd {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#icn20l {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#ikst63 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i5a0cs {
  color: black;
  margin: 0 0 20px 0;
}
#i55jlh {
  padding: 0 5% 0 5%;
}
#i07ogf {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#irtmua {
  padding: 0 5% 0 5%;
}
#imp2fg {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#ipwlf3 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i69u44 {
  color: black;
  margin: 0 0 20px 0;
}
#inipra {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iblj6j {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iklz4r {
  margin: 20px -15px 0 -15px;
}
#i14hhn {
  color: #0093d3;
}
#i6rdfj {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#iajnsz {
  color: black;
  width: 55px;
}
#itjo13 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
}
#idc79i {
  padding: 0 5% 0 5%;
}
#icd1ba {
  padding: 0 5% 0 5%;
}
#ivygea {
  color: black;
  margin: 0 0 20px 0;
}
#ix5g2g {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#iqe65r {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iwh3jh {
  padding: 0 5% 0 5%;
}
#im424s {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iy5sm4 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iy43gh {
  padding: 0 5% 0 5%;
}
#itsgjg {
  margin: 20px -15px 0 -15px;
}
#i4n86u {
  color: black;
  margin: 0 0 20px 0;
}
#i4hg8s {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i2siii {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#injk1s {
  padding: 0 5% 0 5%;
}
#ic8grk {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#i8le8p {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ip79xq {
  padding: 0 5% 0 5%;
}
#ipsl1c {
  margin: 20px -15px 0 -15px;
}
#ikn7at {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#izd90d {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ickupu {
  padding: 0 5% 0 5%;
}
#ia0jr1 {
  color: black;
  margin: 0 0 20px 0;
}
#ivks9x {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#ibdzuj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ijzl1j {
  padding: 0 5% 0 5%;
}
#it7xct {
  margin: 20px -15px 0 -15px;
}
#ik8f9b {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#i6xvjg {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i6oaj7 {
  padding: 0 5% 0 5%;
}
#im903x {
  color: black;
  margin: 0 0 20px 0;
}
#iy71v9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#ic4mnt {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iozr0a {
  padding: 0 5% 0 5%;
}
#i456qy {
  margin: 20px -15px 0 -15px;
}
#ioa43m {
  padding: 100px 0 100px 0;
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
}
#i5i5pi {
  font-size: 20px;
  line-height: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
  color: #fff;
}
#iysrc3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 0;
  color: #fff;
}
#ibfgzgs-2 {
  text-align: center;
}
#il6dc4 {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#ij600g {
  color: black;
  width: 55px;
}
#i39ui4 {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#i8jgmj {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 40px 0;
  padding: 0 0 0 0;
}
#i2er0z {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #014583;
  text-align: center;
}
#i878zr {
  padding: 20px 20px 20px 20px;
  min-height: auto;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #f1faff;
  height: 100%;
}
#i5dkop {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#iqucej {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#irh068 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#i469hg {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#isuxhx {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#iwxqno {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 0 0;
}
#ixfttv {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#i6ozpi {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#iczg9n {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#iyuayf {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#i8cg64 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#i9rocf {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#imtcl5 {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#icx48f {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#ippqex {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#ikurlp {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #014583;
  text-align: center;
}
#iogc1m {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#iypmmn {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#i17g0y {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#i89opw {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#ix77m9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#ictvl8 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#imx0jv {
  padding: 20px 20px 20px 20px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #f1faff;
  height: 100%;
}
div#iuub5e > div > .t4b-box {
  transition: all ease 0.5s;
}
div#iuub5e > div > .t4b-box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 20px -15px;
  transform: translateY(-8px);
}
#ii51rq {
  font-size: 20px;
  color: #0093d3;
  line-height: 26px;
}
#ia7l77 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  color: #000;
}
#iuoijw {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
.glac-qb-process li::after {
  background: #0093d38c none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  right: -45%;
  top: 20px;
  width: 85%;
  z-index: -1;
}
.glac-qb-process li.visited::after {
  background: #57b87b;
}
.glac-qb-process li:last-child::after {
  width: 0;
}
.glac-qb-process li {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 0;
}
.glac-qb-process a[aria-expanded="true"] > div {
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fbbc3f !important;
}
.glac-qb-process a[aria-expanded="true"] > p {
  font-weight: 500;
}
#iw7idf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  max-width: 100%;
}
#ic5o5l {
  color: black;
  width: 55px;
  height: 55px;
}
#ivqb3s {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
}
#ij2lqp {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ii15t4 {
  display: flex;
  margin: 4px 4px 4px 4px;
}
#ibc1kh {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i6rakl {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iyga4h {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iq7v6l {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i9kr5r {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iyfkd2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#irsf8q {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iob3uh {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iis9sg {
  padding: 30px 20px 30px 20px;
}
#ikmxlm {
  padding: 30px 20px 30px 20px;
}
#i68094 {
  padding: 30px 20px 30px 20px;
}
#iecjfl {
  padding: 30px 20px 30px 20px;
}
#i6qlhd {
  margin: 0 0 20px 0;
}
#iy38df {
  margin: 0 0 20px 0;
}
#ihcvco {
  margin: 0 0 20px 0;
}
#ie2ixw {
  margin: 0 0 0 0;
}
#iriv9v {
  margin: 0 0 20px 0;
}
#imm8a9 {
  margin: 0 0 20px 0;
}
#i7lj5k {
  margin: 0 0 20px 0;
}
#ift5ud {
  margin: 0 0 20px 0;
}
#ifvyk7 {
  padding: 100px 0 50px 0;
  background-color: #f4fcff;
}
#ijldpf {
  margin: 0 0 0 0;
}
#imex45 {
  margin: 0 0 0 0;
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: #014583;
  font-family: Montserrat;
}
#ihfgnh {
  margin: 0 0 0 0;
}
#iml0zh {
  padding: 0 50px 0 50px;
  min-height: 50px;
  margin: 0 5% 0 5%;
  background: linear-gradient(
    rgb(241, 250, 255) 0%,
    rgb(241, 250, 255) 33.333%,
    rgb(253, 253, 253) 66.667%,
    rgb(253, 253, 253) 100%
  );
  border-radius: 20px 20px 20px 20px;
}
#iinfpj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iu2zyh {
  padding: 50px 20px 50px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ihcak6 {
  color: black;
  top: auto;
  left: auto;
  bottom: 0;
  right: auto;
  position: absolute;
}
#imfi78 {
  margin: 0 0 0 0;
}
#ijw3bs {
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
  padding: 200px 0 100px 0;
}
#i0zf2n {
  color: #0093d3;
}
#i3x3ulg {
  margin: 40px 0 0 0;
}
#iiftcw {
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  opacity: 1;
}
.jch-lazyloaded._jch-id_iiftcw {
  background-image: url(https://globallinkconsulting.sg/images/background/glac-globe-3.png) !important;
}
#iuwpes {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ii2rgg {
  padding: 50px 0 50px 0;
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iiz7f8 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: left;
  color: #fff;
}
#ixgiku {
  font-size: 32px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  text-align: center;
}
#i4y00p3-2 {
  text-align: center;
  margin: 40px 0 0 0;
}
#i0ufk6 {
  background-color: #f4fcff;
  padding: 50px 0 100px 0;
}
#iwgjts {
  padding: 20px 20px 20px 20px;
  margin: 0 0 0 0;
  background-color: #e6f7ff;
  border-radius: 8px 8px 8px 8px;
  height: 100%;
}
#iqqii4 {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ilq206 {
  font-size: 22px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 30px;
}
#ijv4xp {
  color: black;
  margin: 0 0 10px 0;
}
#is7017 {
  color: black;
  margin: 0 0 10px 0;
}
#i4h6tk {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#io5dqf {
  padding: 20px 20px 20px 20px;
  margin: 0 0 0 0;
  background-color: #e6f7ff;
  border-radius: 8px 8px 8px 8px;
  height: 100%;
}
#iehox1 {
  color: black;
  margin: 0 0 10px 0;
}
#intiml {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ibxrgl {
  padding: 20px 20px 20px 20px;
  margin: 0 0 0 0;
  background-color: #e6f7ff;
  border-radius: 8px 8px 8px 8px;
  height: 100%;
}
#i4y00p3-3 {
  text-align: center;
  margin: 40px 0 0 0;
}
div#ixl1c8 > div > .t4b-box {
  transition: all 0.5s ease;
}
div#ixl1c8 > div > .t4b-box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}
#i7my6d {
  background-color: #fdfdfd;
  padding: 100px 0 50px 0;
}
#ivqwfh {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ik44yk {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: center;
  color: #fff;
}
#i1hv8x {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
  color: #fff;
}
#iiwz39 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 0;
  color: #fff;
}
#i5gjef {
  color: #0093d3;
  font-size: 40px;
  font-weight: 900;
}
#i5utdi {
  padding: 15px 15px 15px 15px;
  min-height: 0;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#iyko7g {
  margin: 40px 0 0 0;
  text-align: center;
}
#iclbzz {
  padding: 60px 20px 20px 20px;
  min-height: 50px;
  background: linear-gradient(
    180deg,
    rgba(42, 146, 205, 1) 0%,
    rgba(27, 64, 125, 1) 100%
  );
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#i4i4s4 {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
}
#i8fkhh {
  color: black;
  width: 55px;
  height: 55px;
}
#i2juou {
  color: #0093d3;
}
#imakur {
  margin: 40px 0 0 0;
  text-align: left;
  gap: 20px;
}
#ig6wvl {
  color: #fff;
}
#iuebrd {
  color: #fff;
}
#iqlnla {
  border: 1.25px solid #fff;
}
#i2ta0g {
  padding: 0 30px 0 30px;
}
#ikjs7e {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#i63xpb {
  border-top: 25px solid #f2f2f2;
  border-left: 30px solid transparent;
  position: absolute;
  left: -25px;
  top: 0;
}
#ittbtu {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 0 10px 10px 10px;
  background-color: #f2f2f2;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
}
#ikg7qe {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ieey2k {
  border-top: 25px solid #f2f2f2;
  border-left: 30px solid transparent;
  position: absolute;
  left: -25px;
  top: 0;
}
#i6a9ib {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 40px 0;
  border-radius: 0 10px 10px 10px;
  background-color: #f2f2f2;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
}
#ib4xcz {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#i6w5tz {
  margin: 0 0 0 0;
  line-height: 26px;
  font-size: 18px;
}
#igm0lb {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 20px 0;
}
#i4suai {
  color: black;
  width: 55px;
  height: 55px;
}
#i4y00p3-4 {
  margin: 40px 0 0 0;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
#i65kcv {
  width: 55px;
}
#ia8vjeg {
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
#ibmohk {
  background-color: #f1faff;
  padding: 100px 0 28px 0;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#id8azb {
  background-color: #fdfdfd;
  padding: 50px 0 100px 0;
}
#il1w3d {
  margin: 0 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#ilow4l {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i136n1 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iso7rd {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 30px 0 0 0;
  transform: translateX(100%);
}
#isirsj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 40px 0 0 0;
}
#iz8dbl {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#i9r6jx {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#ie1ayg {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#ic4idg {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#ijlmri {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#izfjl9 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iv0avl {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#i5htc8 {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#io4em7 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#innq8j {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#ir5iwg {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#islixw {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#igskef {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#iikuxy {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
div#ix0os4 > div > div > .t4b-box {
  background: linear-gradient(
    rgb(149, 206, 226) 0%,
    rgb(149, 206, 226) 50%,
    rgb(214, 246, 255) 100%
  );
  border-radius: 10px;
  padding: 65px 0px 30px 0px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 20px -20px;
}
div#ix0os4 > div > div > .t4b-box:hover {
  filter: drop-shadow(0 8px 0.25rem #3dccff6e);
  transition: all 0.3s ease;
}
#ikrh9u {
  text-align: center;
  margin: 30px 0 0 0;
}
#ixdxv9 {
  text-align: center;
  margin: 30px 0 0 0;
}
#ixkqsf {
  text-align: center;
  margin: 30px 0 0 0;
}
#i2wz0l {
  text-align: center;
  margin: 30px 0 0 0;
}
#i3o25l {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iywwgv {
  color: black;
  width: 60px;
}
#i6mcne {
  color: black;
  width: 60px;
}
#ifd09x {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#i2ppwi {
  color: black;
  width: 60px;
}
#ie3k8e {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iozsdh {
  color: black;
  width: 60px;
}
#i4tsfe {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#ie1ayg {
  transform: translateY(calc(50% + 40px));
}
#ijlmri {
  transform: translateY(calc(50% + 40px));
}
#ijecer {
  background-size: contain;
  background-position: left bottom;
}
.jch-lazyloaded._jch-id_ijecer {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/glac-globe-2.png) !important;
}
#ihhbjj {
  padding: 15px 0 15px 0;
  margin: 0 0 0 0;
}
#igcabf {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
#ii084p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50% 50% 50% 50%;
}
#iporez {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
#i8aw9o {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50% 50% 50% 50%;
}
#i5tmb4 {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
#ikehox {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50% 50% 50% 50%;
}
#ivjm8l {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
#ijh2bh {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50% 50% 50% 50%;
}
#i95dih {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
#ikackt {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50% 50% 50% 50%;
}
#ihhbjj {
  gap: 10px;
}
#icqpmj {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#ii4jp3 {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#i34yhp {
  border-top: 25px solid #f2f2f2;
  border-left: 30px solid transparent;
  position: absolute;
  left: -25px;
  top: 0;
}
#ipkd0l {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 40px 0;
  border-radius: 0 10px 10px 10px;
  background-color: #f2f2f2;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
}
#i3czxz {
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
  border-radius: 10px 10px 10px 10px;
}
.jch-lazyloaded._jch-id_i3czxz {
  background-image: url("https://globallinkconsulting.sg/images/background/hinh-nen-3.png") !important;
}
#iubrdf {
  padding: 8px 10% 8px 10%;
  margin: 0 0 0 0;
  position: absolute;
  right: -52px;
  top: 7%;
  transform: rotateZ(38deg);
  background: #0093d3;
}
#ivu5pt {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff;
}
#i48wcm {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i754fx {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#i01c5x {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
}
@media (max-width: 991.98px) {
  #i3bipg {
    padding: 0 15px 0 15px;
  }
  #ihlu6g {
    text-align: center;
  }
  #i4od13 {
    margin: 20px 0 0 0;
  }
  #i8zgfl {
    text-align: center;
  }
  #ib7we8 {
    margin: 20px 0 0 0;
  }
  #ivot6i {
    text-align: center;
  }
  #i401qw {
    background-image: url(https://globallinkconsulting.sg/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.11;
  }
  #itim2 {
    text-align: center;
  }
  #iw1i7h {
    margin: 20px 0 0 0;
  }
  #ibfgzgs-2 {
    margin: 20px 0 0 0;
  }
  #i7bp74 {
    margin: 20px 0 0 0;
  }
  #iml0zh {
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;
  }
  #ihcak6 {
    left: 0;
  }
  #ijw3bs {
    padding: 50px 0 50px 0;
  }
  #iwiaq3 {
    margin: 20px 0 0 0;
  }
  #ibxrgl {
    margin: 0 0 0 0;
  }
  #i0ufk6 {
    padding: 50px 0 100px 0;
  }
  #ii2rgg {
    padding: 60px 0 60px 0;
  }
  #io5dqf {
    margin: 0 0 0 0;
  }
  #iwh68c {
    margin: 20px 0 0 0;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #il1w3d {
    margin: 0 0 40px 0;
  }
  #i3czxz {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
  #iwnwi {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #i7swkh {
    padding: 0 0 50px 0;
  }
  #iea0t {
    text-align: center;
    margin: 20px 0 0 0;
  }
  #iv0o0o {
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
  }
  #iblj6j {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
  }
  #iqe65r {
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
  }
  #i2siii {
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
  }
  #ibdzuj {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
  }
  #ic4mnt {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
  }
  #ijw3bs {
    padding: 50px 0 50px 0;
  }
  #i2ta0g {
    margin: 0 0 40px 0;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #iso7rd {
    transform: translateX(0);
  }
  #ie1ayg {
    transform: translateY(0) translateX(0) translateX(0);
  }
  #izfjl9 {
    margin: 60px 0 0 0;
  }
  #ijlmri {
    transform: translateY(0) translateX(0) translateX(0);
  }
  #io4em7 {
    margin: 60px 0 0 0;
  }
}
@media (max-width: 575.98px) {
  #iv8lr {
    padding: 64px 0 50px 0;
  }
  #in3w {
    opacity: 1;
  }
  #itim2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  #i94cz {
    text-align: left;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #iwnwi {
    font-size: 12px;
  }
  #ivzll {
    padding: 10px 6px 10px 6px;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  #i7swkh {
    padding: 0 0 50px 0;
  }
  #iea0t {
    text-align: center;
    margin: 0 0 10px 0;
  }
  #ir7s1 {
    margin: 20px 0 0 0;
  }
  #i9lhs3 {
    margin: 10px 0 0 0;
  }
  #i0atrk {
    margin: 10px 0 0 0;
  }
  #i8w0pb {
    margin: 10px 0 0 0;
  }
  #ikq9t2 {
    padding: 60px 0 100px 0;
  }
  #idym6y {
    font-size: 28px;
    line-height: 35px;
  }
  #i5h1he {
    margin: 20px 0 0 0;
  }
  #ic4mnt {
    padding: 20px 20px 20px 20px;
  }
  #iv0o0o {
    padding: 20px 20px 20px 20px;
  }
  #iblj6j {
    padding: 20px 20px 20px 20px;
  }
  #iqe65r {
    padding: 20px 20px 20px 20px;
  }
  #i2siii {
    padding: 20px 20px 20px 20px;
  }
  #il1w3d {
    margin: 0 0 60px 0;
    font-size: 28px;
    line-height: 35px;
  }
  #ig5zue {
    font-size: 28px;
    line-height: 35px;
  }
  #ibi4ln {
    font-size: 28px;
    line-height: 35px;
  }
  #igsqmv {
    padding: 100px 0 0 0;
  }
  #i7wwrl {
    font-size: 28px;
    line-height: 35px;
  }
  #i6rdfj {
    font-size: 28px;
    line-height: 35px;
  }
  #il6dc4 {
    font-size: 28px;
    line-height: 35px;
  }
  #ivqb3s {
    font-size: 28px;
    line-height: 35px;
  }
  #igm0lb {
    font-size: 28px;
    line-height: 35px;
  }
  #imex45 {
    font-size: 24px;
  }
  #ixgiku {
    font-size: 28px;
    line-height: 35px;
  }
  #i4i4s4 {
    font-size: 28px;
    line-height: 35px;
  }
  #ilq206 {
    font-size: 22px;
    line-height: 30px;
  }
  #ia8vjeg {
    font-size: 28px;
    line-height: 35px;
  }
  #i63205z {
    font-size: 28px;
    line-height: 35px;
  }
  #i3czxz {
    border-radius: 0 0 0 0;
    margin: 40px 0 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #i2l7ep {
    min-height: 200px;
  }
  #iubrdf {
    padding: 8px 80px 8px 80px;
  }
  #ivu5pt {
    font-size: 14px;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
