@charset "utf-8";
body {
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}
.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
#i2he8 {
  display: block;
  padding: 5px 15px 5px 15px;
}
#i0bet {
  color: #0093d3;
  font-weight: 700;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  background-color: rgba(157, 214, 234, 0.53);
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  line-height: 26px;
}
#i2wun {
  display: flex;
  border-radius: 20px 20px 20px 20px;
}
#iah3o-4-3 {
  float: right;
  line-height: inherit;
}
#iah3o-4-4 {
  float: right;
  line-height: inherit;
}
.glac-incor-accordion > .t4b-accordion .card-header span {
  border-radius: 20px;
}
.glac-incor-accordion .t4b-accordion .card {
  border: unset;
  border-radius: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
.glac-incor-accordion .t4b-accordion .card-body .card-body-inner {
  padding: 15px 10px;
}
.glac-incor-accordion .t4b-accordion .card .card-header {
  border: unset;
}
.glac-accordion-link {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}
.glac-accordion-link:hover {
  background: rgb(241, 250, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
.glac-accordion-link:hover a {
  color: #0093d3;
}
.glac-accordion-link a {
  color: unset;
}
.glac-accordion-link a:hover {
  text-decoration: none;
}
#i546 {
  border: 0 solid #212529;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(255, 255, 255) 50%,
    rgb(255 255 255) 51%,
    rgb(251 252 253) 75%,
    #cdefff 100%
  );
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  direction: 87deg;
  margin: 0 0 0 0;
  padding: 70px 0 0 0;
}
#i0bet-2 {
  color: #0093d3;
  background-color: rgba(157, 214, 234, 0.53);
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  line-height: 26px;
}
#i0bet-3 {
  color: #0093d3;
  background-color: rgba(157, 214, 234, 0.53);
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  line-height: 26px;
}
#i0bet-4 {
  color: #0093d3;
  background-color: rgba(157, 214, 234, 0.53);
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  line-height: 26px;
}
#ijxbg {
  padding: 30px 0 0 0;
}
#i2he8-2 {
  padding: 5px 15px 5px 15px;
}
#i2he8-3 {
  padding: 5px 15px 5px 15px;
}
#i2he8-4 {
  padding: 5px 15px 5px 15px;
}
#i6144e {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: -30px auto 0 auto;
  float: none;
  overflow: initial;
  display: block;
  width: auto;
  max-width: 70%;
}
#i45yj8 {
  text-align: left;
  color: #808080;
  font-weight: 700;
  line-height: 40px;
  margin: 0 0 20px 0;
}
.t4b-fd__flat-78 .owl-theme .owl-dots .owl-dot span {
  display: none;
}
.t4b-jc__flat-9 .item-title {
  font-family: "Montserrat";
  color: #0093d3;
  font-weight: 500;
  font-size: 15px;
}
.t4b-jc__flat-9 .t4b-jcontent-item {
  padding: 0px 30px;
}
#iz4ua8 {
  color: black;
  margin: 39px 0 0 0;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
}
#i0p6qi {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#ieixhe {
  background-color: #fff;
  padding: 92px 0 60px 0;
}
#ie9nvw {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  display: block;
  line-height: 40px;
  margin: 0 0 20px 0;
}
#im81b9 {
  color: #000;
  font-weight: 400;
  line-height: 22.5px;
  font-size: 15px;
  font-family: inherit;
}
#ipejmz {
  color: black;
  width: 55px;
  height: 50px;
}
.t4b-section.t4b-fd__faq-3 {
  font-family: unset;
}
.t4b-fd__faq-3 .t4b-accordion-style-3 .card-header-title {
  font-family: unset;
}
#izuykj {
  text-transform: normal;
  font-weight: 700;
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
}
#iqs9so {
  text-transform: normal;
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
}
#iauqcb {
  font-size: 30px;
  font-weight: 700;
  color: #808080;
}
#ikm93a {
  color: black;
  width: 50px;
  height: 50px;
}
#iet32s {
  color: #0093d3;
}
#izydwc {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i41kgg {
  color: #0093d3;
}
#iq82ir {
  color: #0093d3;
}
#ixzf9y {
  text-transform: default;
  font-weight: 700;
  color: #0093d3;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
}
#i0v6rk {
  color: #0093d3;
}
#i1r5t5 {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#iqy1s4 {
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
}
#itgr3t {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#im8swb {
  color: #0093d3;
}
#ieogdo {
  color: #0093d3;
  font-weight: 700;
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#ifvyfl {
  color: #0093d3;
}
#ifvphj {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#ij2mkx {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
}
#ii58af {
  color: #0093d3;
}
#ivtv4m {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#ipzx6i {
  height: auto;
}
#iuyjqj {
  border: 0 solid;
  max-width: auto;
}
#ivrf0z {
  display: flex;
}
#iwsamp {
  display: block;
  padding: 0 0 0 0;
}
#icuick {
  padding: 60px 0 60px 0;
  background-color: #fff;
}
#immfw8 {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#ijc1vz {
  color: #000;
  font-size: 18px;
}
#i4j83u {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i0hcoq {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#i2jndt {
  color: #000;
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
}
.jpb-page .nav-tabs .glac-tab .nav-link {
  width: auto;
}
.t4b-tabs-vertical .tab-content {
  min-height: 100%;
  padding: 1rem 3rem;
  border: none;
}
#iig2dk {
  margin: 40px 0 0 0;
}
#ia4hrh {
  margin: 0 0 0 0;
}
#ipe4b {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-2 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-3 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-4 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-5 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-6 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-2-2 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-7 {
  font-size: 18px;
  line-height: 26px;
}
#ipe4b-8 {
  font-size: 18px;
}
#ipe4b-3-4 {
  font-size: 18px;
}
#ipe4b-4-4 {
  font-size: 18px;
  line-height: 26px;
}
#imi1s {
  color: #0093d3;
  font-weight: 700;
}
#itim2 {
  color: #014583;
  font-weight: 700;
  font-size: 51px;
  margin: 0 0 20px 0;
}
#ixxk9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#i94cz {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
#ihm0x {
  color: black;
}
#ik07m {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iv8lr {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#i096ch {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
}
#iocp4q {
  color: black;
  width: 55px;
  height: 55px;
}
#ir1sjp {
  padding: 15px 8px 15px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#iocuo7 {
  color: black;
  margin: 0 8px 0 0;
  width: 30px;
}
#i6wmsa {
  color: #0d2d4f;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
  font-weight: 700;
}
#i971zl {
  color: black;
  margin: 0 8px 0 0;
  width: 30px;
}
#iitbcf {
  color: #0d2d4f;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
  font-weight: 700;
}
#ia6c9u {
  padding: 15px 8px 15px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
div#ipcttj > .t4b-box {
  transition: all ease 0.5s;
}
div#ipcttj > .t4b-box:hover {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#is9nna {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 8px 0 0;
}
#iy9o3l {
  text-align: left;
  color: #0f4482;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 0 0;
  font-size: 24px;
  font-family: Roboto;
}
#imntd1 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#iigxtx {
  color: black;
  margin: 0 0 0 0;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
  transform: scaleX(-1);
}
#i5eiwl {
  padding: 50px 0 50px 0;
  background-color: #fff;
}
#iniyl9 {
  min-height: 50px;
  margin: 0 0 20px 0;
}
#id3fsg {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#imrrc7 {
  color: black;
  margin: 0 8px 0 0;
}
#icklkg {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ihadro {
  color: black;
  margin: 0 8px 0 0;
}
#ixkuza {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#icbq9i {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#i31w0l {
  color: black;
  margin: 0 8px 0 0;
}
#ivmiig {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i7mqrk {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#ijsnxr {
  color: black;
  margin: 0 8px 0 0;
}
#isco12 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i73426 {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#i6283e {
  color: black;
  margin: 0 8px 0 0;
}
#ixq3rc {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#in9z06 {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
.glac-qb-process li::after {
  background: #0093d38c none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  right: -45%;
  top: 20px;
  width: 85%;
  z-index: -1;
}
.glac-qb-process li.visited::after {
  background: #57b87b;
}
.glac-qb-process li:last-child::after {
  width: 0;
}
.glac-qb-process li {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 0;
}
.glac-qb-process a[aria-expanded="true"] > div {
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fbbc3f !important;
}
.glac-qb-process a[aria-expanded="true"] > p {
  font-weight: 500;
}
#iw7idf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  max-width: 55%;
}
#ivqb3s {
  font-size: 24px;
  font-weight: 700;
  color: #0f4482;
  margin: 0 0 20px 0;
  font-family: Roboto;
  line-height: 28px;
}
#ij2lqp {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ii15t4 {
  display: flex;
  margin: 4px 4px 4px 4px;
}
#ibc1kh {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i2of1i {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i6rakl {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iyga4h {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iq7v6l {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i9kr5r {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iyfkd2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#irsf8q {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#i8xzg9 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iob3uh {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iis9sg {
  padding: 30px 20px 30px 20px;
  background-color: #fff;
}
#ikmxlm {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#i68094 {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#iecjfl {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#i1lxvr {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#i6qlhd {
  margin: 0 0 20px 0;
}
#iy38df {
  margin: 0 0 0 0;
}
#ihcvco {
  margin: 0 0 20px 0;
}
#ie2ixw {
  margin: 0 0 0 0;
}
#iriv9v {
  margin: 0 0 20px 0;
}
#imm8a9 {
  margin: 0 0 0 0;
}
#i7lj5k {
  margin: 0 0 0 0;
}
#ift5ud {
  margin: 0 0 20px 0;
}
#ibv6fj {
  margin: 0 0 20px 0;
}
#i3za41 {
  margin: 0 0 0 0;
}
#ifvyk7 {
  padding: 50px 0 100px 0;
  background-color: #e9f4f9;
}
#i4y00p3-2 {
  text-align: center;
  margin: 40px 0 0 0;
}
#id8azb {
  background-color: #fdfdfd;
  padding: 135px 0 100px 0;
}
#il1w3d {
  margin: 0 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#ilow4l {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i136n1 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  transform: translateY(50%);
}
#iso7rd {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 30px 0 0 0;
  transform: translateX(100%);
}
#isirsj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 40px 0 0 0;
}
#iz8dbl {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#i9r6jx {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#ie1ayg {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#ic4idg {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#ijlmri {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#izfjl9 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  transform: translateY(50%);
}
#iv0avl {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#i5htc8 {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#io4em7 {
  padding: 0 10px 0 10px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#innq8j {
  padding: 8px;
  margin: 0 0 0 0;
  height: 100%;
}
#ir5iwg {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#islixw {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#igskef {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
#iikuxy {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  text-align: center;
}
div#ix0os4 > div > div > .t4b-box {
  background: linear-gradient(
    rgb(149, 206, 226) 0%,
    rgb(149, 206, 226) 50%,
    rgb(214, 246, 255) 100%
  );
  border-radius: 10px;
  padding: 65px 0px 30px 0px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 20px -20px;
}
div#ix0os4 > div > div > .t4b-box:hover {
  filter: drop-shadow(0 8px 0.25rem #dddddd);
  transition: all 0.3s ease;
}
#ikrh9u {
  text-align: center;
  margin: 30px 0 0 0;
}
#ixdxv9 {
  text-align: center;
  margin: 30px 0 0 0;
}
#ixkqsf {
  text-align: center;
  margin: 30px 0 0 0;
}
#i2wz0l {
  text-align: center;
  margin: 30px 0 0 0;
}
#i3o25l {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iywwgv {
  color: black;
  width: 60px;
}
#i6mcne {
  color: black;
  width: 60px;
}
#ifd09x {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#i2ppwi {
  color: black;
  width: 60px;
}
#ie3k8e {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iozsdh {
  color: black;
  width: 60px;
}
#i4tsfe {
  padding: 5px 5px 5px 5px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 50% 50% 50% 50%;
  background-color: #95cee2;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    90deg,
    rgb(149, 206, 226) 0%,
    rgb(214, 246, 255) 50%,
    rgb(149, 206, 226) 100%
  );
}
#iwuygkt {
  background-size: auto;
  background-position: left bottom;
}
.jch-lazyloaded._jch-id_iwuygkt {
  background-image: url(../../../../../globallinkconsulting.hk/images/background/glac-globe-2.html) !important;
}
#i67cs0b {
  color: black;
  margin: 0 0 0 0;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
}
#i3fsejo {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i8g6duz {
  color: black;
  margin: 0 8px 0 0;
  width: 50px;
}
#idf6hud {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iktzfgs {
  padding: 10px 8px 10px 8px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#irw27kh {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iwwgnds {
  padding: 10px 8px 10px 8px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#ia8goni {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#izxiigi {
  padding: 10px 8px 10px 8px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#irs72w9 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i1ekbyy {
  padding: 10px 8px 10px 8px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#iq3kb35 {
  padding: 100px 0 100px 0;
  background-color: #f1faff;
}
#i7dt74i {
  margin: 0 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  line-height: 40px;
}
#iwu9pzf {
  color: black;
  margin: 0 8px 0 0;
  width: 50px;
}
#i0k8of1 {
  color: black;
  margin: 0 8px 0 0;
  width: 50px;
}
#i9no0rm {
  color: black;
  margin: 0 8px 0 0;
  width: 50px;
}
div#ipi9rfh > .t4b-box {
  transition: all 0.3s ease;
}
div#ipi9rfh > .t4b-box:hover {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
  cursor: pointer;
}
div#in7ne9 > div > .t4b-box {
  transition: all 0.4s ease;
}
div#in7ne9 > div > .t4b-box:hover {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transform: translateY(-8px);
}
div#isv0eep > div > .t4b-box {
  transition: all 0.4s ease;
}
div#isv0eep > div > .t4b-box:hover {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transform: translateY(-8px);
}
#irhjyr {
  padding: 50px 0 50px 0;
  background-color: #fff;
}
#ike1uj {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#i87zo4 {
  color: black;
  width: 55px;
}
#itu8lo {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#ikpxwv {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
  max-width: 80%;
}
#i8nqhk {
  color: black;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}
#ilutkv {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i58mne {
  margin: 40px 0 0 0;
  text-align: center;
}
#ik3r4m {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iubo91 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#iuf52l {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iy1jdi {
  text-align: center;
  top: auto;
  left: 50%;
  bottom: 15px;
  right: auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 0 0 0;
}
#iyiz5f {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iiuapy {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iykdvw {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#io3h96 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iw41mh {
  margin: 40px 0 0 0;
  text-align: center;
}
#ihvtv7 {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#in7ne9 {
  margin: 0 -15px 40px -15px;
}
#i8yfjvk {
  color: black;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}
#iqkacc2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#ir3os4j {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#ifvsxrz {
  margin: 40px 0 0;
  text-align: center;
}
#im0fgmg {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#ist8rgh {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iu1g4f7 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#i8rszih {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#ivp4u0j {
  margin: 40px 0 0 0;
  text-align: center;
}
#i04i0zu {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#i1qoa1d {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#idmobrn {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
  font-family: Roboto;
  text-align: center;
}
#iko5t8m {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 40px 0;
}
#iekv2la {
  margin: 0 0 6px 0;
  text-align: center;
  top: auto;
  left: 50%;
  bottom: 15px;
  right: auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
#is7ah5f {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ixetzai {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 40px 0;
  max-width: 80%;
}
#inyzqt {
  padding: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iz92f3 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 40px 0;
}
#i7p2vg {
  color: black;
  width: 170px;
}
#ihy7xy {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#ie37r3 {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iju73f {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: Roboto;
  line-height: 35px;
}
#ivdn0g {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i6bb05 {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#i70766 {
  color: #000;
}
#ic637t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#isqxnn {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#i8msmb {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 50px 0 100px 0;
}
#ih8uab {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#iyau7p {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#iknd7y {
  color: #000;
}
#ilaylc {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#iij3jf {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i0zice {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#igp8jj {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#igp8jj:hover {
  scale: 1.02;
}
#iblan8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#i0kqkz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 0 0 16px 0;
}
#ik9xbr {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i9x38m {
  padding: 5px 5px 0 5px;
}
#iycuxy {
  color: #0093d3;
}
#ik8lhj {
  color: #000;
  font-size: 13px;
}
#ik9xbr:hover {
  color: #0093d3;
}
#ik8lhj:hover {
  color: #0093d3;
}
#i9x38m:hover {
  color: #0093d3;
  scale: 1.02;
}
#ijz901 {
  color: #0093d3;
}
#iiezih {
  color: #000;
  font-size: 13px;
}
#iiezih:hover {
  color: #0093d3;
}
#iouzji {
  padding: 0 5px 5px 5px;
}
#iouzji:hover {
  color: #0093d3;
  scale: 1.02;
}
#icen34 {
  padding: 0 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#icen34:hover {
  color: #0093d3;
}
#i7xc89 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#idxzm7 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#iapj93 {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: none;
  padding: 13px 17px 13px 17px;
}
#iapj93:hover {
  scale: 1.02;
}
k2t6i {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ixq2msm {
  border-radius: 10px 10px 10px 10px;
}
#iarz7pj {
  margin: 0 0 40px 0;
  line-height: 26px;
  font-size: 18px;
}
#i2hiorv {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 40px 0 0 0;
}
#iay28qd {
  padding: 40px 40px 40px 40px;
  min-height: 50px;
  margin: 0 -15px 0 -15px;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(
    135deg,
    rgb(202, 233, 240) 0%,
    rgb(195, 239, 253) 50%,
    rgb(91, 195, 255) 100%
  );
}
#iw29stb {
  padding: 0 15px 0 15px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i9698bk {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#it1je7o {
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0d2d4f;
  font-size: 22px;
}
#ie4qqri {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}
#izuxir9 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#idek8e4 {
  color: black;
  margin: 0 0 0 0;
  width: 50px;
}
#iys5ums {
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0d2d4f;
  font-size: 22px;
}
#idkh15s {
  color: black;
  margin: 0 0 0 0;
  width: 50px;
}
#isydp8k {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#iz7z1bj {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ixker67 {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}
#ikxp9x5 {
  padding: 0 15px 0 15px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ihcppnd {
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0d2d4f;
  font-size: 22px;
}
#it7pro9 {
  color: black;
  margin: 0 0 0 0;
  width: 50px;
}
#ii6wvci {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#ivd9d56 {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ix0s3kg {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}
#i7nzpl9 {
  padding: 0 15px 0 15px;
  min-height: 50px;
  margin: 40px 0 0 0;
}
#ikggtvx {
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0d2d4f;
  font-size: 22px;
}
#iilwds6 {
  color: black;
  margin: 0 0 0 0;
  width: 50px;
}
#i8pic9z {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#iezj94f {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#igjln4g {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  height: 100%;
}
#iv992gg {
  padding: 0 15px 0 15px;
  min-height: 50px;
  margin: 40px 0 0 0;
}
#iay28qd > .cell > .t4b-box:hover {
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
}
#iay28qd > .cell > .t4b-box:hover p {
  color: white;
}
#i4y00p3-3 {
  text-align: center;
  margin: 40px 0 0 0;
}
#iaew133 {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i6z7p83 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#ikm88qc {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#izs2nah {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#imqic23 {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#ie63ndi {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#idp2evk {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i2nnqz2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#ioci0qk {
  display: flex;
  margin: 4px 4px 4px 4px;
}
#ieayxjm {
  margin: 0 0 20px 0;
}
#ik99wfk {
  margin: 0 0 0 0;
}
#iryktyq {
  padding: 30px 20px 30px 20px;
  background-color: #fff;
}
#iroa3c5 {
  margin: 0 0 20px 0;
}
#i40noqw {
  margin: 0 0 0 0;
}
#igq8usv {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#ig1pbek {
  margin: 0 0 20px 0;
}
#i0o6one {
  margin: 0 0 0 0;
}
#ij4vpmp {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#iguu20c {
  margin: 0 0 20px 0;
}
#ie0056h {
  margin: 0 0 20px 0;
}
#imfwacx {
  background-color: #fff;
  padding: 30px 20px 30px 20px;
}
#ieddy3j {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i1odr9z {
  text-align: center;
  margin: 40px 0 0 0;
}
#i21dy4j {
  padding: 50px 0 100px 0;
  background-color: #e9f4f9;
}
#iyamkni {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  display: block;
  line-height: 40px;
  margin: 0 0 20px 0;
}
#igb1ch8 {
  color: black;
  width: 50px;
  height: 50px;
}
#i38ofv8 {
  margin: 0 0 20px 0;
  line-height: 26px;
  font-size: 18px;
}
#iy0sv8b {
  margin: 0 0 0 0;
}
#iocakqr {
  margin: 10px 0 0 0;
  font-size: 18px;
  border: 0 solid #000;
  color: #000;
}
#ijn84r {
  font-weight: 400;
  color: #000;
}
#in3a4u {
  font-weight: 400;
  color: #000;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
  font-family: Montserrat;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-color: white;
}
#i31yrg {
  color: black;
  max-width: 100%;
  width: 100px;
}
#i42b2w {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#ixvgs7 {
  text-align: center;
}
#ilxlte {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#il0sti {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#idihul {
  color: black;
  width: 45px;
  height: 45px;
}
#i35ezl {
  font-size: 25px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#if9ytq {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i4c21e {
  padding: 8px;
  min-height: 50px;
}
#ibs5ni {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 30px;
}
#iso2he {
  color: black;
  width: 45px;
  height: 45px;
}
#idi95k {
  font-size: 25px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#i4k1mf {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i67vul {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i5tc3g {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
}
#iru4rp {
  color: black;
  width: 45px;
  height: 45px;
}
#i6v4zj {
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  font-size: 25px;
}
#ih107l {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#itks2i {
  padding: 8px;
  min-height: 50px;
}
#i2kol7 {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#ip3qhp {
  padding: 27px 0 2px 0;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  transform: translateY(50%);
  box-shadow: 0 9px 7px 0 rgba(0, 0, 0, 0.14);
}
#ib0l78 {
  padding: 0 0;
  margin: -45px 0 0 0;
}
#ifchs {
  margin: 0 10% 0 10%;
}
#iej22 {
  width: 35px;
  margin: 0 8px 0 0;
}
#ixqn9 {
  width: 35px;
  margin: 0 8px 0 0;
}
#inr6m {
  margin: 0 8px 0 0;
  width: 35px;
}
#ikmrw {
  margin: 0 8px 0 0;
  width: 35px;
}
#idqj3 {
  margin: 0 8px 0 0;
  width: 35px;
}
#iej22-2 {
  width: 35px;
  margin: 0 8px 0 0;
}
#is9f5 {
  width: 35px;
  margin: 0 8px 0 0;
}
#iej22-3 {
  width: 35px;
  margin: 0 8px 0 0;
}
#iej22-4 {
  width: 35px;
  margin: 0 8px 0 0;
}
#ixo6yf {
  margin: 0 8px 0 0;
  width: 35px;
}
#iqh0op {
  margin: 0 8px 0 0;
  width: 35px;
}
#i237kn {
  color: black;
  width: 55px;
}
#ittz75 {
  color: black;
  width: 55px;
}
#ih58in {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i8gsgm {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ip4bx7 {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#i0a4e8 {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ikcj8d {
  margin: 0 0 0 0;
}
#i65c4g {
  padding: 0 0 0 15px;
}
#i8vlg {
  float: right;
}
#iws4l {
  float: right;
}
#iw6gdy {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#iaisbx {
  color: black;
  margin: 0 8px 0 0;
}
#i9jo02 {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i4dmv8 {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#is24ko {
  color: black;
  margin: 0 8px 0 0;
}
#icsfqe {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ihoikx {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#is3rqj {
  margin: 0 0 0 0;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
}
#iwj97f {
  color: #000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}
#ifzcil {
  font-family: inherit;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#i0ythc {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
#idq9ym {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 1199.98px) {
  #iah3o-4-3 {
    float: right;
  }
  #iah3o-4-4 {
    float: right;
  }
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
  #i35ezl {
    font-size: 30px;
  }
  #if9ytq {
    font-size: 15px;
  }
  #ibs5ni {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #idi95k {
    font-size: 30px;
  }
  #i4k1mf {
    font-size: 15px;
  }
  #i5tc3g {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i6v4zj {
    font-size: 30px;
  }
  #ih107l {
    font-size: 15px;
  }
  #i2kol7 {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #ifchs {
    margin: 0 5% 0 5%;
  }
  #iw41mh {
    margin: 10px 0 0 0;
  }
  #ivp4u0j {
    margin: 60px 0 0 0;
  }
}
@media (max-width: 991.98px) {
  #iah3o-4-3 {
    float: right;
  }
  #iah3o-4-4 {
    float: right;
  }
  #izzx87e {
    background-image: url(https://globallinkconsulting.sg/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.08;
  }
  #it78mf {
    margin: 20px 0 0 0;
  }
  #il1w3d {
    margin: 0 0 40px 0;
  }
  #i7dt74i {
    margin: 0 0 40px 0;
  }
  #ike1uj {
    text-align: center;
  }
  #iykdvw {
    text-align: center;
  }
  #iubo91 {
    text-align: center;
  }
  #iqzybj {
    margin: 40px 0 0 0;
  }
  #iaqob1 {
    margin: 40px 0 0 0;
  }
  #iiuapy {
    width: 100%;
  }
  #ik3r4m {
    width: 100%;
  }
  #iqkacc2 {
    text-align: center;
  }
  #ist8rgh {
    width: 100%;
  }
  #iu1g4f7 {
    text-align: center;
  }
  #i96gdzg {
    margin: 40px 0 0 0;
  }
  #i1qoa1d {
    width: 100%;
  }
  #idmobrn {
    text-align: center;
  }
  #iv7pjod {
    margin: 40px 0 0 0;
  }
  #ivp4u0j {
    margin: 20px 0 0 0;
  }
  #iw41mh {
    margin: 20px 0 0 0;
  }
  #i58mne {
    margin: 20px 0 0 0;
  }
  #ic637t {
    width: 100%;
  }
  #ilaylc {
    width: 100%;
  }
  #iw7idf {
    max-width: 100%;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #i35ezl {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #if9ytq {
    text-align: center;
  }
  #ibs5ni {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #idi95k {
    font-size: 25px;
    text-align: center;
  }
  #i4k1mf {
    text-align: center;
  }
  #i5tc3g {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #i6v4zj {
    font-size: 25px;
    text-align: center;
  }
  #ih107l {
    text-align: center;
  }
  #i2kol7 {
    padding: 0 0 0 8px;
  }
  #i0dlji {
    margin: 67px 0 0 0;
  }
  #iuf52l {
    margin: 0 0 80px 0;
  }
  #ikpxwv {
    max-width: 100%;
  }
  #ixetzai {
    max-width: 100%;
  }
  #iekv2la {
    margin: 0 0 6px 0;
    position: static;
    transform: translateX(0);
  }
}
@media (max-width: 767.98px) {
  #i6144e {
    max-width: 100%;
  }
  #iwsamp {
    padding: 0 0 20px 0;
  }
  #i0bet {
    font-family: inherit;
  }
  #i0bet-2 {
    font-family: inherit;
  }
  #i0bet-3 {
    font-family: inherit;
  }
  #i0bet-4 {
    font-family: inherit;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #it78mf {
    margin: 20px 0 0 0;
  }
  #iso7rd {
    transform: translateX(0);
  }
  #ie1ayg {
    transform: translateY(0) translateX(0) translateX(0);
  }
  #izfjl9 {
    margin: 60px 0 0 0;
    transform: translateY(0);
  }
  #ijlmri {
    transform: translateY(0) translateX(0) translateX(0);
  }
  #io4em7 {
    margin: 60px 0 0 0;
  }
  #i136n1 {
    transform: translateY(0);
  }
  #ikxp9x5 {
    margin: 40px 0 0 0;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #idihul {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #i35ezl {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #if9ytq {
    display: none;
  }
  #i4c21e {
    display: flex;
  }
  #ibs5ni {
    width: 28%;
  }
  #iso2he {
    width: 38px;
    height: 40px;
  }
  #idi95k {
    font-size: 18px;
    display: block;
  }
  #i4k1mf {
    display: none;
  }
  #i67vul {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #i5tc3g {
    width: 34%;
  }
  #iru4rp {
    width: 38px;
    height: 40px;
  }
  #i6v4zj {
    font-size: 18px;
  }
  #ih107l {
    display: none;
  }
  #itks2i {
    padding: 8px 8px 8px 0;
    display: flex;
    margin: 0 0 0 0;
  }
  #i2kol7 {
    width: 33%;
  }
  #ih58in {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  #i546 {
    padding: 0 0 30px 0;
  }
  #i45yj8 {
    font-size: 25px;
    line-height: 30px;
  }
  #iz4ua8 {
    margin: 30px 0 20px 0;
  }
  #ia6yx3 {
    max-width: 100%;
  }
  #iwsamp {
    width: 100%;
    margin: 0 0 0;
  }
  #iuyjqj {
    width: 100px;
  }
  #ieixhe {
    margin: 0 auto 0 auto;
  }
  #il7987 {
    width: 100%;
    padding: 0 0 0 0;
  }
  body {
    background-color: #fff;
  }
  #ipeww8 {
    margin: 0 0 0 0;
  }
  #i6144e {
    margin: -20px auto 0 auto;
  }
  #iah3o-4-3 {
    float: right;
  }
  #iah3o-4-4 {
    float: right;
  }
  #i6144e {
    max-width: 100%;
  }
  #iv8lr {
    padding: 64px 0 50px 0;
  }
  #in3w {
    opacity: 1;
  }
  #itim2 {
    font-size: 37px;
    text-align: left;
  }
  #i94cz {
    text-align: left;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  #iy9o3l {
    font-size: 25px;
    line-height: 30px;
  }
  #iigxtx {
    margin: 30px 0 20px 0;
  }
  #i67cs0b {
    margin: 30px 0 20px 0;
  }
  #iapj93 {
    display: flex;
  }
  #ik9xbr {
    text-align: left;
    padding: 0 0 0 0;
  }
  #icen34 {
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  #ic637t {
    width: 100%;
  }
  #ilaylc {
    width: 100%;
  }
  #iiezih {
    line-height: 15px;
  }
  #i9x38m {
    line-height: 15px;
  }
  #iju73f {
    line-height: 40px;
  }
  #i0zice {
    font-size: 16px;
  }
  #idxzm7 {
    font-size: 16px;
    font-family: Montserrat;
  }
  #igp8jj {
    display: none;
  }
  #i8msmb {
    margin: 0 0 0 0;
    padding: 50px 0 50px 0;
  }
  #iouzji {
    line-height: 15px;
  }
  #iay28qd {
    margin: 0 0 0 0;
    padding: 40px 20px 40px 20px;
  }
  #inyzqt {
    margin: 0 0 0 0;
  }
  #ilxlte {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -160px 0 0 0;
  }
  #idihul {
    display: none;
  }
  #if9ytq {
    display: none;
  }
  #ibs5ni {
    width: auto;
    padding: 0 0 0 0;
    display: none;
    margin: 0 0 8px 0;
  }
  #iso2he {
    display: none;
  }
  #i4k1mf {
    display: none;
  }
  #i67vul {
    display: none;
  }
  #i5tc3g {
    margin: 0 0 8px 0px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
  }
  #iru4rp {
    display: none;
  }
  #ih107l {
    display: none;
  }
  #i2kol7 {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #ip3qhp {
    justify-content: center;
    flex-wrap: wrap;
  }
  #i0dlji {
    display: block;
  }
  #ih58in {
    font-size: 12px;
  }
  #i8gsgm {
    padding: 10px 6px 10px 6px;
  }
}
#ja-imagesmap1536 a.point0 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point0 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point0 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point1 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point1 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point1 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point2 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point2 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point2 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point3 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point3 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point3 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point4 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point4 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point4 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point5 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point5 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point5 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point6 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point6 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point6 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point7 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point7 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point7 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point8 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point8 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point8 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point9 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point9 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point9 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point10 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point10 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point10 + div.popover .arrow::after {
  border-top-color: light;
}
#ja-imagesmap1536 a.point11 + div.popover {
  background-color: light;
}
#ja-imagesmap1536 a.point11 + div.popover .popover-title {
  border-bottom: 0px none;
}
#ja-imagesmap1536 a.point11 + div.popover .arrow::after {
  border-top-color: light;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
