@charset "utf-8";
div#is91oa {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
div#is91oa > div > .t4b-box {
  transition: all ease 0.4s;
}
div#is91oa > div > .t4b-box:hover {
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
  transform: translateY(-8px);
}
div#is91oa > div > .t4b-box:hover p {
  color: white;
}
div#in7ne9 > div > .t4b-box {
  transition: all 0.4s ease;
}
div#in7ne9 > div > .t4b-box:hover {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transform: translateY(-8px);
}
#i0z1k {
  color: #0093d3;
  font-weight: 700;
}
#i5dgj {
  color: #014583;
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 20px 0;
}
#iw603 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 20px 0;
}
#i5i9i {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
#i7kp9 {
  color: black;
}
#ic69a {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#icsp5 {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#iugcy {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#itrxe {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#i3j8u {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#iavm4 {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ij4pg {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#izcp9 {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#idsih {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ixco1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iksh9 {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#iwnwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ivzll {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-3 {
  background-color: rgba(128, 128, 69, 0.5);
  height: 30px;
  width: 1px;
  margin: 0 5px 0 5px;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#i0egd {
  background-color: #f6fcff;
  padding: 100px 0 0 0;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .btn {
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  padding-inline: 10px;
  border-radius: 10px;
  border: unset;
}
.t4b-fd__faq-3
  .t4b-accordion-style-3.style-1
  .card-header
  .btn[aria-expanded="true"]
  > span:nth-child(2) {
  font-weight: 700;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .btn p {
  align-self: center;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header span {
  font-weight: 400;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card {
  background: rgb(244, 252, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 13px 20px -20px;
}
.t4b-fd__faq-3 .t4b-accordion-style-3.style-1 .card-header .t4b-faqs-icon {
  padding: 5px;
  background: #dee9f1;
  border-radius: 10px;
  margin-right: 8px;
  height: 35px;
}
#it07scp {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#ioat0jn {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#i1y4d29 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#iukxv5m {
  margin: 0 0 0 0;
}
#i4k56s {
  margin: 0 0 0 0;
}
#ikq9t2 {
  padding: 100px 0 0 0;
  background-color: #fdfdfd;
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
}
#iasqd {
  color: black;
}
#i5dyw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 20px 0 20px;
}
#ikvut {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  padding: 0 20px 20px 20px;
}
#ipsaf {
  font-size: 18px;
  font-family: Roboto;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#i3uhat {
  color: black;
}
#i0wzj7 {
  color: black;
  width: 55px;
}
#i3vizy {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
}
#i0t1tw {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 20px 0;
}
#ie9j35 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#idpg4j {
  color: black;
  width: 55px;
}
#iolknq {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
  color: #808080;
}
#i4y00p3 {
  margin: 40px 0 60px 0;
}
#ids0dy {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 20px 0 20px;
}
#irhjyr {
  background-color: #f6fcff;
  padding: 50px 0 50px 0;
}
#ike1uj {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#i87zo4 {
  color: black;
  width: 55px;
}
#itu8lo {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#ikpxwv {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
  color: #808080;
}
#i8nqhk {
  color: black;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}
#ilutkv {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i58mne {
  margin: 20px 0 0 0;
  text-align: center;
}
#ik3r4m {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iubo91 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#iuf52l {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 60px 0;
}
#iy1jdi {
  margin: 20px 0 0 0;
  text-align: center;
  top: auto;
  left: 50%;
  bottom: 15px;
  right: auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
#iyiz5f {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iiuapy {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iykdvw {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#io3h96 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iw41mh {
  margin: 20px 0 0 0;
  text-align: center;
}
#ihvtv7 {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#iecic7 {
  padding: 50px 0 100px 0;
  background-color: #f6fcff;
}
#ioymjd {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  text-align: center;
}
#i1wucs {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  height: 100%;
}
#i0i2gb {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
}
#iq8pwi {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#i6chpk {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#is91oa {
  padding: 40px 40px 40px 40px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
#iga77u {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
}
#inwczl {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#i6mf2t {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#ikl6fp {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  height: 100%;
}
#idb13f {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
}
#ido16e {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#igdsxq {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iao911 {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  height: 100%;
}
#iuhnzt {
  margin: 40px 0 0 0;
}
#iz5sau {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
}
#ij3b19 {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
}
#ij0uce {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iwqkoh {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    135deg,
    rgb(233, 244, 249) 0%,
    rgb(202, 233, 241) 100%
  );
  height: 100%;
}
#ieb4pt {
  margin: 40px 0 0 0;
}
#iwdhqf {
  padding: 100px 0 100px 0;
  background-color: #fff;
}
#i4x6u6 {
  color: black;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#ixuwew {
  color: black;
  width: 55px;
}
#ir1haz {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
}
#i1scrl {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i9avgv {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i7nbzj {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i0fden {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#i9blhc {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ixzlhl {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#ihn9pf {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#i2j5hi {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ijzdbe {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#il0mtq {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#ip9fgq {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#id19di {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i3v8ti {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#iik38y {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i44foq {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#isvsgg {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}
#i4y00p3-2 {
  margin: 40px 0 0 0;
}
#ip7l4k {
  color: black;
  width: 55px;
}
#ib7sfl {
  background-image: linear-gradient(
    rgb(246, 252, 255) 0%,
    rgb(233, 244, 249) 100%
  );
  padding: 50px 0 50px 0;
}
#i3ndpj {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
}
#irswn8 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
  max-width: 70%;
}
#iyibh9 {
  color: black;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
#i65kcv {
  width: 55px;
}
#ia8vjeg {
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 40px 0;
  font-size: 32px;
  color: #737373;
  font-family: Montserrat;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0093d3;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp-2 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i06aws-2 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ioat0jn-2 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz-2 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv-2 {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ip64nh-2 {
  color: #0093d3;
}
#i1yoap-2 {
  color: #0093d3;
}
#iuqve0i-2 {
  color: #0093d3;
}
#icagst9-2 {
  color: #0093d3;
}
#iukxv5m-2 {
  margin: 0 0 0 0;
}
#i4k56s-2 {
  margin: 0 0 0 0;
}
#iecqag {
  margin: 150px 0 0 0;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ikq9t2-2 {
  padding: 50px 0 50px 0;
  background-color: white;
}
#icyf59j {
  margin: 40px 0 0 0;
}
#ib435y {
  color: black;
  width: 55px;
}
#isx21a {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ia3ht7 {
  color: #0093d3;
}
#i65yh8 {
  display: flex;
}
#i95521 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i9ava1 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ixssb8 {
  color: #0093d3;
}
#iodvr8 {
  display: flex;
}
#ith1ik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#idym6y {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#i4kro3 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iyr0rv {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
  font-family: Montserrat;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#ibmohk {
  padding: 50px 0 30px 0;
}
#inpiwk {
  padding: 0 8px 0 8px;
  margin: 0 0 0 0;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  min-width: 80px;
}
#ibixhg {
  color: black;
}
#ipbatw {
  color: black;
}
#i1gkw7 {
  padding: 0 8px 0 8px;
  margin: 0 0 0 0;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  min-width: 80px;
}
#ie42lp {
  color: black;
}
#iwpohn {
  padding: 0 8px 0 8px;
  margin: 0 0 0 0;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  min-width: 80px;
}
#i2z9fv {
  color: black;
}
#itwbni {
  padding: 0 8px 0 8px;
  margin: 0 0 0 0;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  min-width: 80px;
}
#i4y00p3-3 {
  text-align: center;
  margin: 40px 0 0 0;
}
#imbgz7 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
}
@media (max-width: 991.98px) {
  #i4k56s {
    margin: 20px 0 40px 0;
  }
  #ike1uj {
    text-align: center;
  }
  #iykdvw {
    text-align: center;
  }
  #iubo91 {
    text-align: center;
  }
  #iqzybj {
    margin: 40px 0 0 0;
  }
  #iaqob1 {
    margin: 40px 0 0 0;
  }
  #ioymjd {
    text-align: center;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #ib53vn {
    margin: 40px 0 0 0;
  }
  #ib7vnh {
    background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.html);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.08;
  }
  #iiuapy {
    width: 100%;
  }
  #ik3r4m {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #iwnwi {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #irswn8 {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  #i5dgj {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  #i5i9i {
    text-align: left;
  }
  #id1pm {
    opacity: 1;
  }
  #icsp5 {
    padding: 64px 0 50px 0;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #iwnwi {
    font-size: 12px;
  }
  #ivzll {
    padding: 10px 6px 10px 6px;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  #ikq9t2 {
    padding: 50px 0 50px 0;
  }
  #ikq9t2-2 {
    padding: 50px 0 50px 0;
  }
  #idym6y {
    font-size: 28px;
    line-height: 35px;
  }
  #is91oa {
    padding: 20px 0 20px 0;
  }
  #i0egd {
    padding: 50px 0 0 0;
  }
  #i4y00p3 {
    margin: 40px 0 0 0;
  }
  #iecic7 {
    padding: 50px 0 50px 0;
  }
  #iwdhqf {
    padding: 50px 0 50px 0;
  }
  #i0vgefh {
    padding: 50px 0 100px 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
