@charset "utf-8";
k2t6i {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iwrg {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  line-height: 92.5px;
  font-family: inherit;
  margin: 0 0 0 0;
}
#icrk {
  font-weight: 700;
  color: #014583;
  font-size: 51px;
  line-height: 72px;
  margin: 0 0 40px 0;
  font-family: inherit;
}
#idjf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#imrj {
  color: black;
  float: right;
}
#ib6y2 {
  padding: 0 0 8px 8px;
  min-height: 50px;
  display: flex;
  gap: 30px;
}
#i5dhh {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 0 0 0;
}
#ijtbl {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i3kek {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 3.5px 0;
  font-weight: 700;
}
#ip1qg {
  color: black;
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border: 10px solid #9dd6ea;
  margin: 22px 0 0 0;
}
#iqrlf {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#iki0k {
  color: black;
  width: 32px;
  height: 31px;
}
#i2nji {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#iqrlf:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#i9ojd {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
  margin: 0 0 0 0;
}
#ijnoa {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#ijnoa:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#iwmes {
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  padding: 8px 8px 8px 10px;
}
#iqu8f {
  margin: 0 0 10px 0;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#iy04j9 {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#icmvxj {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#icmvxj:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#iiceb {
  color: #000;
  margin: 0 0 5px 0;
  line-height: 26px;
}
#im9z5-2 {
  color: #000;
  margin: 0 0 0 0;
  line-height: 26px;
}
#irr6d {
  color: #000;
  margin: 0 0 5px 0;
  line-height: 26px;
}
#ieotrf {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i649cg {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#i649cg:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 0 0;
}
#imy3la {
  color: #014583;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
}
#ih103p {
  color: #000;
  font-size: 18px;
  margin: 0 0 40px 0;
  line-height: 26px;
}
#i9697e {
  background-color: #e9f4f9;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  padding: 50px 0 60px 0;
  margin: 0 0 0 0;
}
#iwdjiq {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0 0 0 0;
  display: block;
}
#iyvkyl {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 70px 0 0 0;
}
#if9mc6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 8px 0;
  display: flex;
}
#ijhlzh {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#in2b0k {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#iuocm9 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ipxx22 {
  color: black;
  width: 55px;
  height: 55px;
}
#iryixf {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#i3d5kd {
  color: black;
  height: auto;
}
#ip7cn {
  margin: 0 0 0 0;
}
#i21j0k {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#ik68zj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 32px 0 8px 0;
}
#ipfx2y {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#irldlh {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  line-height: 35px;
}
#i265sn {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 26px;
  margin: 0 0 8px 0;
}
#inutl1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 60px 0 8px 0;
}
#ikkdy5 {
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-family: inherit;
  width: 95%;
}
#igw3ph {
  color: #000;
  font-size: 18px;
}
#idja67 {
  padding: 15px 15px 15px 15px;
  margin-bottom: 8px;
  min-height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0;
  font-size: 18px;
  background-color: #f1faff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#ijmerq {
  color: #014583;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
}
#iop12h {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#ie11te {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i7yat8 {
  font-weight: 400;
  line-height: 26px;
}
#i86o1r {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#in4no6 {
  font-weight: 400;
  line-height: 26px;
}
#ikmner {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  color: #000;
  margin: 0 0 0 0;
}
#ikwnq4 {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#ipmhs9 {
  font-weight: 400;
  padding: 0 0 6px 0;
  line-height: 26px;
}
#isod3f {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  font-style: normal;
}
#itz8di {
  padding: 30px 10px 8px 10px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 135px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#ihblgq {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#iaeqd1 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iyq8ih {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#i3xruc {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#i4mtci {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#i5q46x {
  padding: 30px 10px 8px 10px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 135px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#il5qvh {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i5wbz8 {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#ih8bay {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#imnq7r {
  padding: 30px 10px 8px 10px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 135px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#iy1vsg {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ixge6z {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#izx2rm {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#im9bq5 {
  padding: 30px 10px 8px 10px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 135px;
}
#ilef32 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 130px;
}
#ijhzzn {
  background: linear-gradient(to bottom, #ffffff, #d7e4f0);
  padding: 60px 8px 34px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: -66px 0 0 0;
}
#i1vmuc {
  padding: 60px 0 40px 0;
}
#i577yh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#inyzqt {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iz92f3 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 40px 0;
}
#i7p2vg {
  color: black;
  width: 170px;
}
#ihy7xy {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#ie37r3 {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iju73f {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: inherit;
  line-height: 35px;
}
#ivdn0g {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i6bb05 {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#i70766 {
  color: #000;
}
#ic637t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#isqxnn {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#i8msmb {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 50px 0 65px 0;
}
#ih8uab {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#iyau7p {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#iknd7y {
  color: #000;
}
#ilaylc {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#iij3jf {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i0zice {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#igp8jj {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#igp8jj:hover {
  scale: 1.02;
}
#iblan8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#i0kqkz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 0 0 16px 0;
}
#ik9xbr {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i9x38m {
  padding: 5px 5px 0 5px;
}
#iycuxy {
  color: #0093d3;
}
#ik8lhj {
  color: #000;
  font-size: 18px;
}
#ik9xbr:hover {
  color: #0093d3;
}
#ik8lhj:hover {
  color: #0093d3;
}
#i9x38m:hover {
  color: #0093d3;
  scale: 1.02;
}
#il6gh1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ilo3xr {
  color: black;
  width: 55px;
  height: 55px;
}
#itpx0c {
  font-weight: 700;
  margin: 0 0 30px 0;
  line-height: 40px;
  color: #808080;
}
#i9imvt {
  color: #000;
  margin: 0 0 20px 0;
}
#iisqhl {
  color: #000;
  margin: 0 0 24px 0;
}
#i7lptu {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 195px 0 8px 0;
}
#isdqi7 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  z-index: -1;
}
#igt9vh {
  color: black;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  opacity: 1;
  margin: -215px 0 0 0;
  width: 90%;
}
#iylx3i {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 86px 0 0 0;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  display: flex;
}
#izer09 {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 35px;
}
#ib8jnh {
  padding: 50px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
  opacity: 1;
}
#iqro45 {
  padding: 30px 20px 20px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  margin: 0 50px 8px 0;
  height: 480px;
  background: linear-gradient(135deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  border-radius: 20px 20px 20px 20px;
}
#iq2uas {
  text-align: center;
  margin: 0 0 20px 0;
  color: #014583;
  font-size: 24px;
}
#iw557y {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#i2i2l9 {
  color: black;
  width: 34px;
  margin: 0 10px 0 0;
  height: 28px;
}
#i9ym0n {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iz1dhu {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#ioxgi1 {
  color: #000;
  line-height: 26px;
}
#i6jbsk {
  color: #000;
  line-height: 26px;
}
#icpstk {
  padding: 0 0 16px 0;
  display: flex;
}
#ihmyd2 {
  padding: 0 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i4vq2v {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#icxsj9 {
  color: #000;
  line-height: 26px;
}
#i58nxe {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#ik730c {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#ihvbri {
  color: #000;
  line-height: 26px;
}
#ikl868 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#i185nq {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#i7b2ri {
  color: #000;
  line-height: 26px;
}
#iepxqa {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#izutyj {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ifglfm {
  text-align: center;
  margin: 0 0 12px 0;
  color: #014583;
  font-weight: 700;
  font-size: 24px;
}
#i7yxxk {
  color: black;
  width: 34px;
  height: 28px;
  margin: 6px 10px 0 0;
}
#i9ozuz {
  color: #000;
  line-height: 26px;
}
#imanqx {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 20px 0;
}
#ibjbc7 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 6px 10px 0 0;
}
#injwjf {
  color: #000;
  line-height: 26px;
}
#iak3xh {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 20px 0;
}
#irw2r2 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ild3qj {
  color: #000;
  line-height: 26px;
}
#ict7zh {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#igwd9f {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ilys2g {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#izo8yz {
  color: #000;
  line-height: 26px;
}
#izjksq {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#i5uqkg {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 10px 0 -2px;
}
#i6izqa {
  color: #000;
  line-height: 26px;
}
#ihmadj {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 20px 0;
}
#ihh5yf {
  padding: 0 8px 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
}
#irkg9b {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 30px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 50px;
  height: 480px;
}
#isa2jp {
  color: black;
  width: 55px;
  height: 55px;
}
#iyia9k {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  width: 95%;
}
#ic95dy {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#iaz4hl {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i25mfx {
  color: black;
  float: right;
}
#ick20b {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  line-height: 26px;
}
#iljcrj {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 12px 0;
}
#iljcrj:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
}
#i2js2c {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  line-height: 26px;
}
#ij4ztj {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 14px 0;
}
#ij4ztj:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
}
#iau55t {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  line-height: 26px;
}
#irxb3i {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 12px 0;
}
#irxb3i:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
}
#ijmpa9 {
  background: linear-gradient(180deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  margin: 118px 0 0 0;
  padding: 60px 0 219px 0;
}
#ik8g4u {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ij0uik {
  padding: 15px 25px 15px 25px;
  margin-bottom: 8px;
  min-height: 50px;
  background: linear-gradient(90deg, #95cee2, #f6fcff, #95cee2);
  border-radius: 20px;
  margin: 0 0 30px 0;
  font-size: 19.75px;
}
#i4z5z7 {
  color: #000;
  font-weight: 400;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i1f5ho {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 4px 0;
}
#i1f5ho:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#igu5qw {
  color: black;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  position: absolute;
  transform: translate(0%, -55%);
  margin: -42px 0 0 0;
}
#ixifrx {
  color: #000;
  font-weight: 400;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#ivqniu {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 14px 0;
  width: 57%;
}
#ivqniu:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iis0tx {
  color: #000;
  font-weight: 400;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#inweg1 {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
  width: 58%;
  font-weight: 400;
}
#inweg1:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iqcbmf {
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  width: 60%;
  line-height: 35px;
  font-family: inherit;
  font-size: 30px;
}
#i0xx6r {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i8sdzl {
  background-color: #e9f4f9;
  margin: 0 0 0;
}
#iwulg7 {
  font-size: 19.75px;
}
#ibryyb {
  margin: -40px 0 0 0;
  padding: 60px 0 60px 0;
}
#i12dtp {
  padding: 40px 0 40px 0;
  margin: 52px 0 0 0;
}
#i2iors {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  margin: 25px 0 8px 0;
}
#ijq4uk {
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #fff;
}
#i5phfe {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 26px;
}
#ix0y5v {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 6px 0;
}
#itt8b6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
}
#ilipzp {
  color: black;
  width: 30px;
  height: 30px;
  animation: bounce1 1.1s infinite;
}
#iwnwna {
  margin: 0 0 416px 0;
}
#ii9i7k {
  margin: 0 0;
}
#ijhriw {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#itgkro {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#icsrzh {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i2mqjk {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#iqv1am {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#in1u51 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i2y6eo {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iuf2q5 {
  color: #0093d3;
}
#impuu2 {
  color: #0093d3;
}
#i7yjr9 {
  color: #0093d3;
}
#ihrzmw {
  font-family: Roboto;
  line-height: 26px;
  color: #808080;
  background-color: #fff;
  padding: 50px 0 50px 0;
  margin: 0 0 0 0;
}
#itkhqs {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#i598tw {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ibwozu {
  color: black;
  width: 55px;
  height: 55px;
}
#iq6hsj {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#i1uexk {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ic9qo3 {
  color: #0093d3;
}
#irgyop {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#ihmaev {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  margin: 0 0 0 0;
}
#iuljj9 {
  color: #0093d3;
}
#i781xo {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#idroll {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#i6ktlc {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iy8hm3 {
  color: #0093d3;
}
#i66oue {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ii22x7 {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#i0lcct {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#il62ee {
  color: #0093d3;
}
#ipvx51 {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#ith8qy {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iacluk {
  color: #0093d3;
}
#i9y35h {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ii3pg2 {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#i2wjuw {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i9c4j9 {
  color: #0093d3;
}
#i4vyp3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i3o2q4 {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#i800da {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#in8kgp {
  color: #0093d3;
}
#it6x9d {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#i64z44 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i4y9vc {
  color: #0093d3;
}
#izbf7v {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ix2ysf {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i1c6pu {
  color: #0093d3;
}
#i9mnjk {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#iuju7s {
  padding: 0px;
}
#qsace1 {
  padding: 0px;
}
#isk057 {
  width: 85%;
  font-size: 15px;
  color: #000;
}
#iboesu {
  color: #000;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#ij0li6 {
  color: #000;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#iks301 {
  color: #000;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#idqenl {
  font-size: 18px;
  color: #000;
  margin: 0 0 5px 0;
  font-weight: 400;
}
#iglzcn {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#isg9rb {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#i232ol {
  color: black;
  width: 55px;
  height: 55px;
}
#i47gch {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#ibe3nz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iamohp {
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 26px;
}
#ig1xud {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i7xc89 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#i02cui {
  padding: 13px 0 16px 0;
}
#iqvdx1 {
  margin: 0 0 0 0;
}
#im00b2 {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_im00b2 {
  background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/2023/09/background-singapore-incorporation.html) !important;
}
#i7nw92 {
  padding: 28px 0 60px 0;
  margin: 130px 0 8px 0;
}
#i0904-2 {
  display: block;
}
#ipfx2y:hover {
  scale: 1.02;
  opacity: 0.8;
}
#i5fjso {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9c2zd {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#i9c2zd:hover {
  scale: 1.02;
  opacity: 0.8;
}
#izt46o {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ijiy3e {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#ijiy3e:hover {
  scale: 1.02;
  opacity: 0.8;
}
#i134wd {
  padding: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iwnups {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#irs692 {
  color: #000;
  line-height: 26px;
}
#iv78nz {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#iuekug {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
}
#ihxn7z {
  color: black;
  width: 40px;
  height: 40px;
}
#iid1ua {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i69keh:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#i69keh {
  padding: 8px 8px 8px 8px;
}
#ibuoo1 {
  color: black;
  width: 40px;
  height: 40px;
}
#ikbv1l {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i0o6m8:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#i0o6m8 {
  padding: 8px 8px 8px 8px;
  margin: 0 0 20px 0;
}
#izn75f {
  margin: 0 0 0;
}
#i9ekak {
  max-width: 50%;
}
#idxzm7 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#iapj93 {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: none;
  padding: 13px 17px 13px 17px;
}
#iapj93:hover {
  scale: 1.02;
}
#i4ui {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#i8q1if {
  background-size: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.58;
}
.jch-lazyloaded._jch-id_i8q1if {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-chi-so-thue-ke-toan.png) !important;
}
#i1l2ro {
  color: black;
}
#i6ij {
  padding: 0 0 0 0;
}
#ingi44 {
  margin: -122px 0 0 0;
}
#in14jv {
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  opacity: 0.73;
}
.jch-lazyloaded._jch-id_in14jv {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-bao-cao-tai-chinh.jpg) !important;
}
#izmc8k {
  color: black;
}
#iuwfxj {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 11.5px 0;
  font-weight: 700;
  color: #808080;
  width: 93%;
}
#iiz1kt {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#ioqvik {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iqpshv {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#isr2um {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#ifd4jq {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i9l3fk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i8dp8o {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#iq854v {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#izmvoj {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#iatyvw {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#iyts1j {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ik1bua {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i4eg2p {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
  padding: 5px 0 0 0;
}
#iqywku {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ichlvi {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
}
#ijxhrd {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#iqrg9h {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#ioj85l {
  color: #0093d3;
}
#iat0xd {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i7392f {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#iny2z7 {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#ib8ao3 {
  font-weight: 400;
  border-radius: 60px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #ffbb1c;
  display: flex;
  padding: 5px 20px;
  position: relative;
}
#iyiv8o {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#iwvfzp {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#iflgm3 {
  color: #0093d3;
}
#ikjy8d {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i17q1v {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#iqvnk1 {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#i1z2ia {
  display: none;
}
#ip81bz {
  padding: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 31px 0 8px 0;
}
#ice444 {
  padding: 30px 8px 45px 8px;
  min-height: 50px;
  box-shadow: 15px 20px 15px rgb(0 0 0 / 9%);
  border-radius: 10px 10px 10px 10px;
}
#i35mqn {
  padding: 70px 0 100px 0;
}
#i1yl24 {
  color: black;
  max-width: 100%;
  width: 100px;
}
#icgh4p {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#iaj9vg {
  text-align: center;
}
#i53h0b {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#izsedp {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#ikmf3h {
  color: black;
  width: 45px;
  height: 45px;
}
#ixg83c {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#iggzc4 {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ivawqj {
  padding: 8px;
  min-height: 50px;
}
#iwbchn {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iq4hhi {
  color: black;
  width: 45px;
  height: 45px;
}
#ifpfwa {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#id5w4v {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i4vcwk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#in0kjb {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i4a5s2 {
  color: black;
  width: 45px;
  height: 45px;
}
#i9tn09 {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ig6sb9 {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i31i19 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iotz5x {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iu8fhb {
  padding: 5px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#i6fy0x {
  padding: 0 0;
  margin: 0 0 0 0;
}
#ik2t6i {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ioc8h {
  display: flex;
}
#inyzch {
  color: black;
  width: 32px;
  height: 31px;
}
#i7ctab {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#i5poch {
  color: black;
  width: 32px;
  height: 31px;
}
#ixprbb {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#i0jmfh {
  color: black;
  width: 32px;
  height: 31px;
}
#i7p50x {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#i7obo5 {
  color: black;
  width: 32px;
  height: 31px;
}
#iqg98y {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#imseld {
  color: black;
  width: 32px;
  height: 31px;
}
#iyljxj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#iwc9c2 {
  color: black;
  width: 32px;
  height: 31px;
}
#ibnxy8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#iizxgr {
  color: black;
  width: 32px;
  height: 31px;
}
#i9l5o3 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 4px 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#i51jgk {
  color: black;
  width: 32px;
  height: 31px;
}
#ilc5d3 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#icdl5k {
  color: black;
  width: 32px;
  height: 31px;
}
#ivviry {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 4px 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ilno2l {
  display: flex;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#icneh:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#if0ih:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#i70g1:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#ice51:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#ivmjbf {
  color: #0093d3;
}
#im9z5 {
  line-height: 26px;
  margin: 0 0 5px 0;
  color: #000;
}
#icmy8g {
  color: #0093d3;
}
#iqj0zf {
  color: #fbbc3f;
}
#ifxuqr {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#ilr0pf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-family: inherit;
}
#it2uwq {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#iie36k {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i385af {
  font-size: 18px;
  color: #000;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#iun4xw {
  font-size: 18px;
  color: #000;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#iz3v1x {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#ibwx4z {
  font-size: 18px;
  color: #000;
}
#i57czf {
  font-size: 18px;
  color: #000;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 20px 0;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  margin: 63px 0 0 0;
  padding: 25px 0 10px 0;
}
#i3dnxr {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
  margin: 0 0 40px 0;
}
#irq5od-2 {
  color: #0093d3;
  font-weight: 700;
}
#irzu17 {
  color: #0093d3;
}
#i8il {
  padding: 64px 0 100px 0;
}
@media (max-width: 1199.98px) {
  #icrk {
    font-size: 45px;
    line-height: 65px;
  }
  #i9697e {
    margin: 0 0 0 0;
  }
  #if9mc6 {
    margin: 190px 0 8px 0;
  }
  #iyvkyl {
    margin: 90px 0 0 0;
  }
  #i9ekak {
    max-width: 50%;
    height: 450px;
  }
  #izn75f {
    height: 450px;
  }
  #ivqniu {
    width: 45%;
  }
  #inweg1 {
    width: 45%;
  }
  #i1f5ho {
    width: 45%;
  }
  #iqcbmf {
    width: 45%;
  }
  #ivfhvk {
    max-width: 100%;
  }
  #ixjs47 {
    max-width: 100%;
  }
  #ixg83c {
    font-size: 30px;
  }
  #iggzc4 {
    font-size: 15px;
  }
  #iwbchn {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #ifpfwa {
    font-size: 30px;
  }
  #id5w4v {
    font-size: 15px;
  }
  #in0kjb {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i9tn09 {
    font-size: 30px;
  }
  #ig6sb9 {
    font-size: 15px;
  }
  #iotz5x {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
}
@media (max-width: 991.98px) {
  #i2fo6j {
    order: 1;
    text-align: center;
  }
  #iznu {
    display: none;
  }
  #ijhlzh {
    margin: 0 0 0 0;
  }
  #itz8di {
    height: 130px;
  }
  #imnq7r {
    height: 130px;
  }
  #im9bq5 {
    height: 130px;
  }
  #i5q46x {
    height: 130px;
  }
  #ic637t {
    width: 100%;
  }
  #i9ekak {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  #izn75f {
    max-width: 100%;
  }
  #igu5qw {
    display: none;
  }
  #iqcbmf {
    width: 100%;
  }
  #i1f5ho {
    width: 100%;
  }
  #inweg1 {
    width: 100%;
  }
  #ivqniu {
    width: 100%;
  }
  #iamohp {
    width: 100%;
  }
  #igllmg {
    display: none;
  }
  #ilaylc {
    width: 100%;
  }
  #igt9vh {
    display: none;
  }
  #i7lptu {
    margin: 40px 0 8px 0;
  }
  #ijmpa9 {
    padding: 60px 0 0;
    margin: 30px 0 0 0;
  }
  #i8sdzl {
    padding: 30px 0 60px 0;
  }
  #icrk {
    font-size: 45px;
  }
  #ikk2bp {
    margin: 80px 0 0 0;
  }
  #i02cui {
    padding: 20px 0 30px 0;
  }
  #inutl1 {
    margin: 0 0 20px 0;
  }
  #i12dtp {
    padding: 20px 0 40px 0;
  }
  #irkg9b {
    margin: 0 0 0;
    height: 500px;
  }
  #iqro45 {
    margin: 0 0 8px 0;
    height: 500px;
  }
  #icpstk {
    display: block;
  }
  #imy3la {
    width: 70%;
  }
  #iryixf {
    width: 80%;
  }
  #ikkdy5 {
    width: 66%;
  }
  #itpx0c {
    width: 82%;
  }
  #ioc8h {
    text-align: center;
  }
  #i7rqnq {
    text-align: center;
  }
  #ivfhvk {
    margin: 0 0 30px 0;
  }
  #iuwfxj {
    width: 90%;
  }
  #i35mqn {
    display: block;
    padding: 0 20px 0;
  }
  #ixg83c {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #iggzc4 {
    text-align: center;
  }
  #iwbchn {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #ifpfwa {
    font-size: 25px;
    text-align: center;
  }
  #id5w4v {
    text-align: center;
  }
  #in0kjb {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #i9tn09 {
    font-size: 25px;
    text-align: center;
  }
  #ig6sb9 {
    text-align: center;
  }
  #iotz5x {
    padding: 0 0 0 8px;
  }
  #i9xnve {
    margin: 67px 0 0 0;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
}
@media (max-width: 767.98px) {
  #i9ekak {
    margin: 0 0 80px 0;
  }
  #i35mqn {
    padding: 20px 0 20px 0;
  }
  #ikmf3h {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #ixg83c {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #iggzc4 {
    display: none;
  }
  #ivawqj {
    display: flex;
  }
  #iwbchn {
    width: 28%;
  }
  #iq4hhi {
    width: 38px;
    height: 40px;
  }
  #ifpfwa {
    font-size: 18px;
    display: block;
  }
  #id5w4v {
    display: none;
  }
  #i4vcwk {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #in0kjb {
    width: 34%;
  }
  #i4a5s2 {
    width: 38px;
    height: 40px;
  }
  #i9tn09 {
    font-size: 18px;
  }
  #ig6sb9 {
    display: none;
  }
  #i31i19 {
    padding: 8px 8px 8px 0;
    display: flex;
  }
  #iotz5x {
    width: 33%;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #i3dnxr {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 575.98px) {
  #iapj93 {
    display: flex;
  }
  #ib6y2 {
    margin: 0px;
    justify-content: center;
  }
  #iznu {
    display: none;
  }
  #ik9xbr {
    text-align: left;
  }
  #igu5qw {
    z-index: 0;
    display: none;
  }
  #i9ojd {
    background-color: #e9f4f9;
    padding: 20px 0 0 0;
    margin: 0 0 0;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 0;
  }
  #ijhlzh {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #ic637t {
    width: 100%;
  }
  #ilaylc {
    width: 100%;
  }
  #i7lptu {
    padding: 8px;
    margin: 20px 0 30px 0;
  }
  #igllmg {
    display: none;
  }
  #i9ekak {
    max-width: 100%;
    margin: 0 0 30px 0;
    height: 470px;
  }
  #izn75f {
    max-width: 100%;
  }
  #ijmpa9 {
    padding: 60px 0 0px 0;
    margin: 80px 0 0 0;
  }
  #iqcbmf {
    width: 100%;
    line-height: 40px;
    padding: 15px 0 0 0;
    font-size: 30px;
  }
  #i1f5ho {
    width: 100%;
  }
  #inweg1 {
    width: 100%;
  }
  #ik8g4u {
    margin-top: -50px;
  }
  #ivqniu {
    width: 100%;
  }
  #i7nw92 {
    padding: 0px 0 60px 0;
  }
  #iamohp {
    width: 100%;
  }
  #icrk {
    text-align: center;
    font-size: 33px;
    line-height: 40px !important;
  }
  #itz8di {
    height: 160px;
    margin: 0 0 30px 0;
  }
  #i5q46x {
    height: 160px;
    margin: 0 0 30px 0;
  }
  #imnq7r {
    height: 160px;
  }
  #im9bq5 {
    height: 160px;
  }
  #i3h1uv {
    padding: 15px;
    display: block;
  }
  #i12dtp {
    padding: 0 0 40px 0;
  }
  #i02cui {
    padding: 20px 0 20px 0;
  }
  #inutl1 {
    margin: 20px 0 8px 0;
  }
  #ibryyb {
    padding: 60px 0 30px 0;
  }
  #i25mfx {
    margin: 20px 0 30px 0;
  }
  #izt46o {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #i134wd {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #ic6opg {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.2;
  }
  #iyvkyl {
    margin: 62px 0 0 0;
  }
  #if9mc6 {
    margin: 184px 0 8px 0;
  }
  #ikk2bp {
    margin: -80px 0 0 0;
  }
  #i9x38m {
    line-height: 15px;
  }
  #iuekug {
    margin: 0px;
    justify-content: center;
  }
  #iqro45 {
    min-height: 50px;
    margin: 0 0 8px 0;
    max-width: 100%;
    height: 480px;
  }
  #irkg9b {
    margin: 0 0 0;
    height: 550px;
  }
  #i0xx6r {
    margin: 10px 0 8px 0;
  }
  #ihrzmw {
    margin: 0 0 0 0;
  }
  #i3ku7l {
    margin: -80px 0 0 0;
  }
  #ijmerq {
    line-height: 40px;
  }
  #i9697e {
    padding: 50px 0 60px 0;
  }
  #imy3la {
    line-height: 40px;
    font-size: 30px;
    width: 100%;
  }
  #iryixf {
    font-size: 32px;
    width: 100%;
  }
  #irldlh {
    line-height: 40px;
    font-size: 26px;
  }
  #iju73f {
    line-height: 40px;
  }
  #izer09 {
    line-height: 40px;
  }
  #i0zice {
    font-size: 16px;
  }
  #iq2uas {
    font-size: 20px;
  }
  #ifglfm {
    font-size: 20px;
  }
  #idxzm7 {
    font-size: 16px;
    font-family: Montserrat;
  }
  #igp8jj {
    display: none;
  }
  #i8msmb {
    margin: -50px 0 0 0;
  }
  #ikkdy5 {
    line-height: 30px;
    width: 100%;
  }
  #itpx0c {
    width: 100%;
  }
  #iq6hsj {
    width: 100%;
  }
  #ivfhvk {
    margin: -100px 0 30px 0;
  }
  #iuwfxj {
    width: 100%;
  }
  #iat0xd {
    font-size: 16px;
  }
  #i7392f {
    font-size: 16px;
  }
  #ib8ao3 {
    padding: 2px 12px 2px 12px;
    display: none;
  }
  #ikjy8d {
    font-size: 16px;
  }
  #i17q1v {
    font-size: 16px;
  }
  #i1z2ia {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #ip81bz {
    margin: 50px 0 0 0;
  }
  #ice444 {
    padding: 25px 8px 8px 8px;
    margin: 0 0 15px 0;
  }
  #i35mqn {
    padding: 30px 0 30px 0;
  }
  #i53h0b {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -160px 0 0 0;
  }
  #ikmf3h {
    display: none;
  }
  #iggzc4 {
    display: none;
  }
  #iwbchn {
    width: auto;
    padding: 0 0 0 0;
    display: none;
    margin: 0 0 8px 0;
  }
  #iq4hhi {
    display: none;
  }
  #id5w4v {
    display: none;
  }
  #i4vcwk {
    display: none;
  }
  #in0kjb {
    margin: 0 0 8px 0px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
  }
  #i4a5s2 {
    display: none;
  }
  #ig6sb9 {
    display: none;
  }
  #iotz5x {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #iu8fhb {
    justify-content: center;
    flex-wrap: wrap;
  }
  #i9xnve {
    display: block;
  }
  #itrdr4-2 {
    display: none;
  }
  #i8il {
    padding: 64px 0 50px 0;
  }
  #ijhzzn {
    padding: 60px 8px 70px 8px;
  }
  #ijq4uk {
    text-align: left;
  }
  #ingi44 {
    margin: 40px 0 0 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
