@charset "utf-8";
body.modal-open .modal {
  background-color: #fff0;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
  height: auto;
  width: 80%;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #014583;
  font-size: 16px;
  font-weight: 600;
}
.modal-content {
  border-radius: 15px;
}
.scroll-up #iuysy1 {
  display: none;
}
.scroll-down #iuysy1 {
  padding: 60px 0 0px 0;
  position: sticky;
  top: -60px;
  z-index: 999;
  background-color: #fff;
}
ul#ika6nz li {
  margin-bottom: 10px;
}
#iwdjiq {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0 0 0 0;
  display: block;
}
#igo756 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-family: inherit;
}
#idkhrw {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#ii9i7k {
  margin: 0 0;
}
#ij1z8f {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#i3le4c {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 8px 0;
  display: flex;
}
#iugy6u {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#iy5xci {
  font-weight: 700;
  line-height: 72px;
  margin: 0 0 40px 0;
  color: #014583;
  font-size: 55px;
  text-align: left;
}
#im37cl {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  line-height: 92.5px;
  font-family: inherit;
}
#ikiyej {
  color: #808080;
  width: 100%;
  font-size: 18px;
}
#ixwjg6 {
  color: #808080;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
}
#it4qij {
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  padding: 8px 12px 6px 12px;
  margin: 0 0 0;
  border: 1px solid #808080;
}
#iwu8og {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
  gap: 30px;
}
#ieb40w {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#izw5og {
  color: black;
  float: right;
}
#iq6kr6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i4c3i5 {
  color: black;
  max-width: 100%;
  width: 100px;
}
#i5t4k8 {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#im35hl {
  text-align: center;
}
#ieli0s {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#ib850r {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#i8lhtm {
  color: black;
  width: 45px;
  height: 45px;
}
#i9a25f {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#i2osgt {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i8ozlr {
  padding: 8px;
  min-height: 50px;
}
#iwjlsv {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#ih3mr4 {
  color: black;
  width: 45px;
  height: 45px;
}
#it0x88 {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ik15nc {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#igk6rn {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i53j99 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i994kw {
  color: black;
  width: 45px;
  height: 45px;
}
#ihbgdz {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#i597al {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ialo55 {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i5hllh {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i7cmel {
  padding: 5px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#iykd8i {
  padding: 0 0;
  margin: 0 0 0 0;
}
#iqiyf6 {
  color: black;
}
#igoe8g {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 11.5px 0;
  font-weight: 700;
  color: #808080;
}
#i3sxox {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#ie1kdn {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iyew1n {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#ic4bpc {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#i6lypg {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i5ckur {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i1mgx4 {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#izjns6 {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iyz58k {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#imzygl {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#iin37g {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ibhubr {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#izg3qj {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
  padding: 5px 0 0 0;
}
#ikgt7h {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iole2u {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
}
#ismbu2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#iu1fch {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#itmntb {
  color: #0093d3;
}
#ipjav2 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i9xwmz {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#iy6u09 {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#if930z {
  font-weight: 400;
  border-radius: 60px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #ffbb1c;
  display: flex;
  padding: 5px 20px;
  position: relative;
}
#i6g6u7 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#i0ang8 {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#i048x4 {
  color: #0093d3;
}
#izwlyt {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i6vbsw {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#icu2ap {
  padding: 16px 8px 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#i84s53 {
  display: none;
}
#i5v0zl {
  padding: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 31px 0 8px 0;
}
#i3kigo {
  padding: 30px 8px 45px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  box-shadow: 15px 20px 15px rgb(0 0 0 / 9%);
  border-radius: 10px 10px 10px 10px;
}
#ijbkdj {
  padding: 84px 0 100px 0;
}
#idj5ck {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 0 0 0;
}
#ip4ue9 {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 3.5px 0;
  font-weight: 700;
}
#itsuuk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#iyjuga {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#i4i6f6 {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i4i6f6:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#i85t1s {
  margin: 0 0 0 5px;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#iogndm {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#iogndm:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#i9zuz4 {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#izjf5y {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#izjf5y:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#il0ylt {
  margin: 0 0 0 5px;
  font-weight: 700;
  color: #000;
  font-size: 18px;
}
#i22tyx {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#i22tyx:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#ij0x3g {
  margin: 0 0 0 5px;
  font-weight: 700;
  color: #000;
  font-size: 18px;
}
#i1iais {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#i1iais:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#ig8kez {
  color: black;
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border: 10px solid #9dd6ea;
  margin: 22px 0 0 0;
  display: block;
}
#i7c1nu {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
  margin: 0 0 0 0;
}
#i9hyri {
  color: #0093d3;
}
#ioy1nq {
  color: #014583;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
}
#ihboq3 {
  color: #000;
  font-size: 18px;
  margin: 0 0 38px 0;
  line-height: 26px;
}
#i3tvwg {
  background-color: #e9f4f9;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  padding: 50px 0 60px 0;
  margin: 0 0 0 0;
}
#ih8q5a {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#i25sa6 {
  padding: 0 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 0 0;
  display: flex;
}
#iwskcs {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#isrd39 {
  color: black;
  width: 55px;
  height: 55px;
}
#ipwevm {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#ixijpt {
  margin: 0 0 20px 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#iozixd {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#i8p8v9 {
  color: #000;
}
#i5iwfg {
  color: #000;
}
#ika6nz {
  line-height: 26px;
  color: #000;
  animation-delay: 1000ms;
  animation-duration: 500ms;
}
#iib6vh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#iiexij {
  color: black;
  height: auto;
}
#isuck2 {
  margin: -48px 0 0 0;
  padding: 60px 0 60px 0;
}
#isti16 {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  line-height: 35px;
}
#i3ak2m {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 26px;
  margin: 0 0 8px 0;
}
#i22abg {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 32px 0 8px 0;
}
#itv9aj {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#itv9aj:hover {
  scale: 1.02;
  opacity: 0.8;
}
#imofu9 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ivf2p5 {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#ivf2p5:hover {
  scale: 1.02;
  opacity: 0.8;
}
#i9f7sv {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iu26ok {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#iu26ok:hover {
  scale: 1.02;
  opacity: 0.8;
}
#imtvgw {
  padding: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iyg60l {
  padding: 13px 0 16px 0;
}
#i744mf {
  color: #0093d3;
}
#ia93h5 {
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-family: inherit;
}
#iqwk77 {
  color: black;
}
#is1j0v {
  color: #000;
  font-size: 18px;
}
#ik12xf {
  padding: 8px 0 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#ipfrat {
  color: #014583;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
}
#ijdtkk {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i07fld {
  font-weight: 400;
  line-height: 26px;
}
#ilpykk {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#ihjhp7 {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#isekz8 {
  font-weight: 400;
  line-height: 26px;
}
#i86bep {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#iootei {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#ibqkx2 {
  font-weight: 400;
  line-height: 26px;
}
#idbtt2 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#iwvajr {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i9vo1f {
  font-weight: 400;
  line-height: 26px;
}
#inu32h {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#ilxbyv {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#iha5td {
  font-weight: 400;
  line-height: 26px;
}
#ilqem4 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#izoicz {
  padding: 15px 15px 15px 15px;
  min-height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0;
  font-size: 18px;
  background-color: #f1faff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#i88g2r {
  padding: 40px 0 40px 0;
  margin: 52px 0 0 0;
}
#ibfl9f {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#im215h {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  width: 85%;
}
#i7c08f {
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 180px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
  width: auto;
}
#i7u163 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 130px;
}
#ifvbhk {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#ionpti {
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
  height: 180px;
}
#ikp7de {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i48yfj {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#izif8m {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 8px;
  width: 85%;
}
#ifjjlm {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 180px;
}
#i7mtz6 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  padding: 0 15px 0 15px;
}
#i053vh {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#iokkwq {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#i80msq {
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
  margin: 0 0 8px 0;
  height: 180px;
  min-height: 50px;
}
#ivi1yu {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  padding: 0 15px 0 15px;
  max-width: 25%;
}
#iw2t3g {
  padding: 60px 0 40px 0;
}
#insi9f {
  background: linear-gradient(to bottom, #ffffff, #d7e4f0);
  padding: 60px 8px 34px 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: -66px 0 0 0;
}
#if9tzu {
  color: black;
  width: 170px;
}
#is3kfd {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#ikjqn6 {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: inherit;
  line-height: 35px;
}
#ifh64j {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#id2kef {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#ijseb3 {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#ixjg5j {
  color: #000;
}
#invwhq {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#ikakdf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#inmqc4 {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#iyvksy {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#idfa8y {
  color: #000;
}
#ihuutj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#ixb33c {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ip2l3u {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#i34t8k {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iz8ch1 {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 50px 0 65px 0;
}
#ie9sjh {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_ie9sjh {
  background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.html) !important;
}
#i1fnm5 {
  color: #fbbc3f;
}
#i26ll1 {
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #fff;
}
#i5kxx2 {
  color: #fff;
}
#ivkpn3 {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 26px;
}
#ilbiql {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 6px 0;
}
#ijmd31 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  margin: 25px 0 8px 0;
}
#i2ibnf {
  color: black;
  width: 30px;
  height: 30px;
  animation: bounce1 1.1s infinite;
}
#ig0qhg {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
}
#icxltg {
  margin: 0 0 0 0;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
.jch-lazyloaded._jch-id_icxltg {
  background-image: url("https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.png") !important;
}
#ij5vmj {
  color: black;
  width: 55px;
  height: 55px;
}
#ip2uf9 {
  font-weight: 700;
  margin: 0 0 30px 0;
  line-height: 40px;
  color: #808080;
}
#iwxzcl {
  color: #000;
  margin: 0 0 20px 0;
}
#iacyon {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i1yu01 {
  color: black;
  width: 40px;
  height: 40px;
}
#ideutn {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i2puim:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#i2puim {
  padding: 8px 8px 8px 8px;
  margin: 0 0 20px 0;
}
#iul93y {
  color: black;
  width: 40px;
  height: 40px;
}
#iey1hc {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#iobe99:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#iobe99 {
  padding: 8px 8px 8px 8px;
}
#ibnl2y {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 195px 0 8px 0;
}
#i0e3gg {
  color: black;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  opacity: 1;
  margin: -215px 0 0 0;
  width: 90%;
}
#ibdiq9 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  z-index: -1;
}
#ipcnuj {
  margin: 0 0 416px 0;
}
#iuq845 {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 86px 0 0 0;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  display: flex;
}
#ih6wst {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 35px;
}
#i04ik5 {
  padding: 50px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
  opacity: 1;
}
#i04ilp {
  text-align: center;
  margin: 0 0 3px 0;
  color: #014583;
  font-size: 24px;
}
#imf0il {
  color: black;
  width: 34px;
  margin: 0 10px 0 0;
  height: 28px;
}
#i7xzd3 {
  color: #000;
  line-height: 26px;
}
#i2h94w {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i2t69u {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ifk4ji {
  color: #000;
  line-height: 26px;
}
#iul14o {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ig2lhw {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#igrhdo {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 10px 0 0;
}
#iv8hfs {
  color: #000;
  line-height: 26px;
  margin: 0 0 6px 0;
}
#idsyd1 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 2px 0;
}
#itrn1t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ipicte {
  padding: 30px 20px 20px 20px;
  font-size: 18px;
  margin: 0 50px 8px 0;
  background: linear-gradient(135deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  border-radius: 20px 20px 20px 20px;
  height: 450px;
}
#iz7xi1 {
  max-width: 50%;
}
#ikearg {
  text-align: center;
  margin: 0 0 3px 0;
  color: #014583;
  font-weight: 700;
  font-size: 24px;
}
#im4l4w {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#idmu8i {
  color: #000;
  line-height: 26px;
}
#i8wv1o {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#if4xas {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iq1vk6 {
  color: #000;
  line-height: 26px;
}
#itna3j {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i06kzz {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ihzdj9 {
  color: #000;
  line-height: 26px;
}
#icn7az {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i20xox {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ij8ooq {
  color: #000;
  line-height: 26px;
}
#i5xjnk {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#ixvl3o {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
}
#i6tynh {
  color: #000;
  line-height: 26px;
  font-family: Roboto;
}
#i0ibj7 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 2px 0;
  font-size: 18px;
  font-weight: 400;
}
#ip95ri {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ihdnng {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ig95fe {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 30px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 50px;
  height: 450px;
}
#imsktf {
  margin: 0 0 0;
}
#if5j4n {
  padding: 0 0 16px 0;
  display: flex;
}
#inciwi {
  background-size: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.58;
}
.jch-lazyloaded._jch-id_inciwi {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-chi-so-thue-ke-toan.png) !important;
}
#i9hzy6 {
  color: black;
  width: 55px;
  height: 55px;
}
#igmi26 {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  width: 95%;
}
#i865m6 {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
  font-weight: 400;
}
#imttbl {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
  font-weight: 400;
}
#i77ohr {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ia1bca {
  font-size: 19.75px;
}
#i5rgcd {
  color: black;
  margin: 50px 0 0 0;
  float: right;
}
#ignej7 {
  background: linear-gradient(180deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  margin: 118px 0 0 0;
  padding: 60px 0 97px 0;
}
#ix4uwb {
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_ix4uwb {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-bao-cao-tai-chinh.jpg) !important;
}
#ipq0ff {
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  width: 55%;
  line-height: 35px;
  font-family: inherit;
  font-size: 30px;
}
#i8xtni {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#iviwcd {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 62%;
  margin: 0 0 4px 0;
}
#iviwcd:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#i2smi9 {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#iir5nh {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
  width: 62%;
}
#iir5nh:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#i7fd1j {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#iehwzc {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
  width: 62%;
}
#iehwzc:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iageya {
  color: black;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  position: absolute;
  transform: translate(0%, -55%);
  width: 445.996px;
  height: 469.008px;
}
#i9eizz {
  padding: 15px 25px 15px 25px;
  margin-bottom: 8px;
  min-height: 50px;
  background: linear-gradient(90deg, #95cee2, #f6fcff, #95cee2);
  border-radius: 20px;
  margin: 0 0 50px 0;
  font-size: 19.75px;
}
#isqz9k {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ixkzta {
  background-color: #e9f4f9;
}
#iea3jy {
  color: black;
  width: 55px;
  height: 55px;
}
#idru9h {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#ij5lq2 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#imediv {
  width: 90%;
  font-size: 15px;
  color: #000;
}
#iqypoa {
  font-size: 15px;
  text-align: left;
  width: 90%;
  color: #000;
}
#i0b20n {
  font-size: 15px;
  text-align: left;
  width: 90%;
  color: #000;
}
#ik3obj {
  font-size: 15px;
  text-align: left;
  width: 90%;
  color: #000;
}
#imzty1 {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iadjba {
  color: #0093d3;
}
#ix1qbv {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#iparui {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iq1w3z {
  color: #0093d3;
}
#if0br3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ilibds {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#izq1xd {
  color: #0093d3;
}
#ir2drd {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ij4bvk {
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
#izfndrf {
  display: block;
}
#idhqaek {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ia49h0c {
  color: #0093d3;
}
#ichjakl {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#ijwb6j5 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#irfqbci {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i9ydxha {
  color: #0093d3;
}
#izmjh09 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#if21uiu {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ivjsn7s {
  color: #0093d3;
}
#ix8lmig {
  font-size: 18px;
  color: #000;
  margin: 0 0 10px 0;
  font-weight: 400;
}
#ihn1705 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  margin: 0 0 0 0;
}
#iu01kcg {
  color: #0093d3;
}
#im2h9oa {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ir65659 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ik2341h {
  color: #0093d3;
}
#ihlrr9z {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i2z8fl6 {
  padding: 0px;
}
#ic17ufx {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#is6gs76 {
  color: #0093d3;
}
#ihx942h {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#idvyizm {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#ip2fyac {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ira0756 {
  color: #0093d3;
}
#i0npf1h {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#im73pe6 {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#ihng81b {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ioc8xoh {
  color: #0093d3;
}
#ioctjal {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i2369ib {
  padding: 0px;
}
#i6b4smp {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i5vppdx {
  font-family: Roboto;
  line-height: 26px;
  color: #808080;
  background-color: #fff;
  padding: 50px 0 50px 0;
  margin: 49px 0 0 0;
}
#iwidpm {
  color: black;
  width: 55px;
  height: 55px;
}
#ifakeo {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#ij18wl {
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 26px;
  font-weight: 400;
}
#ik2jrz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ie2g72 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: none;
}
#ivce6b {
  padding: 28px 0 60px 0;
  margin: 100px 0 8px 0;
}
#ir1cjc {
  color: #0093d3;
}
#i2dsuh {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i0ogsu {
  color: #0093d3;
}
#i81cmj {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#igyz5m {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ir4whg {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i3b2ik {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
}
#im756g {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#iqyzop {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#iqyzop:hover {
  scale: 1.02;
}
#ih7h5b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#i712vc {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 2px 0 10px 0;
}
#i1lvic {
  padding: 0 0 0 15px;
}
#i2d9lh {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#id09zr {
  color: black;
}
#iwprac {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#i7pv3z {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 40px 0;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: local;
  background-size: contain;
  padding: 25px 0 0;
  background-color: white;
  margin: 0 0 0;
}
.jch-lazyloaded._jch-id_i0vgefh {
  background-image: url("https://globallinkconsulting.sg/images/test/tax-bg-10.png") !important;
}
#idn53n {
  color: black;
}
#i8ye19 {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#iiqvnm {
  color: black;
}
#i8j9mk {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#imbidt {
  color: black;
}
#i2to82 {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#i7rzur {
  color: black;
}
#igvqyn {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#iuvqmh {
  line-height: 26px;
  font-size: 18px;
}
#ia8tea {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#i2cr6v {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iz16zj {
  color: #0093d3;
}
#i5dswj {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#in09mp {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
#iwahig {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
#i4bf9z {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i9lnc1 {
  color: #000;
  line-height: 26px;
}
#idg8su {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
}
#isn0pj {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i31i1i {
  color: #000;
  line-height: 26px;
}
#iykp03 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ikg7hw {
  font-weight: 400;
}
#i9o9kt {
  color: black;
}
#iyvvf8 {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#i5lu8h {
  color: black;
}
#id2osn {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#ilp7ka {
  color: black;
}
#i0vkqf {
  padding: 8px;
  margin-bottom: 8px;
  margin: 0 0 0 0;
  height: 50px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  background-color: #e9f4f9;
  width: 50px;
  min-width: 50px;
}
#i70web {
  font-size: 18px;
  font-weight: 400;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#i5tdz6 {
  padding: 64px 0 99px 0;
}
@media (max-width: 1199.98px) {
  #i3le4c {
    margin: 190px 0 8px 0;
  }
  #iugy6u {
    margin: 90px 0 0 0;
  }
  #iy5xci {
    font-size: 45px;
    line-height: 65px;
  }
  #it4qij {
    margin: 0 0 0;
  }
  #i9a25f {
    font-size: 30px;
  }
  #i2osgt {
    font-size: 15px;
  }
  #iwjlsv {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #it0x88 {
    font-size: 30px;
  }
  #ik15nc {
    font-size: 15px;
  }
  #i53j99 {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #ihbgdz {
    font-size: 30px;
  }
  #i597al {
    font-size: 15px;
  }
  #i5hllh {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #iyjc6k {
    max-width: 100%;
  }
  #i16efa {
    max-width: 100%;
  }
  #i3tvwg {
    margin: 0 0 0 0;
  }
  #i25sa6 {
    margin: 190px 0 8px 0;
  }
  #iwskcs {
    margin: 90px 0 0 0;
  }
  #iz7xi1 {
    max-width: 50%;
    height: 450px;
  }
  #imsktf {
    height: 450px;
  }
  #ipq0ff {
    width: 45%;
  }
  #iviwcd {
    width: 45%;
  }
  #iir5nh {
    width: 45%;
  }
  #iehwzc {
    width: 45%;
  }
  #iokkwq {
    padding: 0 0 0 0;
  }
  #ivi1yu {
    height: 180px;
  }
  #ifjjlm {
    height: 180px;
  }
  #ionpti {
    height: 180px;
  }
  #i7c08f {
    height: 180px;
  }
  #i2d9lh {
    padding: 0 0 0 0;
  }
  #izif8m {
    padding: 0 0 0 0;
  }
  #i7mtz6 {
    height: 180px;
  }
  #ikp7de {
    height: 180px;
  }
  #i7u163 {
    height: 180px;
  }
  #i5v0zl {
    display: flex;
  }
  #i80msq {
    height: 180px;
  }
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
}
@media (max-width: 991.98px) {
  #ij1z8f {
    margin: 0 0 0 0;
  }
  #iy5xci {
    font-size: 45px;
  }
  #i8i90r {
    display: none;
  }
  #i9a25f {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #i2osgt {
    text-align: center;
  }
  #iwjlsv {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #it0x88 {
    font-size: 25px;
    text-align: center;
  }
  #ik15nc {
    text-align: center;
  }
  #i53j99 {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #ihbgdz {
    font-size: 25px;
    text-align: center;
  }
  #i597al {
    text-align: center;
  }
  #i5hllh {
    padding: 0 0 0 8px;
  }
  #i10u1l {
    margin: 67px 0 0 0;
  }
  #iyjc6k {
    margin: 0 0 30px 0;
  }
  #igoe8g {
    width: 90%;
  }
  #ijbkdj {
    display: block;
    padding: 0 20px 0;
  }
  #i59amr {
    text-align: center;
    max-width: auto;
  }
  #i5bz9h {
    order: 1;
    text-align: center;
  }
  #ioy1nq {
    width: 70%;
  }
  #ih8q5a {
    margin: 0 0 0 0;
  }
  #ipwevm {
    width: 80%;
  }
  #iymoec {
    margin: 80px 0 0 0;
  }
  #i8j2w3 {
    text-align: center;
  }
  #iyg60l {
    padding: 20px 0 30px 0;
  }
  #ia93h5 {
    width: auto;
  }
  #ik12xf {
    margin: 0 0 20px 0;
  }
  #i88g2r {
    padding: 20px 0 40px 0;
  }
  #invwhq {
    width: 100%;
  }
  #ihuutj {
    width: 100%;
  }
  #ip2uf9 {
    width: 82%;
  }
  #ibnl2y {
    margin: 40px 0 8px 0;
  }
  #i0e3gg {
    display: none;
  }
  #is1ml7 {
    display: none;
  }
  #ipicte {
    margin: 0 0 8px 0;
    height: 400px;
  }
  #iz7xi1 {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  #ig95fe {
    margin: 0 0 0;
    height: 400px;
  }
  #imsktf {
    max-width: 100%;
  }
  #if5j4n {
    display: block;
    padding: 0 0 10px 0;
  }
  #ignej7 {
    padding: 60px 0 0;
    margin: 30px 0 0 0;
  }
  #ipq0ff {
    width: 100%;
  }
  #iviwcd {
    width: 100%;
  }
  #iir5nh {
    width: 100%;
  }
  #iehwzc {
    width: 100%;
  }
  #iageya {
    display: none;
  }
  #ixkzta {
    padding: 30px 0 60px 0;
  }
  #ij18wl {
    width: 100%;
  }
  #i712vc {
    margin: 10px 0 0 0;
  }
  #ikp7de {
    height: auto;
  }
  #i80msq {
    height: 150px;
  }
  #ifjjlm {
    height: 150px;
  }
  #ionpti {
    height: 120px;
  }
  #i7c08f {
    height: 120px;
  }
  #ipu4qf {
    max-width: auto;
  }
  #iw2t3g {
    padding: 60px 0 20px 0;
  }
  #i7u163 {
    max-width: auto;
    width: auto;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #ivi1yu {
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  #i8lhtm {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #i9a25f {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #i2osgt {
    display: none;
  }
  #i8ozlr {
    display: flex;
  }
  #iwjlsv {
    width: 28%;
  }
  #ih3mr4 {
    width: 38px;
    height: 40px;
  }
  #it0x88 {
    font-size: 18px;
    display: block;
  }
  #ik15nc {
    display: none;
  }
  #igk6rn {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #i53j99 {
    width: 34%;
  }
  #i994kw {
    width: 38px;
    height: 40px;
  }
  #ihbgdz {
    font-size: 18px;
  }
  #i597al {
    display: none;
  }
  #ialo55 {
    padding: 8px 8px 8px 0;
    display: flex;
    margin: 0 0 0 0;
  }
  #i5hllh {
    width: 33%;
  }
  #ijbkdj {
    padding: 20px 0 20px 0;
  }
  #iz7xi1 {
    margin: 0 0 80px 0;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #i0vgefh {
    background-image: inherit;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding: 25px 0 25px 0;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #ivi1yu {
    max-width: 50%;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  #i70gbs:hover #i35lka {
    background: #faa500;
    transform: translateX(220px);
  }
  #i70gbs:hover p#ircm9o {
    transform: translateX(-30px);
    color: black;
  }
  div#i2fo6j {
    order: 1;
  }
  #ix25jq:hover #iindjb {
    background: #faa500;
    transform: translateX(230px);
  }
  #ix25jq:hover p#iqsxjg {
    transform: translateX(-30px);
    color: black;
  }
  #ib96vu:hover #i2yofg {
    background: #faa500;
    transform: translateX(224px);
  }
  #ib96vu:hover p#is8k7v {
    transform: translateX(-30px);
    color: black;
  }
  #ij1z8f {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #i3le4c {
    margin: 184px 0 8px 0;
  }
  #iugy6u {
    margin: 62px 0 0 0;
  }
  #iermo4 {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.2;
  }
  #iy5xci {
    text-align: center;
    font-size: 33px;
    line-height: 40px !important;
  }
  #it4qij {
    margin: 0 0 0;
    display: none;
    border: none;
  }
  #iwu8og {
    margin: 0px;
    justify-content: center;
  }
  #i8i90r {
    display: none;
  }
  #ieli0s {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -160px 0 0 0;
  }
  #i8lhtm {
    display: none;
  }
  #i2osgt {
    display: none;
  }
  #iwjlsv {
    width: auto;
    padding: 0 0 0 0;
    display: none;
    margin: 0 0 8px 0;
  }
  #ih3mr4 {
    display: none;
  }
  #ik15nc {
    display: none;
  }
  #igk6rn {
    display: none;
  }
  #i53j99 {
    margin: 0 0 8px 0px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
  }
  #i994kw {
    display: none;
  }
  #i597al {
    display: none;
  }
  #i5hllh {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #i7cmel {
    justify-content: center;
    flex-wrap: wrap;
  }
  #i10u1l {
    display: block;
  }
  #iyjc6k {
    margin: -80px 0 30px 0;
  }
  #igoe8g {
    width: 100%;
  }
  #ipjav2 {
    font-size: 16px;
  }
  #i9xwmz {
    font-size: 16px;
  }
  #if930z {
    padding: 2px 12px 2px 12px;
    display: none;
  }
  #izwlyt {
    font-size: 16px;
  }
  #i6vbsw {
    font-size: 16px;
  }
  #i84s53 {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #i5v0zl {
    margin: 50px 0 0 0;
  }
  #i3kigo {
    padding: 25px 8px 30px 8px;
    margin: 0 0 15px 0;
  }
  #ijbkdj {
    padding: 30px 0 30px 0;
  }
  #i7c1nu {
    background-color: #e9f4f9;
    padding: 20px 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 0;
  }
  #ioy1nq {
    line-height: 40px;
    font-size: 30px;
    width: 100%;
  }
  #i3tvwg {
    padding: 50px 0 60px 0;
  }
  #ih8q5a {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #i25sa6 {
    margin: 184px 0 8px 0;
  }
  #iwskcs {
    margin: 62px 0 0 0;
  }
  #ipwevm {
    font-size: 32px;
    width: 100%;
  }
  #iymoec {
    margin: -80px 0 0 0;
  }
  #isuck2 {
    padding: 60px 0 30px 0;
  }
  #isti16 {
    line-height: 40px;
    font-size: 26px;
  }
  #i9f7sv {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #imtvgw {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #iyg60l {
    padding: 20px 0 20px 0;
  }
  #ia93h5 {
    line-height: 30px;
    width: 100%;
  }
  #ik12xf {
    margin: 20px 0 8px 0;
  }
  #ipfrat {
    line-height: 40px;
  }
  #i88g2r {
    padding: 0 0 40px 0;
  }
  #i7c08f {
    height: 180px;
    margin: 0 0 30px 0;
  }
  #ionpti {
    height: 180px;
    margin: 0 0 30px 0;
  }
  #ifjjlm {
    height: 180px;
  }
  #i80msq {
    height: 180px;
  }
  #ikjqn6 {
    line-height: 40px;
  }
  #invwhq {
    width: 100%;
  }
  #ihuutj {
    width: 100%;
  }
  #iz8ch1 {
    margin: 0 0 0 0;
  }
  #ip2uf9 {
    width: 100%;
  }
  #ibnl2y {
    padding: 8px;
    margin: 20px 0 30px 0;
  }
  #is1ml7 {
    display: none;
  }
  #ih6wst {
    line-height: 40px;
  }
  #i04ilp {
    font-size: 20px;
  }
  #ipicte {
    min-height: 50px;
    margin: 0 0 3px 0;
    max-width: 100%;
    height: 450px;
    padding: 30px 20px 20px 20px;
  }
  #iz7xi1 {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  #ikearg {
    font-size: 20px;
  }
  #ig95fe {
    margin: 0 0 0;
    height: 450px;
  }
  #imsktf {
    max-width: 100%;
  }
  #ir5zxv {
    padding: 15px;
    display: block;
  }
  #i5rgcd {
    margin: 20px 0 30px 0;
  }
  #ignej7 {
    padding: 60px 0 0px 0;
    margin: -50px 0 0 0;
  }
  #ipq0ff {
    width: 100%;
    line-height: 40px;
    padding: 15px 0 0 0;
    font-size: 30px;
  }
  #iviwcd {
    width: 100%;
  }
  #iir5nh {
    width: 100%;
  }
  #iehwzc {
    width: 100%;
  }
  #iageya {
    z-index: 0;
    display: none;
  }
  #isqz9k {
    margin-top: -50px;
  }
  #idru9h {
    width: 100%;
  }
  #i5vppdx {
    margin: 0 0 0 0;
  }
  #ij18wl {
    width: 100%;
  }
  #ifro4z {
    margin: -80px 0 0 0;
  }
  #ivce6b {
    padding: 0px 0 60px 0;
  }
  #i3b2ik {
    margin: 0px;
    justify-content: center;
  }
  #im756g {
    font-size: 16px;
  }
  #iqyzop {
    display: none;
  }
  #insi9f {
    margin: -10px 0 0 0;
  }
  #ipk5emv {
    margin: 0 0 0 0;
  }
  #i9pmux5 {
    margin: 0 0 20px 0;
  }
  #ivi1yu {
    max-width: 50%;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #i5tdz6 {
    padding: 64px 0 50px 0;
  }
  #iqiyf6 {
    margin: -30px 0 0 0;
  }
  #ijhdo7 {
    margin: 0 0 0 0;
  }
  #i1lvic {
    margin: -20px 0 0 0;
  }
  #i26ll1 {
    text-align: left;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
