@charset "utf-8";
#irub {
  padding: 20px 20px 20px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 15px 15px 15px 15px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ifoq {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0 20px 0;
  text-align: center;
}
#i8cef {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
#it38h {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
}
#icegz {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0 0 0;
}
#ib8uk {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
}
#iux2 {
  padding: 0 15px 0 50px;
}
#iqfvk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 50%;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #f7f7f7;
  border: 1px solid #dddfe4;
}
#it1jr {
  font-size: 25px;
  padding: 0 2px 0 2px;
  color: #0093d3;
}
#ikhqw {
  font-size: 20px;
  padding: 0 2px 0 2px;
  color: #0093d3;
}
#i070f {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 50%;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #f7f7f7;
  border: 1px solid #dddfe4;
}
#ibxku {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px 0;
}
#ia9p1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
}
#iujqe {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0 0 0;
}
#ip0j4 {
  padding: 20px 20px 20px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 15px 15px 15px 15px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin: 40px 0 8px 0;
}
#i89vk {
  padding: 5px;
  color: #0093d3;
  font-size: 18px;
  line-height: 26px;
}
#ilhxf {
  font-family: inherit;
  font-size: 18px;
}
#ilzr6 {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
#i0yvd {
  padding: 5px;
  color: #0093d3;
}
#iv54k {
  font-size: 20px;
  padding: 0 2px 0 2px;
  color: #0093d3;
}
#ii10j {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 50%;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #f7f7f7;
  border: 1px solid #dddfe4;
}
#iy64k {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 0 0;
}
#ieysz {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
#il8xi {
  padding: 0 0 0 0;
  color: #0093d3;
}
#i838o {
  padding: 20px 20px 20px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 15px 15px 15px 15px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin: 40px 0 8px 0;
}
#irzth {
  height: 350px;
  width: 100%;
}
#iptz7 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i3gt #glac-form-get-in-touch {
  gap: 50px;
}
#i2fu {
  padding: 100px 0 100px 0;
  background-color: #fff;
}
#ixquc {
  padding: 50px;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 35px;
  background: white;
  max-width: 50%;
}
#i2ay2 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 600;
  color: #0093d3;
  text-align: center;
  padding: 0 10% 0 10%;
}
#iwnpl {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 40px 0;
}
@media (max-width: 991.98px) {
  #iux2 {
    padding: 0 15px 0 15px;
    margin: 40px 0 0 0;
  }
  #i2fu {
    padding: 100px 0 100px 0;
  }
  #iqfvk {
    width: 55px;
    height: 55px;
  }
  #i070f {
    height: 55px;
    width: 55px;
  }
  #ii10j {
    height: 55px;
    width: 55px;
  }
  #ip0j4 {
    margin: 60px 0 0 0;
  }
  #irub {
    margin: 40px 0 0 0;
  }
  #i838o {
    margin: 60px 0 0 0;
  }
  #ixquc {
    max-width: 100%;
  }
  #i2ay2 {
    padding: 0 0 0 0;
  }
}
@media (max-width: 575.98px) {
  #iux2 {
    padding: 0 15px 0 15px;
  }
  #i2fu {
    margin: 0 15px 0 15px;
  }
  #i2ay2 {
    font-size: 28px;
  }
  #iwnpl {
    margin: 0 0 40px 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
