@charset "utf-8";
div#ijxq3j > .t4b-box {
  transition: all ease 0.2s;
}
div#ijxq3j > .t4b-box:hover {
  transform: translateY(-5px);
}
.glac-nav-item-singapore a.nav-link.active,
.glac-nav-item-singapore a.nav-link:hover {
  background: linear-gradient(
    90deg,
    rgb(217, 242, 255) 0%,
    rgb(214, 246, 255) 33.333%,
    rgb(214, 246, 255) 66.667%,
    rgb(217, 242, 255) 100%
  );
  padding: 10px 15px;
}
div#ih3a1u > .t4b-box {
  transition: all 0.4s ease;
}
div#ih3a1u > .t4b-box:hover {
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
div#ih3a1u > .t4b-box:hover p {
  font-weight: 500;
}
#itim2 {
  color: #014583;
  font-weight: 700;
  font-size: 42px;
  margin: 0 0 20px 0;
}
#ixxk9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i94cz {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
#ihm0x {
  color: black;
}
#ik07m {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iv8lr {
  background-color: #fdfdfd;
  padding: 100px 0 0 0;
}
#i22z {
  padding: 40px 0 50px 0;
  background-color: #fdfdfd;
}
#ihmxx {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ilg2y {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#i6kw2 {
  color: black;
  width: 100px;
}
#i6iei {
  font-size: 18px;
  line-height: 26px;
  color: #0093d3;
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Montserrat;
}
#irklw {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  background-color: #e9f4f9;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#ikz9z {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iax2t {
  color: black;
  width: 45px;
  height: 45px;
}
#ir7kb {
  color: black;
  width: 45px;
  height: 45px;
}
#ii36b {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#ikism {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iavws {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#icn9s {
  color: black;
  width: 45px;
  height: 45px;
}
#iddm7 {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#imtzj {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iz1yl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iybzi {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#iqyvl {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#ilvrg {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-2 {
  background-color: rgba(128, 128, 69, 0.5);
  width: 1px;
  height: 30px;
  margin: 0 5px 0 5px;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#i8ojg {
  background-color: #f6fcff;
  padding: 100px 0 60px 0;
}
#iht6af {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#ifr1hd {
  font-size: 28px;
  line-height: 40px;
  color: #014583;
  font-weight: 600;
  margin: 0 0 0 0;
  font-family: Montserrat;
}
#ie7pli {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iphkjn {
  padding: 8px 20px 8px 20px;
  min-height: 50px;
  margin: 0 0 20px 0;
  border-radius: 50px 50px 50px 50px;
  background-color: #cae9f1;
}
#ieuy8c {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
}
ul#iyvon2 li a {
  border: unset;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
.glac-nav-item-singapore a.nav-link {
  background: rgb(241, 250, 255);
  padding: 10px 15px;
}
.glac-tab-content-verticle-singapore .tab-content {
  background: transparent;
}
#i83ngp {
  color: #014583;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  margin: 0 0 0 0;
}
#in6uth {
  color: black;
  margin: 50px 0 10px 0;
}
#i2nk0l {
  color: #808080;
  font-size: 18px;
  margin: 0 0 0 0;
}
#i0aoes {
  padding: 40px 0 40px 0;
  min-height: 50px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#i7dd0u {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  transform: translateY(-60%);
}
#iilis9 {
  color: black;
  float: none;
  width: 60px;
  height: 60px;
}
#i9bwbd {
  margin: 0 0 0 0;
}
#iss10b {
  padding: 15px 15px 15px 15px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 0 10px;
}
#i6924l {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  width: 80%;
}
#inahhh {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 50px 0;
}
#iw5957 {
  color: black;
  float: none;
  width: 60px;
  height: 60px;
}
#i0umj5 {
  margin: 0 0 0 0;
}
#idv90j {
  padding: 15px 15px 15px 15px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 0 10px;
}
#ipez8q {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  width: 80%;
  text-align: left;
}
#ihfzvh {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iw4qpj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iozzte {
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 0 0 0;
  margin: 0 0 -40px 0;
}
.jch-lazyloaded._jch-id_iozzte {
  background-image: url("../../../../images/background/hinh-nen-danh-gia-dich-vu.png") !important;
}
.glac-qb-process li::after {
  background: #0093d38c none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  right: -45%;
  top: 20px;
  width: 85%;
  z-index: -1;
}
.glac-qb-process li.visited::after {
  background: #57b87b;
}
.glac-qb-process li:last-child::after {
  width: 0;
}
.glac-qb-process li {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 0;
}
.glac-qb-process a[aria-expanded="true"] > div {
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fbbc3f !important;
}
.glac-qb-process a[aria-expanded="true"] > p {
  font-weight: 500;
}
#iw7idf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  max-width: 85%;
}
#ic5o5l {
  color: black;
  width: 55px;
  height: 55px;
}
#ivqb3s {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
}
#ij2lqp {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ii15t4 {
  display: flex;
  margin: 4px 4px 4px 4px;
}
#ibc1kh {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i6rakl-2-2 {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iq7v6l {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i9kr5r {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iyfkd2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iob3uh-2-2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iis9sg {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#ikmxlm {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#i68094-2-2 {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#i6qlhd {
  margin: 0 0 20px 0;
}
#iy38df {
  margin: 0 0 10px 0;
}
#ihcvco {
  margin: 0 0 20px 0;
}
#ie2ixw {
  margin: 0 0 0 0;
}
#iriv9v-2-2 {
  margin: 0 0 20px 0;
}
#imm8a9-2-2 {
  margin: 0 0 10px 0;
}
#ifvyk7 {
  padding: 100px 0 50px 0;
  background-color: #f4fcff;
}
#ip2tea {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 40px 0;
}
#io3hts {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i4m9j7 {
  text-align: center;
}
#im3yal {
  padding: 100px 0 100px 0;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
#i65kcv {
  width: 55px;
}
#ia8vjeg {
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
#ibmohk {
  background-color: #f1faff;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0093d3;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ioat0jn {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#iukxv5m {
  margin: 0 0 0 0;
}
#i4k56s {
  margin: 0 0 0 0;
}
#iecqag {
  margin: 150px 0 0 0;
  position: sticky;
  top: 100px;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ikq9t2 {
  padding: 50px 0 100px 0;
  background-color: white;
}
#icyf59j {
  margin: 40px 0 0 0;
}
#ib435y {
  color: black;
  width: 55px;
}
#idym6y {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#imgiaf {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i51fq2 {
  color: #0093d3;
}
#ipbh6t {
  display: flex;
}
#iku4hd {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-color: #fdfdfd;
}
#isyv9j {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i6wwiv {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#ib74pq {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#i3ypgy {
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  padding: 60px 0 60px 0;
}
#iu38me {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#ije01h {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#i8ap8i {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#itzfsd {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#ilzra2 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#idc5tf {
  background-color: #f6fcff;
  padding: 100px 0 100px 0;
}
div#in7ne9 > div > .t4b-box {
  transition: all 0.4s ease;
}
div#in7ne9 > div > .t4b-box:hover {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transform: translateY(-8px);
}
#irhjyr {
  padding: 100px 0 100px 0;
  background-color: #fff;
}
#ike1uj {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#i87zo4 {
  color: black;
  width: 55px;
}
#itu8lo {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#ikpxwv {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
  color: #808080;
}
#i8nqhk {
  color: black;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}
#ilutkv {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 40px 0;
}
#i58mne {
  margin: 20px 0 0 0;
  text-align: center;
}
#ik3r4m {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iubo91 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#iuf52l {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 60px 0;
}
#iy1jdi {
  margin: 20px 0 0 0;
  text-align: center;
  top: auto;
  left: 50%;
  bottom: 15px;
  right: auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
#iyiz5f {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iiuapy {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iykdvw {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #014583;
  margin: 15px 0 20px 0;
}
#io3h96 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#iw41mh {
  margin: 20px 0 0 0;
  text-align: center;
}
#ihvtv7 {
  padding: 10px 10px 15px 10px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  height: 100%;
}
#in7x8k {
  text-align: center;
  border: 0 solid none none rgb(222, 226, 230) rgb(33, 37, 41) rgb(33, 37, 41);
}
#i3zm0i {
  text-align: center;
}
#iv74ze {
  text-align: center;
}
#ij6n3p {
  text-align: center;
  border: 0 solid none none rgb(222, 226, 230) rgb(33, 37, 41) rgb(33, 37, 41);
}
#i3fcgt {
  text-align: center;
}
#i80l6x {
  text-align: center;
}
#ikx9sf {
  text-align: center;
}
#i0nv32 {
  text-align: center;
}
#iec3nh {
  text-align: center;
}
#izhkmy {
  text-align: center;
}
#ibr028 {
  text-align: center;
}
#iyww3l {
  text-align: center;
}
#iz5wlj {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 1px #f2f2f2;
  padding: 0 0 0 0;
}
#ir70o4 {
  background-color: #cae9f1;
  border-radius: 10px 0 0 0;
  max-width: 25%;
}
#iyvqht {
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0 10px 0;
  background-color: #cae9f1;
}
#iubs8p {
  color: #014583;
  font-size: 18px;
  font-family: Roboto;
}
#ilvm16 {
  width: 25%;
  border-radius: 0 10px 0 0;
  background-color: #cae9f1;
}
#i1jla3 {
  color: #014583;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
}
#ij8q6h {
  width: 25%;
  background-color: #cae9f1;
}
#io5mrj {
  background-color: #cae9f1;
  width: 25%;
}
#i66etf {
  color: #014583;
  font-size: 18px;
  font-family: Roboto;
}
#iljprg {
  color: #0093d3;
}
#ixjiyo {
  color: #0093d3;
}
#i61usa {
  color: #0093d3;
}
#irmotw {
  color: #0093d3;
}
#iz5wlj td {
  vertical-align: middle;
}
#iz5wlj th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
#iyrlek {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#i639mb {
  font-size: 18px;
  padding: 10px 16px 10px 16px;
}
#i20t5k {
  font-size: 18px;
  line-height: 26px;
  padding: 20px 16px 10px 16px;
}
#ijcee9 {
  font-size: 18px;
  padding: 10px 16px 10px 16px;
}
#iepc5o {
  font-size: 18px;
  padding: 10px 16px 10px 16px;
}
ul#i853cl li {
  margin-bottom: 5px;
  margin-top: 10px;
}
#i2vpcl {
  color: black;
  width: 55px;
}
#ijn96b {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
  color: #808080;
}
#islwuo {
  color: #0093d3;
}
#i7zex3 {
  color: #0093d3;
}
#irkwbj {
  color: #0093d3;
}
#i1vmwt {
  color: #0093d3;
}
#iur2ip {
  color: #0093d3;
}
#icyqdh {
  color: #0093d3;
}
#i28meg {
  color: #0093d3;
}
#icqllj {
  font-size: 18px;
}
div#ifoamj5 > .cell > .t4b-box {
  transition: all 0.5s ease;
}
div#ifoamj5 > .cell > .t4b-box:hover {
  background: white;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
div#im3n8o > .cell > .t4b-box {
  transition: all 0.4s ease;
}
div#im3n8o > .cell > .t4b-box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}
div#icawfs .t4b-link-box:hover {
  background: #fdfdfd;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
div#icawfs .t4b-link-box {
  transition: all 0.3s ease;
}
div#icawfs .t4b-link-box:hover p {
  font-weight: 600;
}
div#ii6aqr .t4b-link-box:hover {
  background: #e9f4f9;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
div#ii6aqr .t4b-link-box:hover p {
  font-weight: 600;
}
div#ii6aqr .t4b-link-box {
  transition: all 0.3s ease;
}
div#i971mf > .t4b-box > .t4b-box {
  transition: all 0.3s ease;
}
div#i971mf > .t4b-box > .t4b-box:hover {
  cursor: pointer;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transform: translateY(-5px);
}
div#izk4k1 > .col > .t4b-box {
  transition: all 0.3s ease;
}
div#izk4k1 > .col > .t4b-box:hover {
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
  cursor: pointer;
}
div#izk4k1 > .col > .t4b-box:hover p {
  color: white;
}
div#iz339k > .t4b-box {
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
}
div#izk4k1 > div > div.t4b-box:hover p {
  color: white;
}
div#izk4k1 > div > div.t4b-box:hover {
  background: linear-gradient(
    90deg,
    rgb(42, 146, 205) 0%,
    rgb(27, 64, 125) 100%
  );
}
#i80gvk {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#iby8r8 {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#ifcnck {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 26px;
}
#iu7b27 {
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
#ian093 {
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
#ia12kh {
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
#iz339k {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  gap: 25px;
}
#i2a6mr {
  padding: 0 0 100px 0;
  background-color: #fff;
}
#i8hd8s {
  font-size: 32px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  line-height: 40px;
}
#i0oh8s {
  text-align: left;
  color: #014583;
  font-weight: 700;
  margin: 0 0 0 0;
  font-size: 22px;
  font-family: inherit;
  line-height: 30px;
}
#i640uf {
  background: rgb(157, 214, 234);
  padding: 50px 0 50px 0;
}
#iwxc24 {
  font-family: Roboto;
  color: #000;
  line-height: 26px;
  font-size: 18px;
  margin: 20px 0 0 0;
}
#i4y00p3-2 {
  text-align: center;
}
#itrdr4 {
  background-color: #fefefe;
}
div#i09kng > .t4b-box:hover {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
div#i09kng > .t4b-box {
  transition: all 0.3s ease;
}
#imchm:hover #i3s47f {
  background: #faa500;
  transform: translateX(258px);
}
#imchm:hover p#i27ut {
  transform: translateX(-30px);
  color: black;
}
#iwxm01:hover #iua9z1 {
  background: #faa500;
  transform: translateX(364px);
}
#iwxm01:hover #iat8hl {
  transform: translateX(-30px);
  color: black;
}
#i8hnr1:hover #i5814g {
  background: #faa500;
  transform: translateX(258px);
}
#i8hnr1:hover p#ii7ynq {
  transform: translateX(-30px);
  color: black;
}
#i19q8b:hover #i5v90y {
  background: #faa500;
  transform: translateX(545px);
}
#i19q8b:hover p#isy64q {
  transform: translateX(-30px);
  color: black;
}
#ij7yl8:hover #i8hrms {
  background: #faa500;
  transform: translateX(293px);
}
#ij7yl8:hover p#ig33mi {
  transform: translateX(-30px);
  color: black;
}
#i8zwj8:hover #iucnfb {
  background: #faa500;
  transform: translateX(382px);
}
#i8zwj8:hover p#itd8w5 {
  transform: translateX(-30px);
  color: black;
}
#i3dpka:hover #ixsx3y {
  background: #faa500;
  transform: translateX(177px);
}
#i3dpka:hover p#ifo11u {
  transform: translateX(-30px);
  color: black;
}
body.modal-open .modal {
  background-color: #fff0;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
  height: auto;
  width: 80%;
}
#idru3 {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#im7ex {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#il3p7 {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#ingvo {
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px -10px;
}
#ihdne {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#i1yef {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
}
#ijg3l {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#i3uv3 {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 -10px;
}
#idru3:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#i3uv3:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#i1yef:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#ingvo:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#i98jg {
  padding: 0 15px 0 15px;
}
#izq73 {
  padding: 100px 0 150px 0;
  background-color: #fdfdfd;
}
#ia4wa9 {
  font-size: 32px;
  font-weight: 700;
  color: #014583;
  margin: 0 0 0 0;
  line-height: 40px;
}
#i8vplo {
  font-family: Roboto;
  color: #000;
  line-height: 26px;
  font-size: 18px;
  margin: 20px 0 40px 0;
}
#iwmnfj {
  color: black;
}
#iixmgh {
  color: black;
}
#ijispd {
  color: black;
}
#iitjpk {
  color: black;
}
#i7gvz9 {
  color: black;
}
#ilz5ee {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#i9z0xn {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 -10px;
}
#i9z0xn:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#im138h {
  color: black;
}
#ijzec2 {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#iu8csj {
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px -10px;
}
#iu8csj:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#ivgtth {
  font-family: Roboto;
  color: #000;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
}
#ieg9fg {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#igm4eg {
  padding: 10px 10px 10px 10px;
  margin-bottom: 8px;
  margin: 0 0 0 -10px;
  width: auto;
}
#igm4eg:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#i5xjkj {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#ilsy6m {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 -10px;
}
#ilsy6m:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#ic3b2i {
  padding: 0 15px 0 15px;
}
#iuwj5g {
  padding: 100px 0 100px 0;
  background-color: #fdfdfd;
}
#icx8iv {
  font-family: Roboto;
  color: #000;
  line-height: 26px;
  font-size: 18px;
  margin: 20px 0 40px 0;
}
#i3xp4i {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
}
#ims3dh {
  color: black;
  width: 55px;
}
#ii906r {
  color: black;
  width: 100%;
}
#iy6eje {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ijp0zf {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#is3wnz {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i07g0k {
  margin: 0 0 0 10px;
  line-height: 26px;
  font-size: 18px;
}
#iwtyof {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 -10px;
}
#iwtyof:hover {
  background: linear-gradient(135deg, #e9f4f9 0, #cae9f1 100%);
  border-radius: 10px;
}
#iw3ho5 {
  font-size: 18px;
}
#irkwml {
  font-size: 18px;
  font-family: Montserrat;
}
#i43cmb {
  color: black;
  width: 55px;
}
#i9ljfm {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #808080;
}
#i6h2fc {
  background-color: #fdfdfd;
  padding: 100px 0 100px 0;
}
#izel3p {
  color: #014583;
  font-size: 24px;
  font-family: Roboto;
  display: block;
  text-align: center;
}
#inrnti {
  padding: 20px 0 20px 0;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(204, 229, 242, 1) 0%,
    rgba(214, 246, 255, 1) 37%,
    rgba(214, 246, 255, 1) 71%,
    rgba(204, 229, 242, 1) 100%
  );
}
#ivropd {
  font-weight: 700;
  padding: 8px 16px 0 16px;
}
#ibjj09 {
  width: 100%;
  font-weight: 700;
}
#i14605 {
  border-left: 0 solid rgb(222, 226, 230);
  width: 5%;
  border-top: 0 solid rgb(222, 226, 230);
}
#i5u8ri {
  width: 100%;
  font-weight: 700;
  font-family: Roboto;
}
#ifr0wc {
  width: 100%;
  font-weight: 700;
  font-family: Roboto;
}
#iuuqmx {
  width: 100%;
  font-weight: 700;
  font-family: Roboto;
}
#iaoh9x {
  font-weight: 700;
  padding: 8px 16px 0 16px;
  font-family: Roboto;
}
#imql3q {
  width: 20%;
  border-top: 0 solid rgb(222, 226, 230);
}
#iydcx7 {
  margin: 20px 0 20px 0;
  font-size: 18px;
  line-height: 26px;
}
#immxz6 {
  font-weight: 700;
  padding: 8px 16px 0 16px;
  font-family: Roboto;
}
#ihjggl {
  font-weight: 700;
  font-family: Roboto;
}
#id7yy8 {
  font-weight: 700;
  font-family: Roboto;
}
#ibixew {
  border-left: 0 solid rgb(33, 37, 41);
}
#iqo91i {
  padding: 0 16px 10px 16px;
}
#ickgd8 {
  padding: 0 16px 10px 16px;
}
#icvhk1 {
  font-weight: 700;
  padding: 8px 16px 0 16px;
  font-family: Roboto;
}
#ipw348 {
  padding: 0 16px 10px 16px;
  font-family: Roboto;
}
#ipmnd3 {
  padding: 0 16px 10px 16px;
  font-family: Roboto;
}
#ihvcxw {
  font-weight: 700;
  padding: 8px 16px 0 16px;
  font-family: Roboto;
}
#i56cuv {
  padding: 0 16px 10px 16px;
  font-family: Roboto;
}
#ib554f {
  font-weight: 700;
  padding: 8px 16px 0 16px;
  font-family: Roboto;
}
#i6sa9g {
  padding: 0 16px 10px 16px;
  font-family: Roboto;
}
#is8hzk {
  background: #f6fbff;
}
#i4k3nt {
  margin: 40px 0 20px 0;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
  color: #808080;
}
#iwi26h {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#ikvlc9 {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#ilnnfi {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_ilnnfi {
  background-image: url(../../../../images/background/hinh-nen-ho-so.jpg) !important;
}
.glac-qb-process a[aria-expanded="true"] > p {
  font-weight: 500;
}
ul#i1mj4h7 li {
  margin-bottom: 15px;
}
ul#i5reey7 li {
  margin-bottom: 15px;
}
div#iyd0wcy p {
  margin-bottom: 20px;
}
div#iql7y57 p {
  margin-bottom: 20px;
}
div#i6si067 p {
  margin-bottom: 20px;
}
div#ioat8rs p {
  margin-bottom: 20px;
}
div#ikr33n7 p {
  margin-bottom: 20px;
}
ul#i02k6jb li {
  margin-bottom: 15px;
}
div#i84afg3 p {
  margin-bottom: 20px;
  line-height: 26px;
}
div#i3i1pf9 {
  padding: 0px 25px;
}
div#i3i1pf9 i {
  margin-top: 5px;
  color: #0093d3;
  font-size: 20px;
}
div#i3i1pf9 p {
  margin-bottom: 20px;
}
p#i11gznl {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
p#igr45dl {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
p#i2wdbzr {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
div#i10l81u {
  padding: 0px 25px;
}
div#i10l81u i {
  margin-top: 5px;
  font-size: 20px;
}
div#i10l81u p {
  margin-bottom: 20px;
}
div#i10l81u ul li {
  margin-bottom: 10px;
}
p#i0qyjb7 {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
p#idr6r38 {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
p#izfp45c {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
p#izfp45c-2 {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
div#ibnh4j i {
  font-size: 20px;
  margin-top: 5px;
}
div#iqf9m1t p {
  line-height: 26px;
  font-size: 18px;
  font-family: "Roboto";
}
.t4b-section.t4b-fd__faq-3 {
  background-color: #fdfdfd;
}
div#iqf9m1t ul li {
  font-size: 18px;
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 26px;
}
a#is42tl:hover {
  background: #ffbb1c;
}
#i7u03z:hover #iy8bmt {
  background: #faa500;
  transform: translateX(258px);
}
#i7u03z:hover p#i7kdkv {
  transform: translateX(-30px);
  color: black;
}
#iunny2:hover #iuk3zl {
  background: #faa500;
  transform: translateX(293px);
}
#iunny2:hover p#iyrjbm {
  transform: translateX(-30px);
  color: black;
}
#iu6p54:hover #iomurj {
  background: #faa500;
  transform: translateX(177px);
}
#iu6p54:hover p#i9k5oh {
  transform: translateX(-30px);
  color: black;
}
#iuk7si:hover #i2gx3p {
  background: #faa500;
  transform: translateX(364px);
}
#iuk7si:hover p#ixxy42 {
  transform: translateX(-30px);
  color: black;
}
#ixfm8w:hover #ifn2hf {
  background: #faa500;
  transform: translateX(258px);
}
#ixfm8w:hover p#i1wfg5 {
  transform: translateX(-30px);
  color: black;
}
#ilwjgv:hover #isy7wz {
  background: #faa500;
  transform: translateX(382px);
}
#ilwjgv:hover p#ixpmnz {
  transform: translateX(-30px);
  color: black;
}
#ii5uyi:hover #ip9g4p {
  background: #faa500;
  transform: translateX(545px);
}
#ii5uyi:hover p#ice11k {
  transform: translateX(-30px);
  color: black;
}
.scroll-up #i5v9f6 {
  display: none;
}
.scroll-down #i5v9f6 {
  padding: 60px 0 0px 0;
  position: sticky;
  top: -60px;
  z-index: 999;
  background-color: #fff;
}
ul#inaoim li {
  margin-bottom: 10px;
}
div#iyogyj .t4b-box:hover {
  background: linear-gradient(to right, #38e54d, #9dd6ea, #0f4482);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
div#iyogyj .t4b-box:hover > p:last-child {
  color: white;
}
div#iycsmh .t4b-box {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
div#ioq5ic > div > .t4b-box:hover {
  background: linear-gradient(
    to right,
    rgb(56, 229, 77) 0%,
    rgb(157, 214, 234) 50%,
    rgb(15, 68, 130) 100%
  ) !important;
}
div#ioq5ic > div > .t4b-box:hover p:last-child {
  color: white;
}
div#i8tc9t #v-pills-tab {
  gap: 15px;
}
div#i8tc9t #v-pills-tab a.nav-link {
  border-radius: 15px;
  background: #e9f4f9;
  color: black;
  transition: all 0.3s ease;
}
div#i8tc9t #v-pills-tab a.nav-link.active {
  border-radius: 15px;
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
div#igiqpp a:hover {
  font-weight: bold;
  background: #e9f4f9;
}
div#i4e7er .glac-qb-border p {
  font-size: 18px;
}
div#i3h9gr .t4b-box {
  transition: all 0.3s ease;
}
div#i3h9gr .t4b-box:hover {
  transform: translateY(-1px);
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
body {
  border-color: #000;
}
div#i527oj .t4b-link-box {
  transition: all 0.3s ease;
}
div#i527oj .t4b-link-box:hover {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
i#i0et6c,
span#iyiyjl {
  transition: all 0.5s ease;
}
a#ibxl3w:hover {
  background: #ffbb1c !important;
}
a#ibxl3w:hover i#i0et6c {
  transform: translateX(640%);
  background: #faa500 !important;
}
a#ibxl3w:hover span#iyiyjl {
  transform: translateX(-15%);
  color: #000;
}
i#i5clp,
span#i7jdo {
  transition: all 0.5s ease;
}
a#iu0xc:hover {
  background: #ffbb1c !important;
}
a#iu0xc:hover i#i5clp {
  transform: translateX(785%);
  background: #faa500 !important;
}
a#iu0xc:hover span#i7jdo {
  transform: translateX(-12%);
  color: #000;
}
i#izd3pr,
span#ih41be {
  transition: all 0.5s ease;
}
a#iedbo4:hover {
  background: #ffbb1c !important;
}
a#iedbo4:hover i#izd3pr {
  transform: translateX(915%);
  background: #faa500 !important;
}
a#iedbo4:hover span#ih41be {
  transform: translateX(-10%);
  color: #000;
}
i#i02fqs,
span#i5wb0d {
  transition: all 0.5s ease;
}
a#izxh6x:hover {
  background: #ffbb1c !important;
}
a#izxh6x:hover i#i02fqs {
  transform: translateX(795%);
  background: #faa500 !important;
}
a#izxh6x:hover span#i5wb0d {
  transform: translateX(-10%);
  color: #000;
}
i#ihk5hk,
span#ieg9v7 {
  transition: all 0.5s ease;
}
a#ixkgvi:hover {
  background: #ffbb1c !important;
}
a#ixkgvi:hover i#ihk5hk {
  transform: translateX(685%);
  background: #faa500 !important;
}
a#ixkgvi:hover span#ieg9v7 {
  transform: translateX(-10%);
  color: #000;
}
i#ichu9k,
span#ijcanl {
  transition: all 0.5s ease;
}
a#i50qwk:hover {
  background: #ffbb1c !important;
}
a#i50qwk:hover i#ichu9k {
  transform: translateX(835%);
  background: #faa500 !important;
}
a#i50qwk:hover span#ijcanl {
  transform: translateX(-11%);
  color: #000;
}
i#it7olh,
span#i64xou {
  transition: all 0.5s ease;
}
a#i4kgji:hover {
  background: #ffbb1c !important;
}
a#i4kgji:hover i#it7olh {
  transform: translateX(795%);
  background: #faa500 !important;
}
a#i4kgji:hover span#i64xou {
  transform: translateX(-11%);
  color: #000;
}
.glac-item:hover #i311k,
.glac-item:hover #il0ty,
.glac-item:hover #iu98f,
.glac-item:hover #iykai {
  color: white;
}
.glac-item:hover .glac-readmore {
  background: #ffbb1c;
}
.glac-item:hover .glac-desc {
  color: white;
}
.glac-item > div {
  max-width: 70px;
  border-radius: 50%;
  border: 5px solid #e2e2e2;
  overflow: hidden;
}
#ik0nt > div,
#i5s9fn > div,
#i8b8bj > div {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
#ik0nt:hover #itcycz,
#i5s9fn:hover #ix0hul,
#i8b8bj:hover #iulbp4 {
  background: #ffbb1c;
  transition: background 0.5s ease;
}
#ik0nt:hover #i0n4ed,
#i5s9fn:hover #iyvnc5,
#i8b8bj:hover #iwk3zx {
  opacity: 1;
  transition: all 0.5s ease;
}
#ik0nt:hover #inwulj,
#i5s9fn:hover #i6wgww,
#i8b8bj:hover #i4dock {
  color: white;
}
#ik0nt:hover #iqw1ng,
#i5s9fn:hover #i1mntz,
#i8b8bj:hover #ifdczj {
  color: white;
}
#ixbjo7:hover #izcftg,
#ixbjo7:hover #i6rhcy,
#ixbjo7:hover #iyzb5m,
#ixbjo7:hover #ika5hb {
  color: white;
}
#ixbjo7:hover #in4a56 {
  color: #00689e;
  background: #ffbb1c;
}
#i3utxg:hover #iswe1k,
#i3utxg:hover #i3w4ov,
#i3utxg:hover #irbauf,
#i3utxg:hover #i6mgph,
#iwfe3h:hover #irvwfj,
#iwfe3h:hover #iwhf67,
#iwfe3h:hover #iwtwmo,
#iwfe3h:hover #i8bqsa {
  color: white;
}
#i3utxg:hover #iqt2r7,
#iwfe3h:hover #iq8v4j {
  color: #00689e;
  background: #ffbb1c;
}
a.carousel-controls.carousel-control-prev:hover #ic1vco,
a.carousel-controls.carousel-control-next:hover #i0ox4w {
  color: #0085cb !important;
}
a.carousel-controls.carousel-control-next,
a.carousel-controls.carousel-control-prev {
  border: 1px solid #bcbcbc;
  opacity: 1;
}
a.carousel-controls.carousel-control-next:focus,
a.carousel-controls.carousel-control-prev:focus {
  border: 1px solid #0085cb !important;
}
a.carousel-controls.carousel-control-next:focus #i0ox4w,
a.carousel-controls.carousel-control-prev:focus #ic1vco {
  color: #0085cb !important;
}
.t4b-tes__style-3 .carousel-item {
  padding: 0px 4rem;
}
#i8ygi:hover #i0t9n {
  transform: translateX(336%);
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}
#i8ygi:hover #iqlyf {
  transform: translateX(-35%);
  font-weight: 600;
  color: #fff;
}
#ixkpkg ol.carousel-indicators {
  margin-top: 10px;
}
div#ibyeqm .col-12 .t4b-box:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-5px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#ild6lh:hover #i3i47f {
  background: #faa500;
  transform: translateX(217px);
}
#ild6lh:hover p#ipefc1 {
  transform: translateX(-30px);
  color: black;
}
div#i9sqlf > div > .t4b-feature-content {
  padding: 30px 20px;
  transition: all 0.2s ease;
  background: #8080800f;
  border-radius: 30px;
}
div#i9sqlf > div > .t4b-feature-content:hover {
  scale: 1.02;
}
a#i9in3g:hover {
  scale: 1.02;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
ul#ige6rd p {
  margin-top: 10px;
}
span.mb-0.mt-0.center {
  display: flex;
  justify-content: center;
  background: #fdc04d;
}
.t4b-fd__faq-3 .t4b-accordion-style-3 .card:last-child .card-body {
  border-top: none;
}
#iob3uh {
  background-color: #fff;
  box-shadow: 0 0 5px 0 #ddd4d4;
}
#i6rakl {
  color: #014583;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}
#iob3uh-2 {
  background-color: #fff;
  box-shadow: 0 0 5px 0 #e2dfdf;
}
#i6rakl-2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: #014583;
}
#idjxnx {
  font-weight: 700;
  color: #014583;
  font-size: 20px;
  margin: 0 0 8px 0;
}
#i7an7t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e8f7ff;
}
#ibt3pj {
  font-weight: 700;
  color: #014583;
  font-size: 20px;
  margin: 0 0 8px 0;
}
#ipkh2b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #e8f7ff;
  border-radius: 10px 10px 10px 10px;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
  #ivropd {
    font-family: Roboto;
  }
  #ibjj09 {
    font-family: Roboto;
  }
}
@media (max-width: 991.98px) {
  #ikej4 {
    padding: 0 0 0 0;
  }
  #ioh08 {
    padding: 0 0 0 0;
  }
  #ih88w {
    padding: 0 15px 0 0;
  }
  #ilvrg {
    font-size: 15px;
  }
  #iybzi {
    font-size: 15px;
  }
  #iqyvl {
    font-size: 15px;
  }
  #ilg2y {
    font-size: 25px;
  }
  #ii36b {
    font-size: 25px;
  }
  #iddm7 {
    font-size: 25px;
  }
  #iifrlg {
    margin: 40px 0 0 0;
  }
  #in6uth {
    margin: 0 0 10px 0;
  }
  #i2nk0l {
    margin: 0 0 0 10px;
  }
  #i6iuqk {
    margin: 40px 0 0 0;
  }
  #i0s3yc {
    margin: -15% 0 0 0;
  }
  #iozzte {
    padding: 100px 0 100px 0;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #iw7idf {
    max-width: 100%;
  }
  #ivwx2t {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.08;
  }
  #i0uqic {
    margin: 40px 0 0 0;
    text-align: center;
  }
  #izttrj {
    margin: 40px 0 0 0;
  }
  #ike1uj {
    text-align: center;
  }
  #iykdvw {
    text-align: center;
  }
  #iubo91 {
    text-align: center;
  }
  #iqzybj {
    margin: 40px 0 0 0;
  }
  #iaqob1 {
    margin: 40px 0 0 0;
  }
  #iiuapy {
    width: 100%;
  }
  #ik3r4m {
    width: 100%;
  }
  #i8hd8s {
    margin: 0 0 40px 0;
  }
  #i2a6mr {
    padding: 50px 0 50px 0;
  }
  #ia4wa9 {
    margin: 0 0 40px 0;
  }
  #i053s {
    margin: 0 0 40px 0;
  }
  #iyyis8 {
    margin: 0 0 40px 0;
  }
  #ivropd {
    font-family: Roboto;
  }
  #i6sa9g {
    font-family: Roboto;
  }
  #iqo91i {
    font-family: Roboto;
  }
  #ibjj09 {
    font-family: Roboto;
  }
  #iaoh9x {
    font-family: Roboto;
  }
  #ifr0wc {
    font-family: Roboto;
  }
  #ickgd8 {
    font-family: Roboto;
  }
  #iuuqmx {
    font-family: Roboto;
  }
  #icvhk1 {
    font-family: Roboto;
  }
  #ipw348 {
    font-family: Roboto;
  }
  #i5u8ri {
    font-family: Roboto;
  }
  #immxz6 {
    font-family: Roboto;
  }
  #ipmnd3 {
    font-family: Roboto;
  }
  #ihjggl {
    font-family: Roboto;
  }
  #id7yy8 {
    font-family: Roboto;
  }
  #ib554f {
    font-family: Roboto;
  }
  #ihvcxw {
    font-family: Roboto;
  }
  #i56cuv {
    font-family: Roboto;
  }
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px;
  }
}
@media (max-width: 991.98px) {
  #i98jg {
    padding: 0 15px 0 15px;
  }
  #ic3b2i {
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 767.98px) {
  #ikej4 {
    padding: 0 5px 0 5px;
  }
  #ilg2y {
    font-size: 18px;
    line-height: 26px;
  }
  #ii36b {
    font-size: 18px;
    line-height: 26px;
  }
  #iddm7 {
    font-size: 18px;
    line-height: 26px;
  }
  #ih88w {
    padding: 0 15px 0 5px;
  }
  #ioh08 {
    padding: 0 5px 0 5px;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #iz5wlj {
    padding: 0 0 0 0;
  }
  #io5mrj {
    max-width: 20%;
  }
  #ij8q6h {
    max-width: 20%;
  }
  #ilvm16 {
    max-width: 20%;
  }
  #izel3p {
    font-size: 18px;
  }
  #ivropd {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ibjj09 {
    font-family: Roboto;
    font-size: 18px;
  }
  #iqo91i {
    font-family: Roboto;
    font-size: 18px;
  }
  #ifr0wc {
    font-family: Roboto;
    font-size: 18px;
  }
  #iuuqmx {
    font-family: Roboto;
    font-size: 18px;
  }
  #i5u8ri {
    font-family: Roboto;
    font-size: 18px;
  }
  #ihjggl {
    font-family: Roboto;
    font-size: 18px;
  }
  #id7yy8 {
    font-family: Roboto;
    font-size: 18px;
  }
  #iaoh9x {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ickgd8 {
    font-family: Roboto;
    font-size: 18px;
  }
  #icvhk1 {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ipw348 {
    font-family: Roboto;
    font-size: 18px;
  }
  #immxz6 {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ipmnd3 {
    font-family: Roboto;
    font-size: 18px;
  }
  #ihvcxw {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #i56cuv {
    font-family: Roboto;
    font-size: 18px;
  }
  #ib554f {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #i6sa9g {
    font-family: Roboto;
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  #i053s {
    text-align: center;
  }
  #iyyis8 {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  #iv8lr {
    padding: 64px 0 50px 0;
  }
  #in3w {
    opacity: 1;
  }
  #itim2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  #i94cz {
    text-align: left;
  }
  #irklw {
    background-color: transparent;
  }
  #i6iei {
    margin: 0 0 0 10px;
  }
  #i22z {
    padding: 0 0 0 0;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  .glac-tab-content-verticle-singapore .tab-content {
    padding: 0;
    margin: 20px 0px 20px 0px;
  }
  #i7dd0u {
    transform: translateY(0);
  }
  #i6924l {
    width: 90%;
  }
  #ipez8q {
    width: 90%;
  }
  #i0s3yc {
    margin: 40px 0 0 0;
    padding: 0 15px 40px 15px;
  }
  #ikq9t2 {
    padding: 60px 0 100px 0;
  }
  #idym6y {
    font-size: 28px;
    line-height: 35px;
  }
  #iz5wlj {
    display: block;
    width: 100%;
  }
  #i1jla3 {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #i66etf {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #iubs8p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #i20t5k {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #i639mb {
    font-size: 14px;
    line-height: 20px;
  }
  #ijcee9 {
    font-size: 14px;
    line-height: 20px;
  }
  #iepc5o {
    font-size: 14px;
    line-height: 20px;
  }
  #io5mrj {
    width: 20%;
  }
  #ij8q6h {
    width: 20%;
  }
  #ilvm16 {
    width: 20%;
  }
  div#i2fo6j {
    order: 1;
  }
  #icqllj {
    font-size: 14px;
    line-height: 20px;
  }
  #i0oh8s {
    line-height: 30px;
    font-size: 24px;
  }
  #ix90ss:hover #iuko3f {
    background: #faa500;
    transform: translateX(220px);
  }
  #ix90ss:hover p#iek9lb {
    transform: translateX(-30px);
    color: black;
  }
  #imchm:hover #i3s47f {
    background: #faa500;
    transform: translateX(231px);
  }
  #ir4xdm:hover #imjufh {
    background: #faa500;
    transform: translateX(230px);
  }
  #ir4xdm:hover p#iu1r7f {
    transform: translateX(-30px);
    color: black;
  }
  #itotnk:hover #i02os3 {
    background: #faa500;
    transform: translateX(224px);
  }
  #itotnk:hover p#i07xxk {
    transform: translateX(-30px);
    color: black;
  }
  #izel3p {
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #ivropd {
    font-size: 18px;
    font-family: Roboto;
    padding: 8px 16px 5px 16px;
  }
  #iqo91i {
    font-size: 18px;
    font-family: Roboto;
  }
  #iaoh9x {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #immxz6 {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ickgd8 {
    font-family: Roboto;
    font-size: 18px;
  }
  #icvhk1 {
    font-size: 18px;
    font-family: Roboto;
    padding: 8px 16px 5px 16px;
  }
  #ipw348 {
    font-family: Roboto;
    font-size: 18px;
  }
  #ipmnd3 {
    font-family: Roboto;
    font-size: 18px;
  }
  #i56cuv {
    font-family: Roboto;
    font-size: 18px;
  }
  #i6sa9g {
    font-family: Roboto;
    font-size: 18px;
  }
  #ib554f {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ihvcxw {
    font-family: Roboto;
    font-size: 18px;
    padding: 8px 16px 5px 16px;
  }
  #ibjj09 {
    font-family: Roboto;
    font-size: 18px;
  }
  #ifr0wc {
    font-family: Roboto;
    font-size: 18px;
  }
  #iuuqmx {
    font-family: Roboto;
    font-size: 18px;
  }
  #i5u8ri {
    font-family: Roboto;
    font-size: 18px;
  }
  #ihjggl {
    font-family: Roboto;
    font-size: 18px;
  }
  #id7yy8 {
    font-family: Roboto;
    font-size: 18px;
  }
  #i4y00p3 {
    margin: 0 0 40px 0;
  }
  #i98jg {
    padding: 0 30px 0 30px;
  }
  ul#ige6rd p {
    line-height: 23px;
    margin-top: 15px;
  }
  div#i10l81u {
    padding: 0;
  }
  #iukp05:hover #iyaxqg {
    background: #faa500;
    transform: translateX(220px);
  }
  #iukp05:hover p#ie475l {
    transform: translateX(-30px);
    color: black;
  }
  #ii2yl8:hover #i2s26g {
    background: #faa500;
    transform: translateX(230px);
  }
  #ii2yl8:hover p#iutguf {
    transform: translateX(-30px);
    color: black;
  }
  #ibmf1g:hover #ip6jty {
    background: #faa500;
    transform: translateX(224px);
  }
  #ibmf1g:hover p#idifbl {
    transform: translateX(-30px);
    color: black;
  }
  i#i0et6c,
  span#iyiyjl {
    transition: unset;
  }
  a#ibxl3w:hover {
    background: #ffbb1c !important;
  }
  a#ibxl3w:hover i#i0et6c {
    transform: unset;
    background: #faa500 !important;
  }
  a#ibxl3w:hover span#iyiyjl {
    transform: unset;
    color: #000;
  }
  i#i5clp,
  span#i7jdo {
    transition: unset;
  }
  a#iu0xc:hover {
    background: #ffbb1c !important;
  }
  a#iu0xc:hover i#i5clp {
    transform: unset;
    background: #faa500 !important;
  }
  a#iu0xc:hover span#i7jdo {
    transform: unset;
    color: #000;
  }
  i#izd3pr,
  span#ih41be {
    transition: unset;
  }
  a#iedbo4:hover {
    background: #ffbb1c !important;
  }
  a#iedbo4:hover i#izd3pr {
    transform: unset;
    background: #faa500 !important;
  }
  a#iedbo4:hover span#ih41be {
    transform: unset;
    color: #000;
  }
  i#i02fqs,
  span#i5wb0d {
    transition: unset;
  }
  a#izxh6x:hover {
    background: #ffbb1c !important;
  }
  a#izxh6x:hover i#i02fqs {
    transform: unset;
    background: #faa500 !important;
  }
  a#izxh6x:hover span#i5wb0d {
    transform: unset;
    color: #000;
  }
  i#ihk5hk,
  span#ieg9v7 {
    transition: unset;
  }
  a#ixkgvi:hover {
    background: #ffbb1c !important;
  }
  a#ixkgvi:hover i#ihk5hk {
    transform: unset;
    background: #faa500 !important;
  }
  a#ixkgvi:hover span#ieg9v7 {
    transform: unset;
    color: #000;
  }
  i#ichu9k,
  span#ijcanl {
    transition: unset;
  }
  a#i50qwk:hover {
    background: #ffbb1c !important;
  }
  a#i50qwk:hover i#ichu9k {
    transform: unset;
    background: #faa500 !important;
  }
  a#i50qwk:hover span#ijcanl {
    transform: unset;
    color: #000;
  }
  i#it7olh,
  span#i64xou {
    transition: unset;
  }
  a#i4kgji:hover {
    background: #ffbb1c !important;
  }
  a#i4kgji:hover i#it7olh {
    transform: unset;
    background: #faa500 !important;
  }
  a#i4kgji:hover span#i64xou {
    transform: unset;
    color: #000;
  }
}
@media (max-width: 575.98px) {
  #i053s {
    text-align: center;
    margin: 0;
  }
  #izq73 {
    padding: 50px 0 50px 0;
  }
  #iyyis8 {
    text-align: center;
    margin: 0;
  }
  #iuwj5g {
    padding: 50px 0 50px 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
