@charset "utf-8";
#iwoee {
  padding: 5px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#if9rl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#ielk8 {
  text-align: center;
}
#iidwh {
  color: black;
  max-width: 100%;
  width: 100px;
}
#i7fpz {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#i3r1l {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#i83gs {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#i1x09 {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iuo3u {
  color: black;
  width: 45px;
  height: 45px;
}
#ioqr2 {
  padding: 8px;
  min-height: 50px;
}
#ivodq {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#i3vdo {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ii1po {
  color: black;
  width: 45px;
  height: 45px;
}
#i7yu7 {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ibka1 {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ikpeq {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#izmxx {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#ij12e {
  color: black;
  width: 45px;
  height: 45px;
}
#ixl4r {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ijzbu {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#iscxj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i3n0s {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iwdjiq {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0 0 0 0;
  display: block;
}
#igo756 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-family: inherit;
}
#idkhrw {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#ii9i7k {
  margin: 0 0;
}
body.modal-open .modal {
  background-color: #fff0;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
  height: auto;
  width: 80%;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #014583;
  font-size: 16px;
  font-weight: 600;
}
.modal-content {
  border-radius: 15px;
}
#ijhje9 {
  color: #0093d3;
}
#iu205s {
  font-weight: 700;
  color: #014583;
  font-size: 54px;
  line-height: 72px;
  margin: 0 0 35.5px 0;
  font-family: inherit;
}
#ia2q0x {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  line-height: 92.5px;
  font-family: inherit;
}
#ie8fvs {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
  gap: 30px;
}
#igeotc {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#ilw61i {
  color: black;
  float: right;
}
#iay5t1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iq3l5j {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 0 0 0;
}
#i1nzqg {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 3.5px 0;
  font-weight: 700;
}
#i9yhhj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#iaeqt2 {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
  padding: 8px 8px 8px 10px;
}
#ixq5jy {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ixq5jy:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#ic5dj9 {
  margin: 0 0 0 0;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  padding: 0 0 10px 0;
}
#i5xy39 {
  color: #000;
  margin: 0 0 5px 0;
  line-height: 26px;
}
#i33yvf {
  color: #000;
  margin: 0 0 0 0;
  line-height: 26px;
}
#izriyj {
  margin: 0 0 0 0;
}
#iqqjrj {
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  padding: 8px 8px 8px 10px;
}
#i2y4bl {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  font-size: 18px;
}
#i2y4bl:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 10px 0;
}
#ihu4xj {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#itea2z {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 26px;
  padding: 8px 8px 8px 10px;
}
#iorxrp {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 20px 0;
  font-size: 18px;
}
#iorxrp:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 20px 0;
}
#iktprp {
  color: black;
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border: 10px solid #9dd6ea;
  margin: 22px 0 0 0;
}
#iul94n {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
  margin: 0 0 0 0;
}
#i7pkq5 {
  color: #0093d3;
}
#itmgiv {
  color: #014583;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
}
#igo1iu {
  color: #000;
  font-size: 18px;
  margin: 0 0 38px 0;
  line-height: 26px;
}
#iapg6g {
  background-color: #e9f4f9;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  padding: 50px 0 60px 0;
  margin: 0 0 0 0;
}
#iarycf {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#ik8lki {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 8px 0;
  display: flex;
}
#i9e4hh {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#i2f67l {
  color: black;
  width: 55px;
  height: 55px;
}
#inxv1k {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#ivbi7m {
  margin: 0 0 20px 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#i6ksfn {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 10px 0;
}
#iudt9b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iz9nij {
  color: black;
  height: auto;
}
#ir21x5 {
  margin: -40px 0 0 0;
  padding: 60px 0 60px 0;
}
#ip03sl {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  line-height: 35px;
}
#ifo1jh {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 26px;
  margin: 0 0 8px 0;
}
#ijrjp7 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 32px 0 8px 0;
}
#ixy87h {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#ixy87h:hover {
  scale: 1.02;
  opacity: 0.8;
}
#inzf14 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#isjwsy {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#isjwsy:hover {
  scale: 1.02;
  opacity: 0.8;
}
#ig6ofy {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#isi9r5 {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#isi9r5:hover {
  scale: 1.02;
  opacity: 0.8;
}
#ifu9r5 {
  padding: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i3f5k8 {
  padding: 13px 0 16px 0;
}
#ilzb87 {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
}
#iof7w3 {
  color: #0093d3;
}
#it3bp9 {
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-family: inherit;
}
#ibm412 {
  color: black;
}
#imtj03 {
  color: #000;
  font-size: 18px;
}
#innagk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 60px 0 8px 0;
}
#i4ue4j {
  color: #014583;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
}
#iv9ijf {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i7ajjv {
  font-weight: 400;
  line-height: 26px;
}
#ivb15p {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#ivf1tm {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i3ipxy {
  font-weight: 400;
  padding: 0 0 6px 0;
  line-height: 26px;
}
#iozd49 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  font-style: normal;
}
#i0rldt {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#inbq5s {
  font-weight: 400;
  line-height: 26px;
}
#ixlhkq {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#i9pipt {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0;
  font-size: 18px;
}
#i9pipt {
  background-color: #f1faff;
  border-radius: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}
#iauhic {
  padding: 40px 0 40px 0;
  margin: 52px 0 0 0;
}
#iatbuh {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#iv5k9g {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iziu5j {
  padding: 30px 20px 30px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 180px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
}
#iurkr6 {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ipkir1 {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#i7zkjg {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#iwcbow {
  padding: 30px 20px 30px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 180px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
}
#ifscef {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#isdso1 {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#i7jslw {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
}
#ipy9yc {
  padding: 30px 20px 30px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 180px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
}
#i1ex9b {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9ma1m {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#itbmpp {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
  display: flex;
}
#iaux6w {
  padding: 30px 20px 30px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 180px;
  display: flex;
}
#iekouk {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 130px;
}
#ilawb2 {
  padding: 60px 0 40px 0;
}
#iuaisp {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
  width: 60%;
}
#i59of2 {
  padding: 0 8px 24px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 0 0 0 0;
}
#i7nrig {
  color: black;
  width: 170px;
}
#ihrd1c {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#idb60j {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 40px 0;
}
#ig6fun {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: inherit;
  line-height: 35px;
}
#ir0qxe {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#inkbzq {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#i4kbxx {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#irperh {
  color: #000;
}
#i03zgl {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#i4qzbv {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#iui4yp {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#iz20v7 {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#ibq3cg {
  color: #000;
}
#il8pc1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#il0y4d {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i8581i {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#irsmwi {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#irsmwi:hover {
  scale: 1.02;
}
#i824g8 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#ia0ap8 {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #fbbc3f;
  display: none;
  padding: 13px 17px 13px 17px;
}
#ia0ap8:hover {
  scale: 1.02;
}
#izjsv8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#i3p0ob {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 0 0 16px 0;
}
#ismj2t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#ian6dj {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i3743i {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 50px 0 65px 0;
}
#io9sf3 {
  color: #fbbc3f;
}
#i4asll {
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #fff;
}
#ixhbwj {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 26px;
}
#i85olf {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 6px 0;
}
#ipy93k {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  margin: 25px 0 8px 0;
}
#icuhmd {
  color: black;
  width: 30px;
  height: 30px;
  animation: bounce1 1.1s infinite;
}
#ipao5d {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
}
#iqpfhf {
  margin: 0 0 0 0;
}
#ix53la {
  color: black;
  width: 55px;
  height: 55px;
}
#iet8pf {
  font-weight: 700;
  margin: 0 0 30px 0;
  line-height: 40px;
  color: #808080;
}
#ihj8hd {
  color: #000;
  margin: 0 0 20px 0;
}
#ibrzh6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i17byo {
  color: black;
  width: 40px;
  height: 40px;
}
#iv1rpt {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#ibg1zt:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#ibg1zt {
  padding: 8px 8px 8px 8px;
  margin: 0 0 20px 0;
}
#ixg6gj {
  color: black;
  width: 40px;
  height: 40px;
}
#imtqa4 {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#iz222h:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#iz222h {
  padding: 8px 8px 8px 8px;
}
#iswe1i {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 195px 0 8px 0;
}
#ikygwj {
  color: black;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  opacity: 1;
  margin: -215px 0 0 0;
  width: 90%;
}
#i9tzvb {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  z-index: -1;
}
#ic1k21 {
  margin: 0 0 416px 0;
}
#iend36 {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 86px 0 0 0;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  display: flex;
}
#if5ayc {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 35px;
}
#ix8s6e {
  padding: 50px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
  opacity: 1;
}
#i4i9us {
  text-align: center;
  margin: 0 0 10px 0;
  color: #014583;
  font-size: 24px;
}
#il2xmk {
  color: black;
  width: 34px;
  margin: 0 10px 0 0;
  height: 28px;
}
#ijz0qe {
  color: #000;
  line-height: 26px;
}
#ivl1ih {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i3fny9 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i7rvn1 {
  color: #000;
  line-height: 26px;
}
#ihg3wf {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -4px 0 8px 0;
}
#iwv1i4 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iwbx5s {
  color: black;
  width: 34px;
  height: 32px;
  margin: 3px 10px 0 -2px;
}
#idk73i {
  color: #000;
  line-height: 26px;
}
#iremvj {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 0;
}
#itx0m1 {
  padding: 30px 20px 20px 20px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  margin: 0 50px 8px 0;
  height: 450px;
}
#itx0m1 {
  background: linear-gradient(135deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  border-radius: 20px 20px 20px 20px;
}
#i3ow4x {
  max-width: 50%;
}
#iauik5 {
  text-align: center;
  margin: 0 0 10px 0;
  color: #014583;
  font-weight: 700;
  font-size: 24px;
}
#iitaei {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i5fhjt {
  color: #000;
  line-height: 26px;
}
#ilez9q {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ik2s6g {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iwm6gd {
  color: #000;
  line-height: 26px;
}
#i5apul {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0;
}
#ilbatk {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#icyf4b {
  color: #000;
  line-height: 26px;
}
#iqj59r {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#ipykd8 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ix7fri {
  color: #000;
  line-height: 26px;
}
#iypnm2 {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#id30s8 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iyyswc {
  color: #000;
  line-height: 26px;
}
#iglw26 {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#i1w32y {
  color: black;
  width: 34px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#izryg8 {
  color: #000;
  line-height: 26px;
}
#ier0ei {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -6px 0 8px 0;
}
#ixod1c {
  padding: 2px 8px 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
}
#i75bp4 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i5gkm1 {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 30px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 50px;
  height: 450px;
}
#i9r5eh {
  margin: 0 0 0;
}
#ilou9n {
  padding: 0 0 16px 0;
  display: flex;
}
#inj0vl {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#i3coif {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#i3coif:hover {
  scale: 1.02;
}
#ijkdu2 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#icej5s {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 2px 0 10px 0;
}
#i7wft9 {
  background-size: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.58;
}
.jch-lazyloaded._jch-id_i7wft9 {
  background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-chi-so-thue-ke-toan.html) !important;
}
#ishx0m {
  color: black;
  width: 55px;
  height: 55px;
}
#iaxo74 {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  width: 95%;
}
#i6ggri {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i9bn4m {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i4dpzw {
  font-size: 19.75px;
}
#i5tgji {
  color: black;
  margin: 50px 0 0 0;
  float: right;
}
#i0ty1r {
  background: linear-gradient(180deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  margin: 118px 0 0 0;
  padding: 60px 0 219px 0;
}
#izbdr7 {
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  opacity: 0.73;
}
.jch-lazyloaded._jch-id_izbdr7 {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-bao-cao-tai-chinh.jpg) !important;
}
#ic67vd {
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  width: 60%;
  line-height: 35px;
  font-family: inherit;
  font-size: 30px;
}
#ib9krk {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i1hkn2 {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 63%;
  margin: 0 0 4px 0;
}
#i1hkn2:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iotwvk {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#inqoyo {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
  width: 63%;
}
#inqoyo:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iguw3m {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#id90ew {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 14px 0;
  width: 63%;
}
#id90ew:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#i720ud {
  color: black;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  position: absolute;
  transform: translate(0%, -55%);
  width: 455.008px;
  height: 484.008px;
}
#innidh {
  padding: 15px 25px 15px 25px;
  margin-bottom: 8px;
  min-height: 50px;
  background: linear-gradient(90deg, #95cee2, #f6fcff, #95cee2);
  border-radius: 20px;
  margin: 0 0 20px 0;
  font-size: 19.75px;
}
#i2pzbd {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i2d4qy {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i224wm {
  margin: -122px 0 0 0;
}
#i3coyj {
  background-color: #e9f4f9;
  margin: 0 0 0;
}
#ia8aq3 {
  color: black;
  width: 55px;
  height: 55px;
}
#i73qpf {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#igd1eh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iwa0fm {
  width: 85%;
  font-size: 15px;
  color: #000;
}
#i8pjz8 {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#i0jwsc {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#iepvjd {
  font-size: 15px;
  text-align: left;
  width: 85%;
  color: #000;
}
#ikajqf {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ihaswa {
  color: #0093d3;
}
#iudxrz {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
#if2wx8 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i809xg {
  color: #0093d3;
}
#iol9d1 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i2me6j {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ifpj6y {
  color: #0093d3;
}
#iczmdq {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i91q79 {
  display: block;
}
#i32gj95 {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i60e4wd {
  color: #0093d3;
}
#if834rp {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#i967gi7 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  margin: 0 0 0 0;
}
#i3c47dm {
  color: #0093d3;
}
#ia1najl {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i3gloh6 {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#ilf8fmg {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i1kr0ji {
  color: #0093d3;
}
#i8r71dt {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ildm1no {
  padding: 0px;
}
#iubr001 {
  color: #0093d3;
  text-transform: normal;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i7xkf72 {
  color: #0093d3;
}
#i19kcnc {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#izp9j2m {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#i6t4161 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#id2ex87 {
  color: #0093d3;
}
#i7gbgte {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#ig222mr {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px 0;
  font-weight: 400;
}
#icoc3ll-2 {
  color: #0093d3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0 0;
}
#idj7n9r-2 {
  color: #0093d3;
}
#its6kfk-2 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 400;
}
#i1lngic {
  padding: 0px;
}
#ilmcvbx {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iey3u7u {
  font-family: Roboto;
  line-height: 26px;
  color: #808080;
  background-color: #fff;
  padding: 50px 0 50px 0;
  margin: 0 0 0 0;
}
#i8yjsj {
  font-size: 18px;
  margin: 0 0 40px 0;
  line-height: 26px;
  color: #000;
}
#imalqw {
  color: black;
  width: 55px;
  height: 55px;
}
#i9hx1h {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#ia99l6 {
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 26px;
}
#iwhnni {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ibsynd {
  font-size: 18px;
  color: #000;
  margin: -9px 0 0 0;
  padding: 0 0 0 50px;
  line-height: 26px;
}
#i09ngh {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#ife0us {
  font-weight: 400;
  line-height: 26px;
}
#i2lqme {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  color: #000;
  margin: 0 0 0 0;
}
#iafnr9 {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i5t1rp {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ib6p3h {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#isy967 {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ish5ys {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#iiu4eh {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#iaxmc2 {
  display: flex;
}
#ivvjzr {
  line-height: 26px;
  margin: 0 0 5px 0;
}
#i3vmep {
  line-height: 26px;
  margin: 0 0 5px 0;
}
#iaytlj {
  line-height: 26px;
}
#i5dshn {
  color: black;
  width: 34px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#irbisn {
  color: #000;
  line-height: 26px;
}
#ixvkng {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 2px 0;
}
#ixsamk {
  display: flex;
}
#itvva2 {
  display: flex;
}
#if0x8n {
  display: flex;
}
#itbt9g {
  display: flex;
}
#ij7r5k {
  display: flex;
}
#i0r5cw {
  font-size: 18px;
  font-weight: 500;
  color: #0093d3;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i6x3vk {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#i25e2i {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ibf84e {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#irwjsh {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#iyy9oo {
  color: black;
  width: 32px;
  height: 31px;
  margin: 0 0 0 0;
}
#i3cc9d {
  min-height: 50px;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#icoc3ll {
  color: #0093d3;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
}
#its6kfk {
  margin: 0 0 20px 0;
  font-size: 18px;
}
#i8tzpe {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin: 0 0 5px 0;
}
#iooydi {
  color: #0093d3;
}
#ikuqqg {
  line-height: 26px;
  color: #0093d3;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 0 0;
}
#i41x4wj {
  font-size: 18px;
  margin: 0 0 20px 0;
}
#inawel {
  font-size: 18px;
}
#ig1tzx {
  color: #0093d3;
}
#iq1a1g-2 {
  font-size: 18px;
  margin: 0 0 20px 0;
}
#im4vij {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#iozv6y {
  font-size: 18px;
  margin: 0 0 5px 0;
  font-weight: 400;
  color: #000;
}
#idj7n9r {
  color: #0093d3;
}
#i0xwyb {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#iq4wxm {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#ifkjvk {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#i5i00g {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
#iqpn32 {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}
#izrtuh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#iujklb {
  background: linear-gradient(to bottom, #ffffff, #d7e4f0);
  padding: 60px 8px 34px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 0 0 0 0;
}
#ieraq5 {
  color: #0093d3;
  margin: 4px 0 0 0;
  font-size: 18px;
}
#ixf49q {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #014583;
  line-height: 26px;
  margin: 0 0 10px 0;
}
#id4q3f {
  padding: 0 10px 10px 10px;
  margin-bottom: 8px;
  min-height: 50px;
  display: block;
  text-align: center;
}
#ihd0yz {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}
#iuaisp {
  min-height: 50px;
  display: flex;
  background-color: #e9f4f9;
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
}
#ifm8eu {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_ifm8eu {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.png) !important;
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-2 {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb-2 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51-2 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 12px 5px 12px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#icneh:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#if0ih:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#i70g1:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#ice51-2:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#it7o88 {
  color: black;
  width: 34px;
  height: 32px;
  margin: 0 10px 0 -2px;
}
#i71zrq {
  color: #000;
  line-height: 26px;
}
#ihl4k4 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -6px 0 8px 0;
}
#iepelf {
  font-size: 18px;
  font-weight: 400;
}
#irigbc {
  font-size: 18px;
  font-weight: 400;
}
#i02u7f {
  font-size: 18px;
  font-weight: 400;
}
#imq3gn {
  line-height: 26px;
  color: #0093d3;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 0 0;
}
#i5370h {
  color: #0093d3;
}
#ij0mtm {
  font-size: 18px;
  margin: 0 0 20px 0;
}
#iktum9 {
  font-size: 18px;
}
#ifrgdw {
  line-height: 26px;
  color: #0093d3;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 0 0;
}
#ikut9q {
  color: #0093d3;
}
#ih4s3v {
  font-size: 18px;
  margin: 0 0 20px 0;
}
#iwqx0v {
  font-size: 18px;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i9n25f {
  color: black;
}
#irr8sm {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 11.5px 0;
  font-weight: 700;
  color: #808080;
}
#i3vdeq {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#iywtn6 {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ixn0nl {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#iq36j4 {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#ib2w58 {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i8tmpa {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i5v7t1 {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#iif09f {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i8v31x {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#ibippq {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#i428ok {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ido3tf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#iiadfj {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
  padding: 5px 0 0 0;
}
#i87tmk {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#imch8o {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
}
#iurefz {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#ia1cri {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#inibrj {
  color: #0093d3;
}
#ieve8c {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#ixn20z {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#iglbnz {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#i5y2ok {
  font-weight: 400;
  border-radius: 60px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #ffbb1c;
  display: flex;
  padding: 5px 20px;
  position: relative;
}
#iskehh {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#i3nl6n {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#ix65qf {
  color: #0093d3;
}
#il2yqr {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i6ish5 {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#id01vc {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#ii5mxs {
  display: none;
}
#ia8n1h {
  padding: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 31px 0 8px 0;
}
#iwuvug {
  padding: 30px 8px 20px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ihwy49 {
  padding: 70px 0 100px 0;
}
#i0rskj {
  padding: 64px 0 100px 0;
}
#iwuvug {
  box-shadow: 15px 20px 15px rgb(0 0 0 / 9%);
  border-radius: 10px 10px 10px 10px;
}
@media (max-width: 1199.98px) {
  #i1x09 {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i3n0s {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #izmxx {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i7yu7 {
    font-size: 30px;
  }
  #ixl4r {
    font-size: 30px;
  }
  #ivodq {
    font-size: 30px;
  }
  #i3vdo {
    font-size: 15px;
  }
  #ijzbu {
    font-size: 15px;
  }
  #ibka1 {
    font-size: 15px;
  }
  #iu205s {
    font-size: 45px;
    line-height: 65px;
  }
  #iapg6g {
    margin: 0 0 0 0;
  }
  #ik8lki {
    margin: 190px 0 8px 0;
  }
  #i9e4hh {
    margin: 90px 0 0 0;
  }
  #i3ow4x {
    max-width: 50%;
    height: 450px;
  }
  #i9r5eh {
    height: 450px;
  }
  #ic67vd {
    width: 45%;
  }
  #i1hkn2 {
    width: 45%;
  }
  #inqoyo {
    width: 45%;
  }
  #id90ew {
    width: 45%;
  }
  #ibwswg {
    max-width: 100%;
  }
  #ik0ji9 {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  #i3n0s {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #ix2de {
    margin: 67px 0 0 0;
  }
  #i3vdo {
    text-align: center;
  }
  #ibka1 {
    text-align: center;
  }
  #ijzbu {
    text-align: center;
  }
  #ixl4r {
    font-size: 25px;
    text-align: center;
  }
  #ivodq {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #i7yu7 {
    font-size: 25px;
    text-align: center;
  }
  #i1x09 {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #izmxx {
    padding: 0 0 0 8px;
  }
  #iu205s {
    font-size: 45px;
  }
  #imeu3c {
    display: none;
  }
  #iaxmc2 {
    text-align: center;
  }
  #ivcqhs {
    order: 1;
    text-align: center;
  }
  #itmgiv {
    width: 70%;
  }
  #iarycf {
    margin: 0 0 0 0;
  }
  #inxv1k {
    width: 80%;
  }
  #igw4u4 {
    margin: 80px 0 0 0;
  }
  #iodjg8 {
    text-align: center;
  }
  #i3f5k8 {
    padding: 20px 0 30px 0;
  }
  #it3bp9 {
    width: 66%;
  }
  #innagk {
    margin: 0 0 20px 0;
  }
  #iauhic {
    padding: 20px 0 40px 0;
  }
  #iziu5j {
    height: 130px;
  }
  #iwcbow {
    height: 130px;
  }
  #ipy9yc {
    height: 130px;
  }
  #iaux6w {
    height: 130px;
  }
  #i03zgl {
    width: 100%;
  }
  #il8pc1 {
    width: 100%;
  }
  #iet8pf {
    width: 82%;
  }
  #iswe1i {
    margin: 40px 0 8px 0;
  }
  #ikygwj {
    display: none;
  }
  #ii0fdu {
    display: none;
  }
  #itx0m1 {
    margin: 0 0 8px 0;
    height: 500px;
  }
  #i3ow4x {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  #i5gkm1 {
    margin: 0 0 0;
    height: 500px;
  }
  #i9r5eh {
    max-width: 100%;
  }
  #ilou9n {
    display: block;
  }
  #icej5s {
    margin: 40px 0 0 0;
  }
  #i0ty1r {
    padding: 60px 0 0;
    margin: 30px 0 0 0;
  }
  #ic67vd {
    width: 100%;
  }
  #i1hkn2 {
    width: 100%;
  }
  #inqoyo {
    width: 100%;
  }
  #id90ew {
    width: 100%;
  }
  #i720ud {
    display: none;
  }
  #i3coyj {
    padding: 30px 0 60px 0;
  }
  #ia99l6 {
    width: 100%;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #ibwswg {
    margin: 0 0 30px 0;
  }
  #irr8sm {
    width: 90%;
  }
  #ihwy49 {
    display: block;
    padding: 0 20px 0;
  }
}
@media (max-width: 767.98px) {
  #i3vdo {
    display: none;
  }
  #ibka1 {
    display: none;
  }
  #ijzbu {
    display: none;
  }
  #i1x09 {
    width: 28%;
  }
  #iuo3u {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #i3n0s {
    width: 34%;
  }
  #izmxx {
    width: 33%;
  }
  #ixl4r {
    font-size: 18px;
    display: block;
  }
  #i7yu7 {
    font-size: 18px;
  }
  #ioqr2 {
    display: flex;
  }
  #ivodq {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #iscxj {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #ikpeq {
    padding: 8px 8px 8px 0;
    display: flex;
    margin: 0 0 0 0;
  }
  #ij12e {
    width: 38px;
    height: 40px;
  }
  #ii1po {
    width: 38px;
    height: 40px;
  }
  #i3ow4x {
    margin: 0 0 80px 0;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #ihwy49 {
    padding: 20px 0 20px 0;
  }
}
@media (max-width: 575.98px) {
  #ix90ss:hover #iuko3f {
    background: #faa500;
    transform: translateX(220px);
  }
  #ix90ss:hover p#iek9lb {
    transform: translateX(-30px);
    color: black;
  }
  #imchm:hover #i3s47f {
    background: #faa500;
    transform: translateX(231px);
  }
  #i7fpz {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -150px 8px 0 0;
  }
  #izmxx {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #i3n0s {
    margin: 0px 0 8px 0px;
    display: none !important;
  }
  #i1x09 {
    width: auto;
    padding: 0 0 0 0;
    display: none;
  }
  #iwoee {
    justify-content: center;
    flex-wrap: wrap;
  }
  #i3n0s {
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
    display: flex;
    margin: 0 0 8px 0px;
  }
  div#i2fo6j {
    order: 1;
  }
  #i7nw92 {
    padding: 0px 0 60px 0;
  }
  #i1x09 {
    margin: 0 0 8px 0;
  }
  #i7fpz {
    margin: -160px 0 0 0;
    padding: 8px 8px 8px 8px;
  }
  #iuo3u {
    display: none;
  }
  #ij12e {
    display: none;
  }
  #ii1po {
    display: none;
  }
  #i3vdo {
    display: none;
  }
  #iscxj {
    display: none;
  }
  #ijzbu {
    display: none;
  }
  #ibka1 {
    display: none;
  }
  #ix2de {
    display: block;
  }
  #i3ku7l {
    margin: -80px 0 0 0;
  }
  #ir4xdm:hover #imjufh {
    background: #faa500;
    transform: translateX(230px);
  }
  #ir4xdm:hover p#iu1r7f {
    transform: translateX(-30px);
    color: black;
  }
  #itotnk:hover #i02os3 {
    background: #faa500;
    transform: translateX(224px);
  }
  #itotnk:hover p#i07xxk {
    transform: translateX(-30px);
    color: black;
  }
  #iuqgk2 {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.2;
  }
  #iu205s {
    text-align: center;
    font-size: 33px;
    line-height: 40px !important;
  }
  #ie8fvs {
    margin: 0px;
    justify-content: center;
  }
  #imeu3c {
    display: none;
  }
  #iul94n {
    background-color: #e9f4f9;
    padding: 20px 0 0 0;
    margin: 0 0 0;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 0;
  }
  #itmgiv {
    line-height: 40px;
    font-size: 30px;
    width: 100%;
  }
  #iapg6g {
    padding: 50px 0 60px 0;
  }
  #iarycf {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #ik8lki {
    margin: 184px 0 8px 0;
  }
  #i9e4hh {
    margin: 62px 0 0 0;
  }
  #inxv1k {
    font-size: 32px;
    width: 100%;
  }
  #igw4u4 {
    margin: -80px 0 0 0;
  }
  #ir21x5 {
    padding: 60px 0 30px 0;
  }
  #ip03sl {
    line-height: 40px;
  }
  #ig6ofy {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #ifu9r5 {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #i3f5k8 {
    padding: 20px 0 20px 0;
  }
  #ilzb87 {
    margin: 0px;
    justify-content: center;
  }
  #it3bp9 {
    line-height: 40px;
    width: 100%;
  }
  #innagk {
    margin: 20px 0 8px 0;
  }
  #i4ue4j {
    line-height: 40px;
  }
  #iauhic {
    padding: 0 0 40px 0;
  }
  #iziu5j {
    height: 200px;
    margin: 0 0 30px 0;
  }
  #iwcbow {
    height: 200px;
    margin: 0 0 30px 0;
  }
  #ipy9yc {
    height: 200px;
  }
  #iaux6w {
    height: 200px;
  }
  #ig6fun {
    line-height: 40px;
  }
  #i03zgl {
    width: 100%;
  }
  #il8pc1 {
    width: 100%;
  }
  #i8581i {
    font-size: 16px;
  }
  #irsmwi {
    display: none;
  }
  #i824g8 {
    font-size: 14px;
    font-family: Montserrat;
  }
  #ia0ap8 {
    display: flex;
  }
  #i3743i {
    margin: -50px 0 0 0;
  }
  #iet8pf {
    width: 100%;
  }
  #iswe1i {
    padding: 8px;
    margin: 20px 0 30px 0;
  }
  #ii0fdu {
    display: none;
  }
  #if5ayc {
    line-height: 40px;
  }
  #i4i9us {
    font-size: 20px;
  }
  #itx0m1 {
    min-height: 50px;
    margin: 0 0 8px 0;
    max-width: 100%;
    height: 400px;
  }
  #i3ow4x {
    max-width: 100%;
    margin: 0 0 30px 0;
    height: 470px;
  }
  #iauik5 {
    font-size: 20px;
  }
  #i5gkm1 {
    margin: 0 0 0;
    height: 450px;
  }
  #i9r5eh {
    max-width: 100%;
    margin: -43px 0 0 0;
  }
  #i86r9o {
    padding: 15px;
    display: block;
  }
  #inj0vl {
    font-size: 16px;
  }
  #i3coif {
    display: none;
  }
  #i5tgji {
    margin: 20px 0 30px 0;
  }
  #i0ty1r {
    padding: 60px 0 0px 0;
    margin: -50px 0 0 0;
  }
  #ic67vd {
    width: 100%;
    line-height: 40px;
    padding: 15px 0 0 0;
    font-size: 30px;
  }
  #i1hkn2 {
    width: 100%;
  }
  #inqoyo {
    width: 100%;
  }
  #id90ew {
    width: 100%;
  }
  #i720ud {
    z-index: 0;
  }
  #i720ud {
    display: none;
  }
  #i2pzbd {
    margin-top: -50px;
  }
  #i2d4qy {
    margin: 10px 0 8px 0;
  }
  #i73qpf {
    width: 100%;
  }
  #iey3u7u {
    margin: 0 0 0 0;
  }
  #ia99l6 {
    width: 100%;
  }
  #itrdr4 {
    display: none;
  }
  #iuaisp {
    width: 100%;
  }
  #iujklb {
    padding: 20px 8px 55px 8px;
  }
  #ibwswg {
    margin: -100px 0 30px 0;
  }
  #irr8sm {
    width: 100%;
  }
  #ieve8c {
    font-size: 16px;
  }
  #ixn20z {
    font-size: 16px;
  }
  #i5y2ok {
    padding: 2px 12px 2px 12px;
    display: none;
  }
  #il2yqr {
    font-size: 16px;
  }
  #i6ish5 {
    font-size: 16px;
  }
  #ii5mxs {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 5px 20px;
    position: relative;
  }
  #ia8n1h {
    margin: 50px 0 0 0;
  }
  #iwuvug {
    padding: 25px 8px 8px 8px;
    margin: 0 0 15px 0;
  }
  #ihwy49 {
    padding: 30px 0 30px 0;
  }
  #i0rskj {
    padding: 64px 0 50px 0;
  }
  #impmql9 {
    font-size: 14px;
  }
  #i224wm {
    margin: 30px 0 0 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
