@charset "utf-8";
body.modal-open .modal {
  background-color: #fff0;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
  height: auto;
  width: 80%;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #014583;
  font-size: 16px;
  font-weight: 600;
}
.modal-content {
  border-radius: 15px;
}
ul#itcw3v li {
  margin-bottom: 10px;
}
.scroll-up #iu7rv4 {
  display: none;
}
.scroll-down #iu7rv4 {
  padding: 60px 0 0 0;
  position: sticky;
  top: -60px;
  z-index: 999;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
body {
  border-color: #000;
}
ul#inaoim li {
  margin-bottom: 10px;
}
ul#iyvon2 li a {
  border: unset;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
#iwdjiq {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0 0 0 0;
  display: block;
}
#igo756 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-family: inherit;
}
#idkhrw {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#ii9i7k {
  margin: 0 0;
}
#iqu5un {
  padding: 0 0 0 0;
}
#ij1z8f {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#i3le4c {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 8px 0;
  display: flex;
}
#iugy6u {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#idfzfv {
  color: #0093d3;
}
#i9xdkk {
  font-weight: 700;
  line-height: 72px;
  margin: 0 0 35.5px 0;
  color: #014583;
  font-size: 55px;
  text-align: left;
}
#iszz3m {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  line-height: 92.5px;
  font-family: inherit;
}
#il0dqi {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
  gap: 30px;
}
#iqfruv {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#ibyy7e {
  color: black;
  float: right;
}
#ipw1n4 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i6msol {
  color: black;
  max-width: 100%;
  width: 100px;
}
#ijjt2f {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#i7w5lf {
  text-align: center;
}
#ihjlrl {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#ipnojn {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#ihzcw9 {
  color: black;
  width: 45px;
  height: 45px;
}
#i96rjb {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#iqd39k {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#igbgyd {
  padding: 8px;
  min-height: 50px;
}
#i01ugg {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iyjalh {
  color: black;
  width: 45px;
  height: 45px;
}
#iojkmy {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#iuej5s {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#i7e0xq {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ilppa1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#iohate {
  color: black;
  width: 45px;
  height: 45px;
}
#iokt7g {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ihwdga {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#izspau {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#in7gat {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i9p69f {
  padding: 0 8px 0 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ismmpr {
  padding: 0 0;
  margin: 0 0 0 0;
}
#i0fcey {
  color: black;
}
#i2vwrx {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 11.5px 0;
  font-weight: 700;
  color: #808080;
}
#ie6vig {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#i9e5mj {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#izjimu {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i6gd7y {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#ivbrbb {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iekwjx {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#ivbd87 {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#iobxzk {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#irm6dk {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i014ym {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#i87ge5 {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ig29rh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#iv4g2i {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
  padding: 5px 0 0 0;
}
#io5bgf {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#is1rbf {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
}
#i12hwl {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#iom7vo {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#il21qp {
  color: #0093d3;
}
#invuy9 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i3zzlr {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#i3u52i {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#i6hcfg {
  font-weight: 400;
  border-radius: 60px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #ffbb1c;
  display: flex;
  padding: 5px 20px;
  position: relative;
}
#i3id5s {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#imjx4a {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#icybjd {
  color: #0093d3;
}
#iofjgr {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#idaa2f {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#ifwzti {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#id0lnn {
  display: none;
}
#iwjdxh {
  padding: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 31px 0 8px 0;
}
#iofp4j {
  padding: 30px 8px 45px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  box-shadow: 15px 20px 15px rgb(0 0 0 / 9%);
  border-radius: 10px 10px 10px 10px;
}
#iqyd59 {
  padding: 76px 0 100px 0;
}
#iq0e94 {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 0 0 0;
}
#i3jmgo {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 3.5px 0;
  font-weight: 700;
}
#i4clpf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i5jkvk {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ineogh {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#i68yvb {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i8gdkv {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i8gdkv:hover {
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
}
#io2dji {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ilwuqm {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iljopc {
  margin: 0 0 0 8px;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#ih2kvk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ih2kvk:hover {
  margin: 0 0 10px 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#ig9fco {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#inrwxt {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iojw0m {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#il44gq {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#il44gq:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#iup77j {
  color: #ffbb1c;
  margin: 0 8px 0 0;
  font-size: 35px;
}
#iara7v {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
#ihwx2j {
  font-weight: 400;
  margin: 0 0 0 0;
}
#i9leov {
  color: black;
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border: 10px solid #9dd6ea;
  margin: 22px 0 0 0;
  display: block;
}
#iaprlx {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
  margin: 0 0 0 0;
}
#iqyppj {
  color: #0093d3;
}
#iixw7n {
  color: #014583;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
}
#i88qb1 {
  margin: 0 0 0 0;
}
#i5oal3 {
  color: #000;
  font-size: 18px;
  margin: 0 0 38px 0;
  line-height: 26px;
}
#i6m2nm {
  background-color: #e9f4f9;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  padding: 50px 0 60px 0;
  margin: 0 0 0 0;
}
#iu94wi {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#ibkwzb {
  padding: 0 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 0 0;
  display: flex;
}
#id2yz8 {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#i9kl26 {
  color: black;
  width: 55px;
  height: 55px;
}
#it0qou {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#iap5w8 {
  margin: 0 0 20px 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#ijeoma {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i8j9kp {
  color: #000;
  margin: 0 0 0 0;
}
#ij73oq {
  color: #000;
}
#itcw3v {
  line-height: 26px;
  color: #000;
  animation-delay: 1000ms;
  animation-duration: 500ms;
}
#iuugf8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i3615m {
  color: black;
  height: auto;
}
#i63ktj {
  margin: -48px 0 0 0;
  padding: 60px 0 60px 0;
}
#i6g0gl {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  line-height: 35px;
}
#iskzxe {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 26px;
  margin: 0 0 8px 0;
}
#imicu7 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 32px 0 8px 0;
}
#idz5zr {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#idz5zr:hover {
  scale: 1.02;
  opacity: 0.8;
}
#i8r3wa {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#il3opj {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#il3opj:hover {
  scale: 1.02;
  opacity: 0.8;
}
#idnlw8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iw3gae {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#iw3gae:hover {
  scale: 1.02;
  opacity: 0.8;
}
#ibt9zi {
  padding: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iy2cqk {
  padding: 13px 0 16px 0;
}
#izhzgf {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
}
#iaue4w {
  color: #0093d3;
}
#iqnkcm {
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-family: inherit;
  width: 95%;
}
#ib5ydb {
  color: black;
}
#i5e0cx {
  color: #000;
  font-size: 18px;
}
#i0pvdv {
  padding: 8px 0 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#ihclli {
  padding: 0 0 0 15px;
}
#i94umw {
  color: #014583;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
}
#i6ocbs {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#id5boh {
  font-weight: 400;
  line-height: 26px;
}
#irxbf5 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#i8glpj {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#it9ydl {
  font-weight: 400;
  line-height: 26px;
}
#itsu4i {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#iazgl3 {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#iky2j2 {
  font-weight: 400;
  line-height: 26px;
}
#i186nb {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#ibvbfx {
  padding: 15px 15px 15px 15px;
  min-height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0;
  font-size: 18px;
  background-color: #f1faff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#iiihx9 {
  padding: 40px 0 40px 0;
  margin: 52px 0 0 0;
}
#ii3xth {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#ishbrl {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  width: 85%;
}
#i5bh18 {
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 150px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
  width: auto;
}
#iw6afk {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 180px;
}
#i4c13p {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#i4b5uw {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#iun0p4 {
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 150px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
}
#iv1iuz {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 180px;
}
#i66y1i {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#il8mb2 {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 8px;
  width: 85%;
}
#i1yopl {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 150px;
  min-height: 50px;
}
#iktuug {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  padding: 0 15px 0 15px;
  height: 180px;
}
#igthzb {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#i0qvpw {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#iewe93 {
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 150px;
  min-height: 50px;
  padding: 0 0 0 0;
  margin: 0 0 8px 0;
}
#ih8lpo {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  height: 180px;
  padding: 0 15px 0 15px;
}
#igu8kg {
  padding: 60px 0 40px 0;
}
#ic8fsz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#io5d51 {
  background: linear-gradient(to bottom, #ffffff, #d7e4f0);
  padding: 60px 8px 34px 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: -66px 0 0 0;
}
#ie6orc {
  color: black;
  width: 170px;
}
#igfap7 {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#i1tizz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 40px 0;
}
#io07me {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: inherit;
  line-height: 35px;
}
#ig2twr {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i1e7r4 {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#ibkxh4 {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#id87xc {
  color: #000;
}
#iiemgm {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#ilipak {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ijdwsl {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#iui76x {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#ikmhi9 {
  color: #000;
}
#io083n {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#iccb5y {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i74x97 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#idcebc {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iynvkp {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 50px 0 65px 0;
}
#iqngxz {
  color: #fbbc3f;
}
#i7fjov {
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #fff;
}
#iuvhcf {
  color: #fff;
}
#ipmn0z {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 26px;
}
#ik29zl {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 6px 0;
}
#ivs4o6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  margin: 25px 0 8px 0;
}
#i431ql {
  color: black;
  width: 30px;
  height: 30px;
  animation: bounce1 1.1s infinite;
}
#i2ergx {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
}
#itfx4s {
  margin: 0 0 0 0;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
.jch-lazyloaded._jch-id_itfx4s {
  background-image: url("../../../../../glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.html") !important;
}
#irdt9i {
  color: black;
  width: 55px;
  height: 55px;
}
#i9vu1d {
  font-weight: 700;
  margin: 0 0 30px 0;
  line-height: 40px;
  color: #808080;
}
#iw8w75 {
  color: #000;
  margin: 0 0 20px 0;
}
#iurbur {
  color: #000;
  margin: 0 0 24px 0;
}
#ik9adg {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ihwoec {
  color: black;
  width: 40px;
  height: 40px;
}
#ignc5f {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#ir0rbm:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#ir0rbm {
  padding: 8px 8px 8px 8px;
  margin: 0 0 20px 0;
}
#ih6xmr {
  color: black;
  width: 40px;
  height: 40px;
}
#ihzj9k {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#i7jbab:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#i7jbab {
  padding: 8px 8px 8px 8px;
}
#i31ym6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 195px 0 8px 0;
}
#iup1r1 {
  color: black;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  opacity: 1;
  margin: -215px 0 0 0;
  width: 90%;
}
#it7h8r {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  z-index: -1;
}
#i8ikgy {
  margin: 0 0 416px 0;
}
#iketjh {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 86px 0 0 0;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  display: flex;
}
#ir8ufq {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 35px;
}
#iocluk {
  padding: 50px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
  opacity: 1;
}
#iotpvl {
  text-align: center;
  margin: 0 0 3px 0;
  color: #014583;
  font-size: 24px;
}
#i7tdvy {
  color: black;
  width: 34px;
  margin: 0 10px 0 0;
  height: 28px;
}
#i4tb32 {
  color: #000;
  line-height: 26px;
}
#iayejn {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#icni0s {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i00iil {
  color: #000;
  line-height: 26px;
}
#i9g0i3 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0;
}
#i4b1tm {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#ifk84k {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 10px 0 0;
}
#iexyck {
  color: #000;
  line-height: 26px;
  margin: 0 0 6px 0;
}
#i9bz6w {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -6px 0 2px 0;
}
#iotsms {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i4m3lm {
  padding: 30px 20px 20px 20px;
  font-size: 18px;
  margin: 0 50px 8px 0;
  background: linear-gradient(135deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  border-radius: 20px 20px 20px 20px;
  height: 400px;
}
#ivosbj {
  max-width: 50%;
}
#ivc8bb {
  text-align: center;
  margin: 0 0 3px 0;
  color: #014583;
  font-weight: 700;
  font-size: 24px;
}
#it7ydl {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iqs5xi {
  color: #000;
  line-height: 26px;
}
#ibhelk {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i2x34h {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ifa986 {
  color: #000;
  line-height: 26px;
}
#iz4pq3 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0;
}
#ic8dex {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i43fk4 {
  color: #000;
  line-height: 26px;
}
#i7frn7 {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#i0gnnw {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iianpv {
  color: #000;
  line-height: 26px;
}
#ih9o0h {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#ifwiu2 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#if0wpm {
  color: #000;
  line-height: 26px;
}
#iyzpj7 {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  margin: -4px 0 0 0;
}
#i4vq87 {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
}
#irrb7k {
  color: #000;
  line-height: 26px;
}
#imb5ls {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i8ngsh {
  padding: 2px 8px 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
}
#i9fcld {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ign4c3 {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 30px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 50px;
  height: 400px;
}
#i4uqkg {
  margin: 0 0 0;
}
#i8mgcg {
  padding: 0 0 16px 0;
  display: flex;
}
#iqq5b8 {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#ish8pg {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#ish8pg:hover {
  scale: 1.02;
}
#inusv9 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#ih5eqp {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 2px 0 10px 0;
}
#i2w8ce {
  background-size: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.58;
}
.jch-lazyloaded._jch-id_i2w8ce {
  background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-chi-so-thue-ke-toan.html) !important;
}
#iwknhu {
  color: black;
  width: 55px;
  height: 55px;
}
#i5c0lq {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  width: 95%;
}
#i0sgkw {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#igkahe {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#if9ilk {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i6jadt {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ixrzvh {
  font-size: 19.75px;
}
#i5lxtc {
  color: black;
  margin: 50px 0 0 0;
  float: right;
}
#ik072b {
  background: linear-gradient(180deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  margin: 118px 0 0 0;
  padding: 60px 0 97px 0;
}
#iluvob {
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_iluvob {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-bao-cao-tai-chinh.jpg) !important;
}
#i2ah2l {
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  width: 60%;
  line-height: 35px;
  font-family: inherit;
  font-size: 30px;
}
#ius2lm {
  color: black;
  width: 40px;
  height: 40px;
}
#i9tt4p {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#i90bor {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 70%;
  margin: 0 0 4px 0;
}
#i90bor:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#iiw5hl {
  color: black;
  width: 40px;
  height: 40px;
}
#iza33u {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#i1phof {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
  width: 70%;
}
#i1phof:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#imfaz6 {
  color: black;
  width: 40px;
  height: 40px;
}
#iwt9nc {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#i3z34e {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 14px 0;
  width: 70%;
}
#i3z34e:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#i5fa9d {
  color: black;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  position: absolute;
  transform: translate(0%, -55%);
}
#ijjv3i {
  padding: 15px 25px 15px 25px;
  margin-bottom: 8px;
  min-height: 50px;
  background: linear-gradient(90deg, #95cee2, #f6fcff, #95cee2);
  border-radius: 20px;
  margin: 0 0 50px 0;
  font-size: 19.75px;
}
#ifd7z2 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ixfbcs {
  background-color: #e9f4f9;
}
#ikmgfj {
  color: black;
  width: 55px;
  height: 55px;
}
#i7coii {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#iarp4p {
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 26px;
}
#i8x2af {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iws2uc {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#islbwo {
  padding: 28px 0 60px 0;
  margin: 130px 0 8px 0;
}
#ir51ji {
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
}
#iyvone {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
#i0silf {
  margin: 0 0 0 0;
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
}
#ivcrug {
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #0093d3;
  margin: 0 0 0 0;
}
#iv6v8y {
  width: 55px;
  height: 55px;
}
#i3npgg {
  font-weight: 700;
  margin: 0 0 -15px 0;
  color: #808080;
}
#iwp70v {
  transform: translateY(-55px);
}
#izxem5 {
  padding: 0 0 0 0;
}
#ipqrzo {
  padding: 0 15px 0 15px;
}
#i0mw18 {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#isgqqas {
  background-color: #fdfdfd;
  padding: 120px 0 135px 0;
}
#i8lhxq {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}
#i3k6cf {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}
#ijrhw06 {
  font-family: Roboto;
  font-size: 18px;
  margin: 0 0 0 0;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
}
#iswj2cc {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#i51ohe6 {
  color: #0093d3;
}
#i7gqlax {
  color: #0093d3;
}
#isf9tmm {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i38uxk {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ia222j {
  color: #0093d3;
}
#ir9455 {
  color: #0093d3;
}
#i3l67z {
  color: #0093d3;
}
#idsqcv {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i375ll {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ifwbkq {
  font-size: 18px;
  margin: 0 0 0 0;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
}
#ihv7j3 {
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0093d3;
}
#ips2v5e {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
  color: #0093d3;
}
#ir81sp {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
  color: #0093d3;
}
#i7xzrg {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
  line-height: 26px;
}
#iwua5pj {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#iczpyor {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#i7zhny {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#ikj968 {
  color: #0093d3;
}
#izndxuj {
  color: #0093d3;
}
#ifs3pil {
  color: #0093d3;
}
#i22hci {
  color: #0093d3;
}
#idcjhxi {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#itmys41 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#i9zlhf2 {
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#i2wy7ak {
  margin: 0 0 0 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
}
#ind603y {
  color: #0093d3;
}
#ifbh6y4 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#itun0ci {
  color: #0093d3;
}
#i5ty23h {
  color: #0093d3;
}
#iffuc71 {
  color: #0093d3;
}
#i1317g8 {
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ibc9a2u {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#id4jb6z {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#i6rq9qo {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iudkft {
  margin: 0 0 0 0;
}
#ip0pyzb {
  padding: 0 0 0 0;
}
#ir1m69f {
  padding: 0 0 0 0;
}
#ia4hrh-2 {
  margin: 40px 0 0 0;
}
#i3k6cf:hover {
  color: black;
}
#i1lhj6 {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#i2ngdh {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i0wxkt {
  color: black;
  z-index: 1;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
}
#ilz7jq {
  color: #0093d3;
  font-weight: 600;
}
#i608dt {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #014583;
}
#ihc1oo {
  font-size: 18px;
  margin: 0 0 40px 0;
  line-height: 26px;
  color: #000;
}
#ikpav1 {
  display: none;
}
#irwy1k {
  padding: 20px 65px 20px 65px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 130px;
  background: linear-gradient(180deg, #f6fcff, #e9f4f9);
  border-radius: 30px 30px 30px 30px;
}
#i0my5l {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin: 0 0 8px 0;
}
#ir9j84 {
  padding: 25px 0 10px 0;
  margin: 63px 0 0 0;
}
#iq2ad7 {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ievyvf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iq318b {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#iwpnmv {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#iwpnmv:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#ibl56i {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#it6o2c {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ir5x9q {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#ie2ofq {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ie2ofq:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#imek2d {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#is3nax {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
  line-height: 26px;
}
#il2q5j {
  margin: 0 0 0 0;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
}
#iii5av {
  color: #0093d3;
}
#izko4q {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
#i8xbix {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ize22k {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iluzit {
  padding: 8px;
  margin-bottom: 8px;
  font-size: 30px;
  margin: 0 0 0 0;
}
#iunm7c {
  font-family: Roboto;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 26px;
}
#i5t0ll {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
#i5xlcj {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#irxjrbf {
  padding: 0 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#ii1s1t {
  padding: 64px 0 100px 0;
}
#i6c14y {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_i6c14y {
  background-image: url(https://globallinkconsulting.sg/images/background/hinh-nen-landing-page.png) !important;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
  #i3le4c {
    margin: 190px 0 8px 0;
  }
  #iugy6u {
    margin: 90px 0 0 0;
  }
  #i9xdkk {
    font-size: 45px;
    line-height: 65px;
  }
  #i96rjb {
    font-size: 30px;
  }
  #iqd39k {
    font-size: 15px;
  }
  #i01ugg {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #iojkmy {
    font-size: 30px;
  }
  #iuej5s {
    font-size: 15px;
  }
  #ilppa1 {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #iokt7g {
    font-size: 30px;
  }
  #ihwdga {
    font-size: 15px;
  }
  #in7gat {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #idp8j5 {
    max-width: 100%;
  }
  #i22xry {
    max-width: 100%;
  }
  #i6m2nm {
    margin: 0 0 0 0;
  }
  #ibkwzb {
    margin: 190px 0 8px 0;
  }
  #id2yz8 {
    margin: 90px 0 0 0;
  }
  #iqnkcm {
    width: 90%;
  }
  #i5bh18 {
    height: 200px;
  }
  #iw6afk {
    height: 180px;
  }
  #i4b5uw {
    padding: 0 0 0 0;
  }
  #iun0p4 {
    height: 200px;
  }
  #iv1iuz {
    height: 180px;
  }
  #il8mb2 {
    padding: 0 0 0 0;
  }
  #i1yopl {
    height: 200px;
  }
  #iktuug {
    height: 180px;
  }
  #i0qvpw {
    padding: 0 0 0 0;
  }
  #iewe93 {
    height: 200px;
  }
  #ih8lpo {
    height: 180px;
  }
  #ivosbj {
    max-width: 50%;
    height: 450px;
  }
  #i4uqkg {
    height: 450px;
  }
  #i2ah2l {
    width: 45%;
  }
  #i90bor {
    width: 45%;
  }
  #i1phof {
    width: 45%;
  }
  #i3z34e {
    width: 45%;
  }
  #iunm7c {
    font-family: Roboto;
    font-size: 18px;
    color: #000;
    line-height: 26px;
    font-weight: 400;
  }
  #i5t0ll {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
  }
  #i5xlcj {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  #ihwx2j {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
  }
}
@media (max-width: 991.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px;
  }
  #ij1z8f {
    margin: 0 0 0 0;
  }
  #i9xdkk {
    font-size: 45px;
  }
  #i2aw8g {
    display: none;
  }
  #i96rjb {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #iqd39k {
    text-align: center;
  }
  #i01ugg {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #iojkmy {
    font-size: 25px;
    text-align: center;
  }
  #iuej5s {
    text-align: center;
  }
  #ilppa1 {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #iokt7g {
    font-size: 25px;
    text-align: center;
  }
  #ihwdga {
    text-align: center;
  }
  #in7gat {
    padding: 0 0 0 8px;
  }
  #i3s2el {
    margin: 67px 0 0 0;
  }
  #idp8j5 {
    margin: 0 0 30px 0;
  }
  #i2vwrx {
    width: 90%;
  }
  #iqyd59 {
    display: block;
    padding: 0 20px 0;
  }
  #iyalgj {
    text-align: center;
    max-width: auto;
  }
  #ixp0bs {
    order: 1;
    text-align: center;
  }
  #iixw7n {
    width: 70%;
  }
  #iu94wi {
    margin: 0 0 0 0;
  }
  #it0qou {
    width: 80%;
  }
  #izokrl {
    margin: 80px 0 0 0;
  }
  #iw3eme {
    text-align: center;
  }
  #iy2cqk {
    padding: 20px 0 30px 0;
  }
  #iqnkcm {
    width: auto;
  }
  #i0pvdv {
    margin: 0 0 20px 0;
  }
  #iefptf {
    max-width: auto;
  }
  #iiihx9 {
    padding: 20px 0 40px 0;
  }
  #i5bh18 {
    height: 150px;
  }
  #iw6afk {
    max-width: auto;
    width: auto;
  }
  #iun0p4 {
    height: 150px;
  }
  #iv1iuz {
    height: auto;
  }
  #i1yopl {
    height: 150px;
  }
  #iewe93 {
    height: 150px;
  }
  #igu8kg {
    padding: 60px 0 20px 0;
  }
  #iiemgm {
    width: 100%;
  }
  #io083n {
    width: 100%;
  }
  #i9vu1d {
    width: 82%;
  }
  #i31ym6 {
    margin: 40px 0 8px 0;
  }
  #iup1r1 {
    display: none;
  }
  #ifaymw {
    display: none;
  }
  #i4m3lm {
    margin: 0 0 8px 0;
    height: 400px;
  }
  #ivosbj {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  #ign4c3 {
    margin: 0 0 0;
    height: 400px;
  }
  #i4uqkg {
    max-width: 100%;
  }
  #i8mgcg {
    display: block;
    padding: 0 0 10px 0;
  }
  #ih5eqp {
    margin: 10px 0 0 0;
  }
  #ik072b {
    padding: 60px 0 0;
    margin: 30px 0 0 0;
  }
  #i2ah2l {
    width: 100%;
  }
  #i90bor {
    width: 100%;
  }
  #i1phof {
    width: 100%;
  }
  #i3z34e {
    width: 100%;
  }
  #i5fa9d {
    display: none;
  }
  #ixfbcs {
    padding: 30px 0 60px 0;
  }
  #iarp4p {
    width: 100%;
  }
  #i1lhj6 {
    width: 75%;
  }
  #ihc1oo {
    margin: 0 0 20px 0;
  }
  #iz4mzq {
    display: none;
  }
  #ikpav1 {
    display: flex;
  }
}
@media (max-width: 767.98px) {
  #ihzcw9 {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #i96rjb {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #iqd39k {
    display: none;
  }
  #igbgyd {
    display: flex;
  }
  #i01ugg {
    width: 28%;
  }
  #iyjalh {
    width: 38px;
    height: 40px;
  }
  #iojkmy {
    font-size: 18px;
    display: block;
  }
  #iuej5s {
    display: none;
  }
  #i7e0xq {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #ilppa1 {
    width: 34%;
  }
  #iohate {
    width: 38px;
    height: 40px;
  }
  #iokt7g {
    font-size: 18px;
  }
  #ihwdga {
    display: none;
  }
  #izspau {
    padding: 8px 8px 8px 0;
    display: flex;
    margin: 0 0 0 0;
  }
  #in7gat {
    width: 33%;
  }
  #id0lnn {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #iqyd59 {
    padding: 20px 0 20px 0;
  }
  #i1rzlx {
    color: black;
  }
  #i5jkvk {
    min-height: auto;
  }
  #ic7goq {
    color: black;
  }
  #io2dji {
    min-height: auto;
  }
  #ixys81 {
    color: black;
  }
  #ig9fco {
    min-height: auto;
  }
  #i5bh18 {
    width: auto;
    min-height: 150px;
  }
  #iw6afk {
    margin: 0 0 20px 0;
  }
  #i4b5uw {
    padding: 0 0 0 0;
  }
  #iun0p4 {
    min-height: 150px;
  }
  #iv1iuz {
    margin: 0 0 15px 0;
  }
  #ivosbj {
    margin: 0 0 20px 0;
  }
  #ijjv3i {
    margin: 0 0 30px 0;
  }
  #islbwo {
    margin: 80px 0 8px 0;
  }
  #i1lhj6 {
    width: 100%;
  }
  #i0wxkt {
    display: none;
  }
  #irwy1k {
    margin: 0 0 8px 0;
    padding: 20px 40px 20px 40px;
  }
  #ivgnvp {
    color: black;
  }
  #iq2ad7 {
    min-height: auto;
  }
  #i3cwqu {
    color: black;
  }
  #ibl56i {
    min-height: auto;
  }
  #iewe93 {
    min-height: 180px;
  }
  #i1yopl {
    min-height: 180px;
  }
  #ih8lpo {
    margin: 0 0 10px 0;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  #ij1z8f {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #i3le4c {
    margin: 184px 0 8px 0;
  }
  #iugy6u {
    margin: 62px 0 0 0;
  }
  #i8p7dw {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.2;
  }
  #i9xdkk {
    text-align: center;
    font-size: 33px;
    line-height: 40px !important;
  }
  #icxpdv {
    display: none;
  }
  #il0dqi {
    margin: 0px;
    justify-content: center;
  }
  #i2aw8g {
    display: none;
  }
  #ihjlrl {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -160px 0 0 0;
  }
  #ihzcw9 {
    display: none;
  }
  #iqd39k {
    display: none;
  }
  #i01ugg {
    width: auto;
    padding: 0 0 0 0;
    display: none;
    margin: 0 0 8px 0;
  }
  #iyjalh {
    display: none;
  }
  #iuej5s {
    display: none;
  }
  #i7e0xq {
    display: none;
  }
  #ilppa1 {
    margin: 0 0 8px 0px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
  }
  #iohate {
    display: none;
  }
  #ihwdga {
    display: none;
  }
  #in7gat {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #i9p69f {
    justify-content: center;
    flex-wrap: wrap;
  }
  #i3s2el {
    display: block;
  }
  #idp8j5 {
    margin: -100px 0 30px 0;
  }
  #i2vwrx {
    width: 100%;
  }
  #invuy9 {
    font-size: 16px;
  }
  #i3zzlr {
    font-size: 16px;
  }
  #i6hcfg {
    padding: 2px 12px 2px 12px;
    display: none;
  }
  #iofjgr {
    font-size: 16px;
  }
  #idaa2f {
    font-size: 16px;
  }
  #id0lnn {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #iwjdxh {
    margin: 30px 0 0 0;
  }
  #iofp4j {
    padding: 25px 8px 8px 8px;
    margin: 0 0 15px 0;
  }
  #iqyd59 {
    padding: 30px 0 30px 0;
  }
  #iaprlx {
    background-color: #e9f4f9;
    padding: 20px 0 0 0;
    margin: 0 0 0;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 0;
  }
  #iixw7n {
    line-height: 40px;
    font-size: 30px;
    width: 100%;
  }
  #i6m2nm {
    padding: 50px 0 60px 0;
  }
  #iu94wi {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #ibkwzb {
    margin: 184px 0 8px 0;
  }
  #id2yz8 {
    margin: 62px 0 0 0;
  }
  #it0qou {
    font-size: 32px;
    width: 100%;
  }
  #izokrl {
    margin: -80px 0 0 0;
  }
  #i63ktj {
    padding: 60px 0 30px 0;
  }
  #i6g0gl {
    line-height: 40px;
  }
  #idnlw8 {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #ibt9zi {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #iy2cqk {
    padding: 20px 0 20px 0;
  }
  #izhzgf {
    margin: 0px;
    justify-content: center;
  }
  #iqnkcm {
    line-height: 40px;
    width: 100%;
  }
  #i0pvdv {
    margin: 20px 0 8px 0;
  }
  #i94umw {
    line-height: 40px;
  }
  #iiihx9 {
    padding: 0 0 40px 0;
  }
  #i5bh18 {
    margin: 0 0 30px 0;
    min-height: 150px;
  }
  #iw6afk {
    margin: 0 0 30px 0;
    min-height: 150px;
  }
  #i4b5uw {
    padding: 0 0 0;
  }
  #iun0p4 {
    margin: 0 0 30px 0;
    min-height: 150px;
  }
  #iv1iuz {
    min-height: 150px;
    margin: 0 0 30px 0;
  }
  #io5d51 {
    margin: 0 0 0 0;
    padding: 60px 8px 34px 8px;
  }
  #io07me {
    line-height: 40px;
  }
  #iiemgm {
    width: 100%;
  }
  #io083n {
    width: 100%;
  }
  #iynvkp {
    margin: 0 0 0 0;
    padding: 0 0 65px 0;
  }
  #itfx4s {
    padding: 20px 0 64px 0;
  }
  #i9vu1d {
    width: 100%;
  }
  #i31ym6 {
    padding: 8px;
    margin: 20px 0 30px 0;
  }
  #ifaymw {
    display: none;
  }
  #iketjh {
    padding: 50px 0 0 0;
  }
  #ir8ufq {
    line-height: 40px;
  }
  #iotpvl {
    font-size: 20px;
  }
  #i4m3lm {
    min-height: 50px;
    margin: 0 0 3px 0;
    max-width: 100%;
    height: 400px;
    padding: 30px 20px 20px 20px;
  }
  #ivosbj {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  #ivc8bb {
    font-size: 20px;
  }
  #ign4c3 {
    margin: 0 0 0;
    height: 400px;
  }
  #i4uqkg {
    max-width: 100%;
  }
  #ixwm5j {
    padding: 15px;
    display: block;
  }
  #iqq5b8 {
    font-size: 16px;
  }
  #ish8pg {
    display: none;
  }
  #i5lxtc {
    margin: 20px 0 30px 0;
  }
  #ik072b {
    padding: 60px 0 0px 0;
    margin: -50px 0 0 0;
  }
  #i2ah2l {
    width: 100%;
    line-height: 40px;
    padding: 15px 0 0 0;
    font-size: 30px;
  }
  #i90bor {
    width: 100%;
  }
  #i1phof {
    width: 100%;
  }
  #i3z34e {
    width: 100%;
  }
  #i5fa9d {
    z-index: 0;
    display: none;
  }
  #ifd7z2 {
    margin-top: -50px;
  }
  #iarp4p {
    width: 100%;
  }
  #i40d1v {
    margin: -80px 0 0 0;
  }
  #islbwo {
    padding: 0px 0 60px 0;
  }
  #i1lhj6 {
    width: 100%;
  }
  #i0wxkt {
    top: -25px;
    display: none;
  }
  #irwy1k {
    margin: 0 0 8px 0;
    padding: 20px 30px 20px 30px;
  }
  #ir9j84 {
    margin: 0 0 0 0;
  }
  #iewe93 {
    min-height: 230px;
    padding: 8px 0 8px 0;
  }
  #iktuug {
    min-height: 150px;
  }
  #i1yopl {
    min-height: 230px;
    padding: 8px 0 8px 0;
  }
  #ih8lpo {
    min-height: 150px;
  }
  #il8mb2 {
    margin: 8px 0 8px 0;
  }
  #i0qvpw {
    margin: 8px 0 8px 0;
  }
  #isgqqas {
    padding: 120px 0 30px 0;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #ii1s1t {
    padding: 64px 0 50px 0;
  }
  #igu8kg {
    padding: 60px 0 60px 0;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
