@charset "utf-8";
body.modal-open .modal {
  background-color: #fff0;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
  height: auto;
  width: 80%;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #014583;
  font-size: 16px;
  font-weight: 600;
}
.modal-content {
  border-radius: 15px;
}
ul#ia1d61 li {
  margin-bottom: 10px;
}
ul#ikc82m li {
  margin-bottom: 10px;
}
.scroll-up #ic4xlf {
  display: none;
}
.scroll-down #ic4xlf {
  padding: 60px 0 0 0;
  position: sticky;
  top: -60px;
  z-index: 999;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#iwdjiq {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0 0 0 0;
  display: block;
}
#igo756 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-family: inherit;
}
#idkhrw {
  padding: 0 0 40px 0;
  margin: -120px 0 0 0;
}
#ii9i7k {
  margin: 0 0;
}
#iqu5un {
  padding: 0 0 0 0;
}
#ij1z8f {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#i3le4c {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 8px 0;
  display: flex;
}
#iugy6u {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
ul#ika6nz li {
  margin-bottom: 10px;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
body {
  border-color: #000;
}
#itp473 {
  font-weight: 700;
  line-height: 72px;
  margin: 0 0 35.5px 0;
  color: #014583;
  font-size: 54px;
  text-align: left;
}
#ir4wy2 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  line-height: 92.5px;
  font-family: inherit;
}
#ia4ktu {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
  gap: 30px;
}
#i9vxfh {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iqry8k {
  color: black;
  float: right;
}
#ic5urk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i8jt0u {
  color: black;
  max-width: 100%;
  width: 100px;
}
#i5p452 {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  color: #0093d3;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
}
#idg1bp {
  text-align: center;
}
#icnu2l {
  padding: 8px 8px 8px 8px;
  background-color: #e9f4f9;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -25px 8px 0 0;
}
#iptf5d {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  display: flex;
}
#iytod9 {
  color: black;
  width: 45px;
  height: 45px;
}
#iscgui {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
  margin: -10px 0 0 0;
}
#igpvmf {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ie1uhc {
  padding: 8px;
  min-height: 50px;
}
#ip9bd2 {
  padding: 8px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i9cruf {
  color: black;
  width: 45px;
  height: 45px;
}
#i53tot {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#ijyqnr {
  font-size: 18px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#ibtogk {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i6y3rg {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#i12r8g {
  color: black;
  width: 45px;
  height: 45px;
}
#iw3ikv {
  font-size: 34px;
  font-weight: 700;
  font-family: Montserrat;
  color: #808080;
}
#inkai2 {
  font-size: 17px;
  color: #808080;
  margin: 10px 0 8px 0;
  font-family: Montserrat;
}
#icjanx {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#ig67ff {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 8px 30px;
}
#ifid66 {
  padding: 5px 8px 8px 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ik6m27 {
  padding: 0 0;
  margin: 36px 0 0 0;
}
#iq0t3n {
  color: black;
}
#ial8xt {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 11.5px 0;
  font-weight: 700;
  color: #808080;
}
#ivc7sl {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#iy9ref {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iocq97 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i6y8nl {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#issspf {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i36an7 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#i3tj2d {
  font-size: 25px;
  margin: 5px 10px 0 0;
  color: #0093d3;
}
#i0a3v2 {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#ijkfb2 {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#idowoi {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#i9abcx {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iqe39p {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#iyar8b {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#ifqyza {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#i0l4zj {
  color: #0093d3;
}
#i9aye2 {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#ie4hpy {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#ihiayg {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#ihfk4x {
  font-weight: 400;
  border-radius: 60px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: #ffbb1c;
  display: flex;
  padding: 5px 20px;
  position: relative;
}
#i4eest {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-size: 19px;
  background: #0093d3;
  border-radius: 50%;
}
#izno3p {
  border-radius: 50% 50% 50% 50%;
  background-color: #fff;
  padding: 22px;
  margin: 0 0 0 0;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  position: absolute;
}
#inv7a2 {
  color: #0093d3;
}
#ivtnkz {
  margin: 0 0 0 0;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  color: #014583;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
#i8cqzp {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  color: #014583;
  margin: -5px 0 0 0;
  line-height: 26px;
  font-weight: 500;
}
#i167cz {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
}
#iwc5fm {
  display: none;
}
#i0g3kj {
  padding: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 31px 0 8px 0;
}
#i3ur9g {
  padding: 30px 8px 45px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
  box-shadow: 15px 20px 15px rgb(0 0 0 / 9%);
  border-radius: 10px 10px 10px 10px;
}
#iaev8h {
  padding: 70px 0 100px 0;
}
#icf46u {
  color: black;
  width: 55px;
  height: 55px;
  margin: 0 0 0 0;
}
#igz4io {
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 3.5px 0;
  font-weight: 700;
}
#inkk4m {
  padding: 0 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 10px 0;
}
#i4k4am {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ig5vbj {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#ivugnw {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ijxjqw {
  padding: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ijxjqw:hover {
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
}
#ih13ys {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#iiflnf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i1dsve {
  margin: 0 0 0 8px;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#iyqto9 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#iyqto9:hover {
  margin: 0 0 10px 0;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#i3vmjk {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#ih2r0f {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ifypr1 {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#iw7ps8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#iw7ps8:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#i8wm1s {
  color: black;
  border-radius: 20px 20px 20px 20px;
  border-top: 0;
  border: 10px solid #9dd6ea;
  margin: 22px 0 0 0;
  display: block;
}
#i74pik {
  background-color: #e9f4f9;
  padding: 100px 0 50px 0;
  margin: 0 0 0 0;
}
#ivg79j {
  color: #0093d3;
}
#iyea3y {
  color: #014583;
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
}
#ip8413 {
  color: #000;
  font-size: 18px;
  margin: 0 0 40px 0;
  line-height: 26px;
}
#ixwk2w {
  background-color: #e9f4f9;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  padding: 50px 0 60px 0;
  margin: 0 0 0 0;
}
#ivopau {
  color: black;
  width: 808.602px;
  margin: -66px 0 0 0;
  opacity: 0.7;
}
#ily5dj {
  padding: 0 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 260px 0 0 0;
  display: flex;
}
#iibhig {
  background-color: #fff;
  top: -283px;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
  clip-path: polygon(0% 30%, 100% 10%, 100% 100%, 0% 100%);
  height: 505px;
  padding: 0 15px 60px 15px;
  display: block;
  margin: 80px 0 0 0;
}
#i7hwha {
  color: black;
  width: 55px;
  height: 55px;
}
#iz507l {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#ikmm18 {
  margin: 0 0 20px 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
}
#i06ydi {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 19px 0;
}
#i2vtvp {
  color: #000;
  margin: 0 0 0 0;
}
#i6xaqk {
  color: #000;
}
#ia1d61 {
  line-height: 26px;
  color: #000;
  animation-delay: 1000ms;
  animation-duration: 500ms;
}
#i3sumy {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#i4p8ph {
  color: black;
  height: auto;
}
#i4vbne {
  margin: -48px 0 0 0;
  padding: 60px 0 58px 0;
}
#ion5m7 {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  line-height: 35px;
}
#i8vifg {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: 26px;
  margin: 0 0 8px 0;
}
#iv3jt6 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#io9mjz {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#io9mjz:hover {
  scale: 1.02;
  opacity: 0.8;
}
#iq96zf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i78buk {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#i78buk:hover {
  scale: 1.02;
  opacity: 0.8;
}
#iggjh5 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ikqq6m {
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#ikqq6m:hover {
  scale: 1.02;
  opacity: 0.8;
}
#iraxyo {
  padding: 8px;
  min-height: 50px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iwrhz9 {
  padding: 13px 0 16px 0;
}
#iesqgd {
  padding: 8px 0 8px 8px;
  min-height: 50px;
  display: flex;
}
#i62b01 {
  color: #0093d3;
}
#i8ejvn {
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-family: inherit;
  width: 95%;
}
#in4gbv {
  color: black;
}
#izugp6 {
  color: #000;
  font-size: 18px;
}
#ir2bvf {
  padding: 8px 0 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 0;
}
#i7hdjj {
  padding: 0 0 0 15px;
}
#i8apcp {
  color: #014583;
  font-weight: 600;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
}
#i7mlzq {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#i6ogmh {
  font-weight: 400;
  line-height: 26px;
}
#i5b2d6 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
  overflow: initial;
}
#iyjxir {
  font-size: 15px;
  font-weight: 900;
  margin: 5px 5px 0 0;
  color: #0093d3;
}
#ib2nsz {
  font-weight: 400;
  line-height: 26px;
}
#ig6g69 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  color: #000;
  margin: 0 0 10px 0;
}
#irlaoe {
  padding: 15px 15px 15px 15px;
  min-height: 50px;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0;
  font-size: 18px;
  background-color: #f1faff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#id2zfe {
  padding: 40px 0 40px 0;
  margin: 52px 0 0 0;
}
#ivj9jm {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#id8csg {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  width: 85%;
}
#i8w2a2 {
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
  width: auto;
  height: 130px;
}
#imwpvl {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#ir6mt4 {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#iwsc2j {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#isozuo {
  margin-bottom: 8px;
  min-height: 50px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  height: 130px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 0;
}
#imip5h {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#iip064 {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#imva4l {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 8px;
  width: 85%;
}
#ijhgrj {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 130px;
  min-height: 50px;
}
#il9gxz {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  padding: 0 15px 0 15px;
}
#ifzufx {
  color: black;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
#ih3khu {
  text-align: left;
  color: #014583;
  font-weight: 500;
  line-height: 26px;
  font-size: 18px;
  margin: 0 0 0;
  padding: 0 8px 0 8px;
  width: 85%;
}
#i659m3 {
  background-color: #f1faff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 130px;
  min-height: 50px;
  padding: 0 0 0 0;
  margin: 0 0 8px 0;
}
#illewh {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  padding: 0 15px 0 15px;
}
#ig820i {
  padding: 80px 0 40px 0;
}
#ismz5f {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i3lndr {
  background: linear-gradient(to bottom, #ffffff, #d7e4f0);
  padding: 60px 8px 34px 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: -76px 0 0 0;
}
#i34eh3 {
  color: black;
  width: 170px;
}
#ipm0xx {
  margin: 0 0 7.5px 30px;
  color: #0093d3;
  font-family: Montserrat;
}
#i0flcc {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 40px 0;
}
#ig83an {
  text-align: center;
  color: #014583;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 30px;
  font-family: inherit;
  line-height: 35px;
}
#ifmuvk {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iw699l {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#i2y0zu {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
  margin: 0 0 0;
}
#i3ln8z {
  color: #000;
}
#i8q0ru {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
  margin: 0 0 8px 0;
}
#in9tej {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#ito7q1 {
  color: black;
  width: 60px;
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  margin: -50px 12px 0 0;
}
#ic1zxk {
  padding: 10px 10px 10px 10px;
  background-color: #fbfeff;
  border-radius: 20px;
}
#ip97nm {
  color: #000;
}
#i9nl31 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 60%;
}
#i4z4ya {
  padding: 8px 8px 3px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 0;
}
#i0junu {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 20%;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#i28wp3 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#imdq5q {
  background: linear-gradient(to bottom, #d7e4f0, #fdfdfd);
  padding: 24px 0 52px 0;
}
#i36oa5 {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_i36oa5 {
  background-image: url(../../../../../glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.html) !important;
}
#ic8gvq {
  color: #fbbc3f;
}
#imlc1g {
  font-weight: 700;
  line-height: 35px;
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #fff;
}
#isf0nx {
  color: #fff;
}
#i7csch {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 26px;
}
#ivbjft {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 6px 0;
}
#i2tyae {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  margin: 25px 0 8px 0;
}
#il4emh {
  color: black;
  width: 30px;
  height: 30px;
  animation: bounce1 1.1s infinite;
}
#in3qzf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
}
#it1h7f {
  margin: 0 0 0 0;
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
.jch-lazyloaded._jch-id_it1h7f {
  background-image: url("https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-landing-page.png") !important;
}
#ilfkn7 {
  color: black;
  width: 55px;
  height: 55px;
}
#in6jwj {
  font-weight: 700;
  margin: 0 0 30px 0;
  line-height: 40px;
  color: #808080;
}
#ii03dj {
  color: #000;
  margin: 0 0 20px 0;
}
#illfjj {
  color: #000;
  margin: 0 0 40px 0;
  line-height: 26px;
}
#iyqx29 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#iujlr4 {
  color: black;
  width: 40px;
  height: 40px;
}
#ipjgh8 {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#im794v:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#im794v {
  padding: 8px 8px 8px 8px;
  margin: 0 0 20px 0;
}
#igs6b2 {
  color: black;
  width: 40px;
  height: 40px;
}
#ig69qf {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
#ihxj0c:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #e9f4f9;
}
#ihxj0c {
  padding: 8px 8px 8px 8px;
}
#i1acba {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 195px 0 8px 0;
}
#ilx164 {
  color: black;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
  z-index: -1;
  opacity: 1;
  margin: -215px 0 0 0;
  width: 90%;
}
#iy219i {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  z-index: -1;
}
#i2y58b {
  margin: 0 0 416px 0;
}
#igoj4j {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 88px 0 0 0;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 0;
  display: flex;
}
#iw9vzs {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  color: #014583;
  margin: 0 0 40px 0;
  line-height: 35px;
}
#i8ed3p {
  padding: 50px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0;
  opacity: 1;
}
#i32zrt {
  text-align: center;
  margin: 0 0 20px 0;
  color: #014583;
  font-size: 24px;
}
#igd9b3 {
  color: black;
  width: 34px;
  margin: 0 10px 0 0;
  height: 28px;
}
#i25p5t {
  color: #000;
  line-height: 26px;
}
#i4fatt {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#if07wi {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ixewuo {
  color: #000;
  line-height: 26px;
}
#isnmdp {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#i6uy36 {
  padding: 0 8px 8px 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ijvu7r {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 12px 0 -2px;
}
#ikhogo {
  color: #000;
  line-height: 26px;
}
#iuhcpa {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#ine7ok {
  padding: 30px 20px 20px 20px;
  font-size: 18px;
  margin: 0 50px 8px 0;
  background: linear-gradient(135deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  border-radius: 20px 20px 20px 20px;
  height: 400px;
}
#ip2euc {
  max-width: 50%;
}
#iberl3 {
  text-align: center;
  margin: 0 0 20px 0;
  color: #014583;
  font-weight: 700;
  font-size: 24px;
}
#ipyj7i {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ib8xlj {
  color: #000;
  line-height: 26px;
}
#i39j6a {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#i77c53 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#iy1z7w {
  color: #000;
  line-height: 26px;
}
#i2jmgj {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 20px 0;
}
#ixm379 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#icnyfg {
  color: #000;
  line-height: 26px;
}
#ivsimf {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#iqrfl5 {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#ivlont {
  color: #000;
  line-height: 26px;
}
#imdfqn {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#i4pzek {
  color: black;
  width: 34px;
  height: 28px;
  margin: 0 10px 0 0;
}
#i3ge9k {
  color: #000;
  line-height: 26px;
}
#ia7x77 {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#ij8oj1 {
  color: black;
  width: 32px;
  height: 32px;
  margin: 0 14px 0 -1px;
}
#iy8uub {
  color: #000;
  line-height: 26px;
}
#ik68kc {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: 0 0 0;
}
#ixt0j1 {
  padding: 2px 8px 8px 0;
  margin-bottom: 8px;
  min-height: 50px;
}
#i123rg {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#ikvf3u {
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  padding: 30px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 50px;
  height: 400px;
}
#i884rf {
  margin: 0 0 0;
}
#ifyh9w {
  padding: 0 0 16px 0;
  display: flex;
}
#ifr3h5 {
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 0 0 0 0;
}
#i17tg5 {
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
  border: unset;
  width: fit-content;
  color: #fff;
  background: linear-gradient(135deg, #cae9f0, #c3effd, #a1b0f7);
  display: inline-flex;
  padding: 13px 17px 13px 17px;
}
#i17tg5:hover {
  scale: 1.02;
}
#i6th7w {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  text-align: center;
}
#i4mfde {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  text-align: center;
  display: flex;
  margin: 2px 0 10px 0;
}
#idu53y {
  background-size: auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.58;
}
.jch-lazyloaded._jch-id_idu53y {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-chi-so-thue-ke-toan.png) !important;
}
#iamzzp {
  color: black;
  width: 55px;
  height: 55px;
}
#ipin9n {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  width: 95%;
}
#injzxn {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i0qnu2 {
  color: #000;
  margin: 0 0 20px 0;
  line-height: 26px;
}
#i55z0t {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  font-size: 18px;
}
#iqr9l6 {
  font-size: 19.75px;
}
#imggsn {
  color: black;
  margin: 50px 0 0 0;
  float: right;
}
#iinecl {
  background: linear-gradient(180deg, #f4fcff, #f6fcff, #ebf9ff, #e9f4f9);
  margin: 118px 0 0 0;
  padding: 60px 0 93px 0;
}
#idih6i {
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}
.jch-lazyloaded._jch-id_idih6i {
  background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/hinh-nen-bao-cao-tai-chinh.jpg) !important;
}
#ijjs61 {
  font-weight: 700;
  color: #014583;
  margin: 0 0 20px 0;
  width: 60%;
  line-height: 35px;
  font-family: inherit;
  font-size: 30px;
}
#iets1u {
  color: black;
  width: 40px;
  height: 40px;
}
#igik0h {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#iiy5yf {
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 8px 8px 8px 8px;
}
#iiy5yf:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#ijf87l {
  color: black;
  width: 40px;
  height: 40px;
}
#i2pzr4 {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#ih4v0y {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
  width: 85%;
}
#ih4v0y:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#ip4kl8 {
  color: black;
  width: 40px;
  height: 40px;
}
#iauoiz {
  color: #000;
  font-weight: 500;
  margin: 0 0 0 5px;
  font-size: 18px;
  line-height: 26px;
}
#ibm42r {
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 14px 0;
  width: 80%;
}
#ibm42r:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 4px 1px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 10px -6px;
  border-radius: 10px;
  background: #fff;
  padding: 8px 8px 8px 8px;
}
#igh7dx {
  color: black;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 0;
  position: absolute;
  transform: translate(0%, -55%);
}
#iwbm6c {
  padding: 15px 25px 15px 25px;
  margin-bottom: 8px;
  min-height: 50px;
  background: linear-gradient(90deg, #95cee2, #f6fcff, #95cee2);
  border-radius: 20px;
  margin: 0 0 30px 0;
  font-size: 19.75px;
}
#i3ufm8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin: 0 0 2px 0;
}
#iiggd1 {
  background-color: #e9f4f9;
  margin: 0 0 0 0;
  padding: 64px 0 135px 0;
}
#i8p85k {
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 40px;
  color: #808080;
}
#ia60x1 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#iw312u {
  color: black;
  z-index: 1;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: absolute;
}
#iozn8c {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #014583;
}
#ijca5v {
  font-size: 18px;
  margin: 0 0 40px 0;
  line-height: 26px;
  color: #000;
}
#ilxmp8 {
  padding: 20px 65px 20px 65px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 8px 130px;
  background: linear-gradient(180deg, #f6fcff, #e9f4f9);
  border-radius: 30px 30px 30px 30px;
}
#iirqcf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin: 0 0 8px 0;
}
#iwil2l {
  padding: 25px 0 10px 0;
  margin: 63px 0 0 0;
}
#ituy8c {
  color: black;
  width: 55px;
  height: 55px;
}
#i4rp4v {
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 40px;
  color: #808080;
}
#ign8ox {
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 32px 0;
}
#ik3cgx {
  padding: 8px 8px 0 8px;
  margin-bottom: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#itu64o {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#isgy3f {
  padding: 28px 0 60px 0;
  margin: 110px 0 8px 0;
}
#it94yk {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#i63je9 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i03y0y {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#ihtuac {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#ihtuac:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#itv6ob {
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9f4f9;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin: 0 0 0 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
#in8r61 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#in1cw1 {
  color: #000;
  font-weight: 700;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 26px;
}
#i6llfz {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 10px 0;
}
#i6llfz:hover {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 4px 1px -2px rgba(50, 50, 93, 0.25),
    0 3px 10px -6px rgba(0, 0, 0, 0.3);
}
#i1yoyj {
  color: #000;
}
#is7rul {
  color: #000;
}
#ikc82m {
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}
ul#iyvon2 li a {
  border: unset;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
#ir51ji {
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
}
#iyvone {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
#i0silf {
  margin: 0 0 0 0;
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
}
#ivcrug {
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #0093d3;
  margin: 0 0 0 0;
}
#iv6v8y {
  width: 55px;
  height: 55px;
}
#i3npgg {
  font-weight: 700;
  margin: 0 0 -15px 0;
  color: #808080;
}
#iwp70v {
  transform: translateY(-55px);
}
#izxem5 {
  padding: 0 0 0 0;
}
#ipqrzo {
  padding: 0 15px 0 15px;
}
#i0mw18 {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#isgqqas {
  background-color: #fdfdfd;
  padding: 120px 0 87px 0;
}
#i8lhxq {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}
#i3k6cf {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #000;
}
#ijrhw06 {
  font-family: Roboto;
  font-size: 18px;
  margin: 0 0 0 0;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
}
#iswj2cc {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#i51ohe6 {
  color: #0093d3;
}
#i7gqlax {
  color: #0093d3;
}
#isf9tmm {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i38uxk {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ia222j {
  color: #0093d3;
}
#ir9455 {
  color: #0093d3;
}
#i3l67z {
  color: #0093d3;
}
#idsqcv {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i375ll {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ifwbkq {
  font-size: 18px;
  margin: 0 0 0 0;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
}
#ihv7j3 {
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
  font-weight: 700;
  color: #0093d3;
}
#ips2v5e {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
  color: #0093d3;
}
#iwua5pj {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#iczpyor {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#i7zhny {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
#ikj968 {
  color: #0093d3;
}
#izndxuj {
  color: #0093d3;
}
#ifs3pil {
  color: #0093d3;
}
#idcjhxi {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#itmys41 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#i9zlhf2 {
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  color: #0093d3;
  margin: 0 0 0 0;
}
#ifbh6y4 {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#itun0ci {
  color: #0093d3;
}
#i5ty23h {
  color: #0093d3;
}
#iffuc71 {
  color: #0093d3;
}
#ibc9a2u {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#id4jb6z {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#i6rq9qo {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iudkft {
  margin: 0 0 0 0;
}
#ip0pyzb {
  padding: 0 0 0 0;
}
#ir1m69f {
  padding: 0 0 0 0;
}
#ia4hrh-2 {
  margin: 40px 0 0 0;
}
#i3k6cf:hover {
  color: black;
}
#i7s9dh {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
#i5wolx {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#i39kk9 {
  color: #0093d3;
}
#ipo6gt {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#ijcmhd {
  font-family: Roboto;
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#icu7yf {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iuj34l {
  color: #0093d3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0 0;
}
#izfun8 {
  color: #0093d3;
}
#ijb8bh {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#i1v1yu {
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  font-weight: 400;
}
#izu182 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
#icmh4e {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#ibbszc {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iin55k {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
#ikmx2q {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
}
#iq4vjv {
  color: #0093d3;
}
#imgfxd {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #0093d3;
}
#iult2s {
  font-size: 18px;
  color: #000;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iymhgf {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  display: flex;
  margin: 0 0 4px 0;
}
#imoxrd {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 12px 0 -2px;
}
#iim8bh {
  color: #000;
  line-height: 26px;
}
#iz2gh9 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  display: flex;
  margin: -6px 0 2px 0;
}
#i0tqf9 {
  color: black;
  width: 32px;
  height: 32px;
  margin: 5px 12px 0 -2px;
}
#isbfqg {
  color: #000;
  line-height: 26px;
}
#ibfuei {
  padding: 0 0 0 0;
  display: flex;
  margin: 0 0 20px 0;
}
#ivd4wc {
  font-weight: 600;
  color: #0093d3;
}
#iqg5swq {
  font-size: 18px;
  font-family: Roboto;
  line-height: 26px;
}
#i8r99w {
  margin: 0 0 5px 0;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
  color: #01305b;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#il19zy {
  line-height: 26px;
}
#ilu9a8 {
  line-height: 26px;
}
#isv3p5 {
  line-height: 26px;
}
#i7k22j {
  margin: 0 0 0 0;
}
@media (max-width: 1199.98px) {
  #i3le4c {
    margin: 190px 0 8px 0;
  }
  #iugy6u {
    margin: 90px 0 0 0;
  }
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
  #itp473 {
    font-size: 45px;
    line-height: 65px;
  }
  #iscgui {
    font-size: 30px;
  }
  #igpvmf {
    font-size: 15px;
  }
  #ip9bd2 {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i53tot {
    font-size: 30px;
  }
  #ijyqnr {
    font-size: 15px;
  }
  #i6y3rg {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #iw3ikv {
    font-size: 30px;
  }
  #inkai2 {
    font-size: 15px;
  }
  #ig67ff {
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 8px;
  }
  #i9ehun {
    max-width: 100%;
  }
  #ijfpoz {
    max-width: 100%;
  }
  #ixwk2w {
    margin: 0 0 0 0;
  }
  #ily5dj {
    margin: 190px 0 8px 0;
  }
  #iibhig {
    margin: 90px 0 0 0;
  }
  #i8ejvn {
    width: 90%;
  }
  #i8w2a2 {
    height: 200px;
  }
  #imwpvl {
    height: 180px;
  }
  #iwsc2j {
    padding: 0 0 0 0;
  }
  #isozuo {
    height: 200px;
  }
  #imip5h {
    height: 180px;
  }
  #imva4l {
    padding: 0 0 0 0;
  }
  #ijhgrj {
    height: 200px;
  }
  #il9gxz {
    height: 180px;
  }
  #ih3khu {
    padding: 0 0 0 0;
  }
  #i659m3 {
    height: 200px;
  }
  #illewh {
    height: 180px;
  }
  #ip2euc {
    max-width: 50%;
    height: 450px;
  }
  #i884rf {
    height: 450px;
  }
  #ijjs61 {
    width: 45%;
  }
  #iiy5yf {
    width: 45%;
  }
  #ih4v0y {
    width: 45%;
  }
  #ibm42r {
    width: 45%;
  }
}
@media (max-width: 991.98px) {
  #ij1z8f {
    margin: 0 0 0 0;
  }
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px;
  }
  #itp473 {
    font-size: 45px;
  }
  #ier68e {
    display: none;
  }
  #iscgui {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
  }
  #igpvmf {
    text-align: center;
  }
  #ip9bd2 {
    padding: 0 0 0 8px;
    width: 230px;
  }
  #i53tot {
    font-size: 25px;
    text-align: center;
  }
  #ijyqnr {
    text-align: center;
  }
  #i6y3rg {
    margin: 0 0 8px;
    padding: 0 0 0 8px;
  }
  #iw3ikv {
    font-size: 25px;
    text-align: center;
  }
  #inkai2 {
    text-align: center;
  }
  #ig67ff {
    padding: 0 0 0 8px;
  }
  #insd72 {
    margin: 67px 0 0 0;
  }
  #i9ehun {
    margin: 0 0 30px 0;
  }
  #ial8xt {
    width: 90%;
  }
  #iaev8h {
    display: block;
    padding: 0 20px 0;
  }
  #i2hhad {
    text-align: center;
    max-width: auto;
  }
  #idwej9 {
    order: 1;
    text-align: center;
  }
  #iyea3y {
    width: 70%;
  }
  #ivopau {
    margin: 0 0 0 0;
  }
  #iz507l {
    width: 80%;
  }
  #i6auhg {
    margin: 80px 0 0 0;
  }
  #ieqqpi {
    text-align: center;
  }
  #iwrhz9 {
    padding: 20px 0 30px 0;
  }
  #i8ejvn {
    width: auto;
  }
  #ir2bvf {
    margin: 0 0 20px 0;
  }
  #iz9p9t {
    max-width: auto;
  }
  #id2zfe {
    padding: 20px 0 40px 0;
  }
  #i8w2a2 {
    height: 100px;
  }
  #imwpvl {
    max-width: auto;
    width: auto;
    height: 100px;
  }
  #isozuo {
    height: 100px;
  }
  #imip5h {
    height: auto;
  }
  #ijhgrj {
    height: 100px;
  }
  #i659m3 {
    height: 100px;
  }
  #ig820i {
    padding: 60px 0 20px 0;
  }
  #i8q0ru {
    width: 100%;
  }
  #i9nl31 {
    width: 100%;
  }
  #in6jwj {
    width: 82%;
  }
  #i1acba {
    margin: 40px 0 8px 0;
  }
  #ilx164 {
    display: none;
  }
  #i9s41j {
    display: none;
  }
  #ine7ok {
    margin: 0 0 8px 0;
    height: 400px;
  }
  #ip2euc {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  #ikvf3u {
    margin: 0 0 0;
    height: 400px;
  }
  #i884rf {
    max-width: 100%;
  }
  #ifyh9w {
    display: block;
    padding: 0 0 10px 0;
  }
  #i4mfde {
    margin: 10px 0 0 0;
  }
  #iinecl {
    padding: 60px 0 0;
    margin: 30px 0 0 0;
  }
  #ijjs61 {
    width: 100%;
  }
  #iiy5yf {
    width: 100%;
  }
  #ih4v0y {
    width: 100%;
  }
  #ibm42r {
    width: 100%;
  }
  #igh7dx {
    display: none;
  }
  #iiggd1 {
    padding: 30px 0 60px 0;
  }
  #ijca5v {
    margin: 0 0 20px 0;
  }
  #ign8ox {
    width: 100%;
  }
  #i3ng2yr {
    display: none;
  }
}
@media (max-width: 767.98px) {
  #iytod9 {
    max-width: auto;
    width: 38px;
    height: 40px;
  }
  #iscgui {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0;
  }
  #igpvmf {
    display: none;
  }
  #ie1uhc {
    display: flex;
  }
  #ip9bd2 {
    width: 28%;
  }
  #i9cruf {
    width: 38px;
    height: 40px;
  }
  #i53tot {
    font-size: 18px;
    display: block;
  }
  #ijyqnr {
    display: none;
  }
  #ibtogk {
    padding: 8px 0 8px 8px;
    display: flex;
    margin: 0 0 0 0;
  }
  #i6y3rg {
    width: 34%;
  }
  #i12r8g {
    width: 38px;
    height: 40px;
  }
  #iw3ikv {
    font-size: 18px;
  }
  #inkai2 {
    display: none;
  }
  #icjanx {
    padding: 8px 8px 8px 0;
    display: flex;
    margin: 0 0 0 0;
  }
  #ig67ff {
    width: 33%;
  }
  #iwc5fm {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #iaev8h {
    padding: 20px 0 20px 0;
  }
  #i0e2m6 {
    color: black;
  }
  #i4k4am {
    min-height: auto;
  }
  #inqezk {
    color: black;
  }
  #ih13ys {
    min-height: auto;
  }
  #i9o4az {
    color: black;
  }
  #i3vmjk {
    min-height: auto;
  }
  #i8w2a2 {
    width: auto;
    height: 130px;
  }
  #imwpvl {
    margin: 0 0 30px 0;
    height: 130px;
  }
  #iwsc2j {
    padding: 0 0 0 0;
  }
  #isozuo {
    height: 130px;
  }
  #imip5h {
    height: 130px;
    margin: 0 0 15px 0;
  }
  #ip2euc {
    margin: 0 0 20px 0;
  }
  #iwbm6c {
    margin: 0 0 30px 0;
  }
  #ilxmp8 {
    margin: 0 0 8px 0;
    padding: 20px 30px 20px 30px;
  }
  #ig0pbi {
    color: black;
  }
  #it94yk {
    min-height: auto;
  }
  #igtuih {
    color: black;
  }
  #itv6ob {
    min-height: auto;
  }
  #iw312u {
    display: none;
  }
  #isgy3f {
    margin: 50px 0 8px 0;
  }
  #iu2i8a {
    display: none;
  }
  #ijhgrj {
    height: 130px;
  }
  #i659m3 {
    height: 130px;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  #ij1z8f {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #i3le4c {
    margin: 184px 0 8px 0;
  }
  #iugy6u {
    margin: 62px 0 0 0;
  }
  #iaa1jq {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.2;
  }
  #itp473 {
    text-align: center;
    font-size: 33px;
    line-height: 40px !important;
  }
  #iu2i8a {
    display: none;
  }
  #ia4ktu {
    margin: 0px;
    justify-content: center;
  }
  #ier68e {
    display: none;
  }
  #icnu2l {
    padding: 8px 8px 8px 8px;
    background-color: inherit;
    box-shadow: none;
    text-align: center;
    margin: -160px 0 0 0;
  }
  #iytod9 {
    display: none;
  }
  #igpvmf {
    display: none;
  }
  #ip9bd2 {
    width: auto;
    padding: 0 0 0 0;
    display: none;
    margin: 0 0 8px 0;
  }
  #i9cruf {
    display: none;
  }
  #ijyqnr {
    display: none;
  }
  #ibtogk {
    display: none;
  }
  #i6y3rg {
    margin: 0 0 8px 0px;
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 50px;
  }
  #i12r8g {
    display: none;
  }
  #inkai2 {
    display: none;
  }
  #ig67ff {
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    display: none;
  }
  #ifid66 {
    justify-content: center;
    flex-wrap: wrap;
  }
  #insd72 {
    display: block;
  }
  #i9ehun {
    margin: -100px 0 30px 0;
  }
  #ial8xt {
    width: 100%;
  }
  #i9aye2 {
    font-size: 16px;
  }
  #ie4hpy {
    font-size: 16px;
  }
  #ihfk4x {
    padding: 2px 12px 2px 12px;
    display: none;
  }
  #ivtnkz {
    font-size: 16px;
  }
  #i8cqzp {
    font-size: 16px;
  }
  #iwc5fm {
    font-weight: 400;
    border-radius: 60px;
    border: unset;
    width: fit-content;
    color: #fff;
    background: #ffbb1c;
    display: flex;
    padding: 2px 12px 2px 12px;
    position: relative;
  }
  #i0g3kj {
    margin: 30px 0 0 0;
  }
  #i3ur9g {
    padding: 25px 8px 8px 8px;
    margin: 0 0 15px 0;
  }
  #iaev8h {
    padding: 30px 0 30px 0;
  }
  #i74pik {
    background-color: #e9f4f9;
    padding: 20px 0 0 0;
    margin: 0 0 0;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 0;
  }
  #iyea3y {
    line-height: 40px;
    font-size: 30px;
    width: 100%;
  }
  #ixwk2w {
    padding: 50px 0 60px 0;
  }
  #ivopau {
    height: auto;
    margin: 0px;
    opacity: 0.7;
  }
  #ily5dj {
    margin: 184px 0 8px 0;
  }
  #iibhig {
    margin: 62px 0 0 0;
  }
  #iz507l {
    font-size: 32px;
    width: 100%;
  }
  #i6auhg {
    margin: -80px 0 0 0;
  }
  #i4vbne {
    padding: 60px 0 30px 0;
  }
  #ion5m7 {
    line-height: 40px;
  }
  #iggjh5 {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #iraxyo {
    display: flex;
    margin: 20px 0 8px 0;
  }
  #iwrhz9 {
    padding: 20px 0 20px 0;
  }
  #iesqgd {
    margin: 0px;
    justify-content: center;
  }
  #i8ejvn {
    line-height: 40px;
    width: 100%;
  }
  #ir2bvf {
    margin: 20px 0 8px 0;
  }
  #i8apcp {
    line-height: 40px;
  }
  #id2zfe {
    padding: 0 0 40px 0;
  }
  #i8w2a2 {
    height: 150px;
    margin: 0 0 30px 0;
  }
  #imwpvl {
    height: 130px;
    margin: 0 0 30px 0;
  }
  #iwsc2j {
    width: 100%;
    padding: 0 0 0 17px;
  }
  #isozuo {
    height: 150px;
    margin: 0 0 30px 0;
  }
  #imip5h {
    height: 130px;
  }
  #ijhgrj {
    height: 150px;
  }
  #i659m3 {
    height: 150px;
  }
  #i3lndr {
    margin: -30px 0 20px 0;
    padding: 60px 8px 40px 8px;
  }
  #ig83an {
    line-height: 40px;
  }
  #i8q0ru {
    width: 100%;
  }
  #i9nl31 {
    width: 100%;
  }
  #imdq5q {
    margin: -50px 0 0 0;
  }
  #it1h7f {
    padding: 20px 0 64px 0;
  }
  #in6jwj {
    width: 100%;
  }
  #i1acba {
    padding: 8px;
    margin: 20px 0 30px 0;
  }
  #i9s41j {
    display: none;
  }
  #igoj4j {
    padding: 50px 0 0 0;
  }
  #iw9vzs {
    line-height: 40px;
  }
  #i32zrt {
    font-size: 20px;
  }
  #ine7ok {
    min-height: 50px;
    margin: 0 0 3px 0;
    max-width: 100%;
    height: 400px;
    padding: 30px 20px 20px 20px;
  }
  #ip2euc {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  #iberl3 {
    font-size: 20px;
  }
  #ikvf3u {
    margin: 0 0 0;
    height: 400px;
  }
  #i884rf {
    max-width: 100%;
  }
  #i5kwlb {
    padding: 15px;
    display: block;
  }
  #ifr3h5 {
    font-size: 16px;
  }
  #i17tg5 {
    display: none;
  }
  #imggsn {
    margin: 20px 0 30px 0;
  }
  #iinecl {
    padding: 60px 0 0px 0;
    margin: -50px 0 0 0;
  }
  #ijjs61 {
    width: 100%;
    line-height: 40px;
    padding: 15px 0 0 0;
    font-size: 30px;
  }
  #iiy5yf {
    width: 100%;
  }
  #ih4v0y {
    width: 100%;
  }
  #ibm42r {
    width: 100%;
  }
  #igh7dx {
    z-index: 0;
    display: none;
  }
  #i3ufm8 {
    margin-top: -50px;
  }
  #i8p85k {
    width: 100%;
  }
  #iw312u {
    top: -25px;
    display: none;
  }
  #ilxmp8 {
    margin: 0 0 8px 0;
    padding: 20px 30px 20px 30px;
  }
  #iwil2l {
    margin: 0 0 0 0;
  }
  #ign8ox {
    width: 100%;
  }
  #izmy78 {
    margin: -30px 0 0 0;
  }
  #isgy3f {
    padding: 0px 0 60px 0;
  }
  #illewh {
    height: 130px;
  }
  #il9gxz {
    height: 130px;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #i74oi7 {
    padding: 64px 0 0 0;
  }
  #iyvfaq {
    font-size: 14px;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
