@charset "utf-8";
div#ijxq3j > .t4b-box {
  transition: all ease 0.2s;
}
div#ijxq3j > .t4b-box:hover {
  transform: translateY(-5px);
}
.glac-nav-item-singapore a.nav-link.active,
.glac-nav-item-singapore a.nav-link:hover {
  background: linear-gradient(
    90deg,
    rgb(217, 242, 255) 0%,
    rgb(214, 246, 255) 33.333%,
    rgb(214, 246, 255) 66.667%,
    rgb(217, 242, 255) 100%
  );
  padding: 10px 15px;
}
div#ih3a1u > .t4b-box {
  transition: all 0.4s ease;
}
div#ih3a1u > .t4b-box:hover {
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
div#ih3a1u > .t4b-box:hover p {
  font-weight: 500;
}
div#imjjd a[t4-type="t4b-btn"]:hover {
  background: linear-gradient(to bottom, #f6fcff, #e9f4f9);
}
ul#iyvon2 li a {
  border: unset;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
.glac-nav-item-singapore a.nav-link {
  background: rgb(241, 250, 255);
  padding: 10px 15px;
}
.glac-tab-content-verticle-singapore .tab-content {
  background: transparent;
}
.glac-qb-process li::after {
  background: #0093d38c none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  right: -45%;
  top: 20px;
  width: 85%;
  z-index: -1;
}
.glac-qb-process li.visited::after {
  background: #57b87b;
}
.glac-qb-process li:last-child::after {
  width: 0;
}
.glac-qb-process li {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 0;
}
.glac-qb-process a[aria-expanded="true"] > div {
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: #fbbc3f !important;
}
.glac-qb-process a[aria-expanded="true"] > p {
  font-weight: 500;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
#iz5wlj td {
  vertical-align: middle;
}
#iz5wlj th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
ul#i853cl li {
  margin-bottom: 5px;
  margin-top: 10px;
}
#ike11 {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 42px;
  color: #014583;
}
#ixxk9 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0 0 0 0;
}
#i94cz {
  padding: 0 0 0 0;
  min-height: 50px;
  display: flex;
  gap: 25px;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
#ihm0x {
  color: black;
}
#ik07m {
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
}
#iv8lr {
  background-color: #fdfdfd;
  padding: 100px 0 0 0;
}
#i22z {
  padding: 40px 0 50px 0;
  background-color: #fdfdfd;
}
#ihmxx {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ilg2y {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#i6kw2 {
  color: black;
  width: 100px;
}
#i6iei {
  font-size: 18px;
  line-height: 26px;
  color: #0093d3;
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Montserrat;
}
#irklw {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  background-color: #e9f4f9;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#ikz9z {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iax2t {
  color: black;
  width: 45px;
  height: 45px;
}
#ir7kb {
  color: black;
  width: 45px;
  height: 45px;
}
#ii36b {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#ikism {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iavws {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#icn9s {
  color: black;
  width: 45px;
  height: 45px;
}
#iddm7 {
  font-size: 32px;
  line-height: 40px;
  color: #808080;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: Montserrat;
}
#imtzj {
  padding: 8px;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iz1yl {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iybzi {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#iqyvl {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#ilvrg {
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  margin: 0 0 0 0;
}
#inel8 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  text-align: left;
  font-family: Montserrat;
}
#icneh {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
#it61m {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ipbwi {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#if0ih {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ik9kb {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#ilowf {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#i70g1 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl {
  color: #808080;
  width: 1px;
  background-color: #80808045;
  height: 20px;
  font-size: 20px;
  min-height: 30px;
  margin: 0px 5px;
}
#iaqqb {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ice51 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#imjjd {
  padding: 8px;
  min-height: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  width: 100%;
  margin: 0 0 0 0;
}
#iq9vk {
  padding: 0 0 0 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}
#ifkq3 {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#izlki {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ieyfl-2 {
  background-color: rgba(128, 128, 69, 0.5);
  width: 1px;
  height: 30px;
  margin: 0 5px 0 5px;
}
#ibvpl {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#i8ojg {
  background-color: #f6fcff;
  padding: 100px 0 60px 0;
}
#igl1f {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iht6af {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#ifr1hd {
  font-size: 32px;
  line-height: 40px;
  color: #014583;
  font-weight: 600;
  margin: 0 0 0 0;
}
#ie7pli {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iphkjn {
  padding: 8px 20px 8px 20px;
  min-height: 50px;
  margin: 0 0 20px 0;
  border-radius: 50px 50px 50px 50px;
  background-color: #cae9f1;
}
#ieuy8c {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#iauzhg {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 10px 0 0;
}
#ip7qzk {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 10px;
}
#id78bs {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#i6tv96 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 20px 0 0 0;
}
#iy0hs8 {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iqhtnl {
  color: black;
  border-radius: 8px 8px 8px 8px;
  height: 100%;
}
#i4t807 {
  color: black;
  border-radius: 8px 8px 8px 8px;
}
#iuwkap {
  color: black;
  border-radius: 8px 8px 8px 8px;
}
#if9i45 {
  background: linear-gradient(
    rgb(224, 247, 255) 0%,
    rgb(235, 249, 255) 50%,
    rgb(233, 244, 249) 100%
  );
  padding: 60px 0 60px 0;
}
#ibap0l {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#isxs7a {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iaat25 {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 0 0 0 10%;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#i9hv15 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iethqx {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#iy6fgr {
  padding: 20px 10px 20px 10px;
  min-height: 50px;
  margin: 40px 10% 0 0;
  background-color: #fdfdfd;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#if1eml {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#is51k9 {
  color: black;
  width: 55px;
}
#i36x39 {
  padding: 30px 20px 30px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background-color: #e9f4f9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#iryv7j {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 20px 0;
}
#in8iis {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#ip6whh {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
}
#iwl2pw {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
#ignnsk {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 0 0;
}
#ikn00r {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iprf2k {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#iokbnv {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#i3i34e {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#io00cv {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#i6z3mf {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#it73dz {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i8qjvf {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#i8wzlf {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
#iqullm {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#i021ln {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  margin: 0 0 0 0;
}
#i410ii {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#i0q7ep {
  color: black;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
}
#it9jzg {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: left;
}
#i7uj2i {
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
#ipyqdk {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iy32xg {
  color: black;
  height: 40px;
  width: 40px;
}
#iteb4f {
  color: black;
  height: 40px;
  width: 40px;
}
#ihqaz8 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iyv8xn {
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
#iflsyx {
  color: black;
  height: 40px;
  width: 40px;
}
#idgsvl {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#inkz7j {
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
#ir4eou {
  color: black;
  height: 40px;
  width: 40px;
}
#ijgrhp {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i43dnk {
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
#it3hu2 {
  color: black;
  height: 40px;
  width: 40px;
}
#ihqa6t {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iua4dr {
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
#i360i2 {
  background: linear-gradient(rgb(42, 146, 205) 0%, rgb(27, 64, 125) 100%);
  padding: 100px 0 100px 0;
}
#ip5o1w {
  line-height: 30px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#itiibd {
  line-height: 26px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#imd4v8 {
  text-align: center;
}
#i56vxz {
  color: black;
  width: 55px;
}
#ij4nta {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#ih0hvd {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
#isy01y {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
#igfsol {
  background-color: #f6fcff;
  padding: 50px 0 50px 0;
}
#in04as {
  color: #0093d3;
}
#ijxq3j {
  padding: 0 0 0 0;
  margin: 40px 0 0 0;
  gap: 20px;
}
#i4za2o {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: radial-gradient(
    circle at 0% 0%,
    rgb(202, 233, 240) 0%,
    rgb(195, 239, 253) 50%,
    rgb(123, 207, 255) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#iypk3g {
  font-size: 25px;
  line-height: 26px;
  color: #0093d3;
}
#io9tzg {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 0;
  font-family: Montserrat;
}
#icatlr {
  font-size: 25px;
  line-height: 26px;
  color: #0093d3;
}
#idjrjy {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 0;
  font-family: Montserrat;
}
#iwg2ko {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: radial-gradient(
    circle at 0% 0%,
    rgb(202, 233, 240) 0%,
    rgb(195, 239, 253) 50%,
    rgb(123, 207, 255) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#iii08p {
  font-size: 25px;
  line-height: 26px;
  color: #0093d3;
}
#ijjwoe {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 0;
  font-family: Montserrat;
}
#izzwmn {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: radial-gradient(
    circle at 0% 0%,
    rgb(202, 233, 240) 0%,
    rgb(195, 239, 253) 50%,
    rgb(123, 207, 255) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#irkk3f {
  font-size: 25px;
  line-height: 26px;
  color: #0093d3;
}
#i48o95 {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 0;
  font-family: Montserrat;
}
#if29np {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
  background: radial-gradient(
    circle at 0% 0%,
    rgb(202, 233, 240) 0%,
    rgb(195, 239, 253) 50%,
    rgb(123, 207, 255) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#iioz0q {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  min-height: 0;
}
#i0b09d {
  color: #000;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
}
#irl5yg {
  color: black;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
}
#i6recx {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
#iouyb8 {
  font-size: 18px;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#ibrkky {
  font-size: 18px;
  color: #0093d3;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#i7mdnc {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #0093d3;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
}
#i6gc7o {
  font-size: 18px;
  line-height: 26px;
}
#iihhv9 {
  margin: -50px 0 0 0;
}
#idekln {
  padding: 100px 0 100px 0;
  background: #fdfdfd;
}
#ij2o5j {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#i0gjzh {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#io7u4r {
  color: black;
  width: 55px;
}
#i8zvfo {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ilys8u {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 40px 0;
  max-width: 75%;
}
#igckrc {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
#i93eak {
  margin: 40px 0 0 0;
}
#ig8lju {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 0;
}
#inywbv {
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 0 0;
}
#i9u7p4 {
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 0 0;
}
#iqk5k5 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#i3sh8o {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i3bif2 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#iu6hb6 {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  margin: 20px 0 0 0;
  display: flex;
}
#iqi28v {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i4tnm7 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 20px 0 0 0;
}
#iah7ef {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#iit56i {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ixjolk {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  margin: 20px 0 0 0;
  display: flex;
}
#iq37sk {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i9vu7t {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ia7gji {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  margin: 20px 0 0 0;
  display: flex;
}
#ipwuh4 {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ibtw91 {
  line-height: 26px;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ib2vys {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  margin: 20px 0 0 0;
  display: flex;
}
#i83ngp {
  color: #014583;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  margin: 0 0 0 0;
}
#in6uth {
  color: black;
  margin: 50px 0 10px 0;
}
#i2nk0l {
  color: #808080;
  font-size: 18px;
  margin: 0 0 0 0;
}
#i0aoes {
  padding: 40px 0 40px 0;
  min-height: 50px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  margin: 0 0 0 0;
  border-radius: 10px 10px 10px 10px;
}
#i7dd0u {
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  transform: translateY(-60%);
}
#iilis9 {
  color: black;
  float: none;
  width: 60px;
  height: 60px;
}
#i9bwbd {
  margin: 0 0 0 0;
}
#iss10b {
  padding: 15px 15px 15px 15px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 0 10px;
}
#i6924l {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  width: 80%;
}
#inahhh {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 50px 0;
}
#iw5957 {
  color: black;
  float: none;
  width: 60px;
  height: 60px;
}
#i0umj5 {
  margin: 0 0 0 0;
}
#idv90j {
  padding: 15px 15px 15px 15px;
  margin-bottom: 8px;
  min-height: 50px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 0 10px;
}
#ipez8q {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  width: 80%;
  text-align: left;
}
#ihfzvh {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iw4qpj {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#iozzte {
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 0 0 0;
  margin: 0 0 -40px 0;
}
.jch-lazyloaded._jch-id_iozzte {
  background-image: url("../../../../images/background/hinh-nen-danh-gia-dich-vu.png") !important;
}
#iw7idf {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
  max-width: 70%;
}
#ic5o5l {
  color: black;
  width: 55px;
  height: 55px;
}
#ivqb3s {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
}
#ij2lqp {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ii15t4 {
  display: flex;
  margin: 4px 4px 4px 4px;
}
#ibc1kh {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i6rakl {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iyga4h {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#iq7v6l {
  color: #014583;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
#i9kr5r {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iyfkd2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#irsf8q {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iob3uh {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: white;
}
#iis9sg {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#ikmxlm {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#i68094 {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#iecjfl {
  background-color: white;
  padding: 30px 20px 30px 20px;
}
#i6qlhd {
  margin: 0 0 20px 0;
}
#iy38df {
  margin: 0 0 0 0;
}
#ihcvco {
  margin: 0 0 20px 0;
}
#ie2ixw {
  margin: 0 0 0 0;
}
#iriv9v {
  margin: 0 0 20px 0;
}
#imm8a9 {
  margin: 0 0 10px 0;
}
#i7lj5k {
  margin: 0 0 0 0;
}
#ift5ud {
  margin: 0 0 20px 0;
}
#ifvyk7 {
  padding: 100px 0 50px 0;
  background-color: #f4fcff;
}
#ip2tea {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 40px 0;
}
#i8x2qm {
  margin: 20px 0 0 0;
}
#il5usy {
  line-height: 35px;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ip7gtg {
  margin: 10px 0 20px 0;
}
#irmkdd {
  line-height: 35px;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ina0lo {
  margin: 10px 0 10px 0;
}
#idlxu6 {
  margin: 0 0 20px 0;
}
#irwh6z {
  margin: 0 0 0 0;
}
#icrz45 {
  margin: 0 0 20px 0;
}
#io3hts {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i4m9j7 {
  text-align: center;
}
#im3yal {
  padding: 100px 0 100px 0;
}
#i65kcv {
  width: 55px;
}
#ia8vjeg {
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
#ibmohk {
  background-color: #f1faff;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0093d3;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
}
#ioat0jn {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#ilpkrf4 {
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 0 0;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#iukxv5m {
  margin: 0 0 0 0;
}
#i4k56s {
  margin: 0 0 0 0;
}
#iecqag {
  margin: 150px 0 0 0;
  position: sticky;
  top: 100px;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 0 0;
}
#ikq9t2 {
  padding: 50px 0 100px 0;
  background-color: white;
}
#icyf59j {
  margin: 40px 0 0 0;
}
#ib435y {
  color: black;
  width: 55px;
}
#i9ava1 {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ixssb8 {
  color: #0093d3;
}
#iodvr8 {
  display: flex;
}
#ith1ik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#iuhhui {
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
}
#idym6y {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#indrir {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
}
#iwnxpm {
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 35px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
}
#imgiaf {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i51fq2 {
  color: #0093d3;
}
#ipbh6t {
  display: flex;
}
#iku4hd {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
}
#iquapf {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i7qp95 {
  color: #0093d3;
}
#i1nwww {
  display: flex;
}
#ic1o24 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#id8lfz {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i12r0f {
  color: #0093d3;
}
#ixsdv4 {
  display: flex;
}
#itphsv {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#ipdf6a {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#i84fm8 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#it989z {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#ixo16o {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 0 0;
}
#ikspik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#iql4jv {
  color: #0093d3;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#iv76dm {
  color: #0093d3;
}
#i5icfg {
  display: flex;
}
#ielujz {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
}
#immqtj {
  margin: 0 0 10px 0;
}
#ignplb {
  margin: 0 0 10px 0;
}
#iai4c2 {
  margin: 0 0 10px 0;
}
#i1t88te {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 40px 0;
}
#i63205z {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 0 0;
  line-height: 40px;
}
#ipk5emv {
  color: black;
}
#imwi179 {
  padding: 40px 40px 40px 150px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(rgb(246, 252, 255) 0%, rgb(233, 244, 249) 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
  max-width: 90%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: relative;
}
#i9pmux5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: Roboto;
  color: #014583;
  margin: 0 0 40px 0;
}
#i1x2enj {
  color: #0093d3;
}
#iqw0kt1 {
  text-align: left;
}
#izxsl1b {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
#i0vgefh {
  background-color: #fdfdfd;
}
#ir94yd {
  font-size: 50px;
  color: #014583;
}
#ieo9tw {
  font-size: 50px;
  color: #014583;
}
#ik8kkx {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.jch-lazyloaded._jch-id_ik8kkx {
  background-image: url(../../../../images/background/trademark-background.png) !important;
}
#isyv9j {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#imgt0y {
  color: black;
  width: 55px;
}
#ivpq9g {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 40px 0;
  line-height: 40px;
}
#ia85qi {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#ic0fed {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
#iwfb9g {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#idhw4k {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i4fzyf {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 0 0;
}
#idmnsf {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#izid1j {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#i9cdy2 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#iy8ug2 {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#io2en7 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ihm4la {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#iqqxfo {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
#ijcy2q {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
}
#ifi5uy {
  padding: 30px 20px 30px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background-color: #e9f4f9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#idfa4h {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#ik5vkv {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i6nf4i {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iyi23d {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#izy1r9 {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#isc7kj {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ixqryu {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#iips8p {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ib7fim {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#is5akg {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#i4d12j {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#i1l2ul {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#icvcv9 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#ilfcb7 {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ieqxsa {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ir0us1 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 0 0;
}
#ixozqf {
  font-size: 20px;
  line-height: 26px;
  color: #0093d3;
}
#ik1a0m {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ial8v8 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#icyga8 {
  line-height: 30px;
  color: #014583;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
#i3f9pf {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
#ingru5 {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#iobi0r {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ikum23 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 0 0;
}
#i9gq62 {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#i435c2 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ib2j0n {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#iv81e9 {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#i24jsx {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#ip3jr3 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 20px 0 0 0;
}
#i6q8rm {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#ie1vcg {
  color: black;
  border-radius: 10px 10px 10px 10px;
}
#iwc2u9 {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 0 0;
}
#in7x8k {
  text-align: center;
  border: 0 solid none none rgb(222, 226, 230) rgb(33, 37, 41) rgb(33, 37, 41);
}
#i3zm0i {
  text-align: center;
}
#iv74ze {
  text-align: center;
}
#ij6n3p {
  text-align: center;
  border: 0 solid none none rgb(222, 226, 230) rgb(33, 37, 41) rgb(33, 37, 41);
}
#i3fcgt {
  text-align: center;
}
#i80l6x {
  text-align: center;
}
#ikx9sf {
  text-align: center;
}
#i0nv32 {
  text-align: center;
}
#iz5wlj {
  margin: -30px auto 16px auto;
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 1px #f2f2f2;
  padding: 0 0 0 0;
}
#ir70o4 {
  background-color: #cae9f1;
  border-radius: 10px 0 0 0;
  width: 20%;
}
#iyvqht {
  background-color: #dee9f1;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0 10px 0;
}
#i1jla3 {
  color: #014583;
  font-size: 18px;
  line-height: 26px;
}
#ij8q6h {
  background-color: #cae9f1;
  width: 25%;
}
#io5mrj {
  background-color: #cae9f1;
  width: 25%;
}
#i66etf {
  color: #014583;
  font-size: 18px;
}
#iyrlek {
  background-color: #fdfdfd;
}
#i639mb {
  font-size: 18px;
}
#i20t5k {
  font-size: 18px;
  line-height: 26px;
}
#ijcee9 {
  font-size: 18px;
}
#iepc5o {
  font-size: 18px;
}
#irskhj {
  font-size: 18px;
}
#iuhyev {
  text-align: center;
}
#ihapbt {
  text-align: center;
}
#iuyjex {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#ix0oga {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#i8vy45 {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#ia68i6 {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#ihyadh {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#i2gbf6 {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#iqoawe {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#itokct {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#ipu2vk {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#irbv0g {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#iosb4f {
  font-size: 22px;
  line-height: 30px;
  color: #014583;
  font-weight: 700;
  margin: 0 0 60px 0;
}
#imuu1l {
  font-size: 32px;
  font-weight: 700;
  color: #808080;
  margin: 0 0 20px 0;
  line-height: 40px;
}
#imy7ow {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
  font-family: Roboto;
}
#i1024q {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#im3wqs {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 0 0;
  font-family: Roboto;
}
#iwxmu8 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#i5g4c2 {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background-color: #e9f4f9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
  height: 100%;
}
#i12shl {
  background-color: #fdfdfd;
  padding: 50px 0 50px 0;
}
#i6ssmp {
  color: black;
  width: 55px;
  height: 55px;
}
#ivc4fa {
  padding: 20px 20px 20px 20px;
  min-height: 50px;
  margin: 0 0 0 0;
  border-radius: 15px 15px 15px 15px;
  background-color: #e9f4f9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;
}
#ik1phq {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
#irjpvw {
  line-height: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
}
#iwhjnp {
  color: black;
  margin: 0 0 20px 0;
}
#iuv6vl {
  color: black;
  margin: 0 0 20px 0;
}
#iwof6d {
  font-size: 20px;
  line-height: 26px;
  color: #014583;
}
#ixlw2g {
  line-height: 26px;
  color: #014583;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 0 0;
  font-family: Roboto;
}
#i51ih5 {
  padding: 0 0 0 0;
  min-height: 0;
  margin: 0 0 20px 0;
}
#i52xsc {
  margin: 40px 0 0 0;
  text-align: center;
}
#i9mp1e {
  color: #0d2d4f;
  font-family: Roboto;
}
#ij4vqi {
  color: #0d2d4f;
  font-family: Roboto;
}
#i60gnj {
  margin: 0 0 0 0;
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  padding: 0 0 0 30px;
}
#ik9ytr {
  font-size: 14px;
  font-weight: 500;
  color: #01305b;
  font-family: Montserrat;
}
#ix8zb4 {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: transparent;
  text-align: center;
}
#ier9zt {
  background-color: rgba(128, 128, 69, 0.5);
  width: 1px;
  height: 30px;
  margin: 0 5px 0 5px;
}
@media (max-width: 1199.98px) {
  div#i9sqlf > div > .t4b-feature-content {
    padding: 30px 15px;
  }
}
@media (max-width: 991.98px) {
  #ikej4 {
    padding: 0 0 0 0;
  }
  #ioh08 {
    padding: 0 0 0 0;
  }
  #ih88w {
    padding: 0 15px 0 0;
  }
  #ilvrg {
    font-size: 15px;
  }
  #iybzi {
    font-size: 15px;
  }
  #iqyvl {
    font-size: 15px;
  }
  #ilg2y {
    font-size: 25px;
  }
  #ii36b {
    font-size: 25px;
  }
  #iddm7 {
    font-size: 25px;
  }
  #iifrlg {
    margin: 40px 0 0 0;
  }
  #i8xjbf {
    margin: 40px 0 0 0;
  }
  #ilys8u {
    max-width: 100%;
  }
  #in6uth {
    margin: 0 0 10px 0;
  }
  #i2nk0l {
    margin: 0 0 0 10px;
  }
  #i6iuqk {
    margin: 40px 0 0 0;
  }
  #i0s3yc {
    margin: -15% 0 0 0;
  }
  #iozzte {
    padding: 100px 0 100px 0;
  }
  #imwi179 {
    padding: 40px 40px 40px 100px;
  }
  #iw7idf {
    max-width: 100%;
  }
  #i4y00p3 {
    margin: 40px 0 0 0;
  }
  #ih3a1u {
    margin: 40px 0 0 0;
  }
  #i3nok6 {
    margin: 40px 0 0 0;
  }
  #ibfgzgs {
    margin: 40px 0 0 0;
  }
  #ip5o1w {
    text-align: center;
  }
  #ixz6nq {
    margin: 40px 0 0 0;
  }
  #ivwx2t {
    background-image: url(https://glacsub.globallinkasiaconsulting.com/images/background/GLAC-globe.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.08;
  }
  #i93eak {
    text-align: center;
  }
  #i410ii {
    padding: 0 0 50px 0;
  }
  #ivwf9a {
    margin: 40px 0 0 0;
  }
  #ieqa2f {
    margin: 40px 0 0 0;
  }
  #ir70o4 {
    width: 5%;
  }
  #iyrlek {
    background-color: #f6fcff;
  }
  #izvv34 {
    margin: 40px 0 0 0;
  }
  #i52xsc {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  #ikej4 {
    padding: 0 5px 0 5px;
  }
  #ilg2y {
    font-size: 18px;
    line-height: 26px;
  }
  #ii36b {
    font-size: 18px;
    line-height: 26px;
  }
  #iddm7 {
    font-size: 18px;
    line-height: 26px;
  }
  #ih88w {
    padding: 0 15px 0 5px;
  }
  #ioh08 {
    padding: 0 5px 0 5px;
  }
  #inel8 {
    font-size: 15px;
  }
  #ipbwi {
    font-size: 15px;
  }
  #ilowf {
    font-size: 15px;
  }
  #iaqqb {
    font-size: 15px;
  }
  #ifkq3 {
    font-size: 15px;
  }
  #imwi179 {
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }
  #ipk5emv {
    max-width: 65%;
  }
  #i9pmux5 {
    font-size: 22px;
    line-height: 30px;
  }
  #izxsl1b {
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 0;
    left: auto;
    bottom: auto;
    right: 0;
    position: absolute;
    transform: translateX(0) translateY(-96%) rotateY(-180deg);
    max-width: 100px;
  }
  #iz5wlj {
    padding: 0 0 0 0;
  }
  #io5mrj {
    max-width: 20%;
  }
  #ij8q6h {
    max-width: 20%;
  }
  #ir70o4 {
    width: 10%;
  }
  #ik9ytr {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  .glac-tab-content-verticle-singapore .tab-content {
    padding: 0;
    margin: 20px 0px 20px 0px;
  }
  div#i2fo6j {
    order: 1;
  }
  #iv8lr {
    padding: 64px 0 50px 0;
  }
  #in3w {
    opacity: 1;
  }
  #i94cz {
    text-align: left;
  }
  #irklw {
    background-color: transparent;
  }
  #i6iei {
    margin: 0 0 0 10px;
  }
  #i22z {
    padding: 0 0 0 0;
  }
  #inel8 {
    font-size: 12px;
  }
  #icneh {
    padding: 10px 6px 10px 6px;
  }
  #ipbwi {
    font-size: 12px;
  }
  #if0ih {
    padding: 10px 6px 10px 6px;
  }
  #ilowf {
    font-size: 12px;
  }
  #i70g1 {
    padding: 10px 6px 10px 6px;
  }
  #iaqqb {
    font-size: 12px;
  }
  #ice51 {
    padding: 10px 6px 10px 6px;
  }
  #imjjd {
    max-width: 95%;
  }
  #ifkq3 {
    font-size: 12px;
  }
  #izlki {
    padding: 10px 6px 10px 6px;
  }
  #iihhv9 {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
  }
  #i7dd0u {
    transform: translateY(0);
  }
  #i6924l {
    width: 90%;
  }
  #ipez8q {
    width: 90%;
  }
  #i0s3yc {
    margin: 40px 0 0 0;
    padding: 0 15px 40px 15px;
  }
  #ikq9t2 {
    padding: 60px 0 100px 0;
  }
  #idym6y {
    font-size: 28px;
    line-height: 35px;
  }
  #iz5wlj {
    display: block;
    width: 100%;
  }
  #i1jla3 {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #i66etf {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #i20t5k {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #i639mb {
    font-size: 14px;
    line-height: 20px;
  }
  #ijcee9 {
    font-size: 14px;
    line-height: 20px;
  }
  #iepc5o {
    font-size: 14px;
    line-height: 20px;
  }
  #io5mrj {
    width: 20%;
  }
  #ij8q6h {
    width: 20%;
  }
  #irskhj {
    font-size: 14px;
    line-height: 20px;
  }
  #iuyjex {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #ix0oga {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #i8vy45 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #ia68i6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #ihyadh {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #i2gbf6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #iqoawe {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #itokct {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #ipu2vk {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #irbv0g {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  #ir70o4 {
    width: 5%;
  }
  #ik9ytr {
    font-size: 12px;
  }
  #ix8zb4 {
    padding: 10px 6px 10px 6px;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
