@charset "utf-8";
div.content.clearfix {
  background: #ebf7fb;
}
section#ibmohk ul[role="tablist"] li a {
  background: #cae9f1;
  border-radius: 50px;
  text-align: center;
  color: #014583;
  padding: 5px 10px;
}
section#ibmohk ul[role="tablist"] {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
section#ibmohk ul[role="tablist"] li {
  width: 200px;
}
section#ibmohk ul[role="tablist"] li a.active {
  background: #fbbc3f;
  color: white;
}
ul#iyvon2 li a {
  border: unset;
}
.t4b-tabs-vertical .nav-link {
  border-radius: 50px;
  background: #e9f4f9;
  margin: 10px 0px;
}
.t4b-tabs-vertical .nav-link.active {
  background: #95cee2;
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-weight: 700;
}
ul#iyvon2 .nav-item a:hover {
  color: unset;
}
#i5nl {
  color: #0f4482;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  margin: 0 0 0 0;
}
#i2m9dw {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  color: #0f4482;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#it07scp {
  color: #0f4482;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ij24rda {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  margin: 0 0 20px 0;
  color: #000;
}
#i06aws {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 16px 0;
  color: #000;
}
#ioat0jn {
  color: #0f4482;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
  padding: 0 10px 0 0;
}
#ia3ipvz {
  color: #0f4482;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#i8kloqv {
  display: flex;
}
#i8lylvk {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#ilpkrf4 {
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
}
#ip64nh {
  color: #0093d3;
}
#i1yoap {
  color: #0093d3;
}
#iuqve0i {
  color: #0093d3;
}
#icagst9 {
  color: #0093d3;
}
#i1y4d29 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  margin: 0 0 16px 0;
  color: #000;
}
#i4k56s {
  margin: 0 0 0 0;
}
#iczxg04 {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  color: #000;
}
#invdc1b {
  padding: 0 0 0 0;
  min-height: 50px;
  margin: 0 0 40px 0;
}
#ikq9t2 {
  padding: 200px 0 0 0;
  background-color: white;
  margin: -100px 0 0 0;
  background: linear-gradient(180deg, #fdfdfd 0%, #eaf7fb 100%);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#isx21a {
  color: #0f4482;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ia3ht7 {
  color: #0093d3;
}
#i65yh8 {
  display: flex;
}
#i95521 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#i9ava1 {
  color: #0f4482;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  text-transform: default;
}
#ixssb8 {
  color: #0093d3;
}
#iodvr8 {
  display: flex;
}
#ith1ik {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#iuhhui {
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
}
#isaqa8 {
  padding: 8px;
  margin-bottom: 8px;
  min-height: 50px;
}
#i58x63 {
  color: #0f4482;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}
#t4b-accordion {
  padding: 0 0 0 40px;
}
#im9o9gp {
  max-width: 1320px;
  margin: auto;
  padding-inline: 30px;
}
#il6x {
  padding: 60px 0 0 0;
  background: linear-gradient(180deg, #eaf7fb 0%, #fdfdfd 100%);
  margin: 0 0 0 0;
}
#if5f4j {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 0;
  color: #000;
}
#ijmp3y {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  color: #000;
}
#i6hqsl {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  margin: 0 0 0 0;
  color: #000;
}
#ij3tmz {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#irzllo {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#icm8up {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  color: #000;
}
#ijddnuk {
  padding: 0 0 100px 0;
}
#itode {
  background: linear-gradient(180deg, #eaf7fb 0%, #fdfdfd 100%);
  display: none;
}
@media (max-width: 991.98px) {
  #t4b-accordion {
    padding: 0 0 0 0;
  }
}
@media (max-width: 767.98px) {
  #t4b-accordion {
    padding: 0 0 0 0;
  }
}
@media (max-width: 575.98px) {
  #ikq9t2 {
    padding: 100px 0 100px 0;
  }
  #il6x {
    padding: 0 0 0 0;
  }
  #t4b-accordion {
    padding: 0 0 0 0;
  }
  #i5nl {
    font-size: 24px;
    line-height: 32px;
  }
  #i58x63 {
    font-size: 24px;
    line-height: 32px;
  }
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
