@charset "UTF-8";
[data-rlta-element="container"] > [data-rlta-element="button"] {
  background-color: #f4f5f6;
  border: 1px solid #c0c6cf;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1px;
  padding: 0.75rem 1.25rem;
}
[data-rlta-element="container"]
  > [data-rlta-element="button"]
  > [data-rlta-element="heading"] {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 100%;
}
[data-rlta-element="container"] > [data-rlta-element="panel"] {
  border: 1px solid #c0c6cf;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0.25em;
}
[data-rlta-element="container"] > [data-rlta-element="panel"][hidden] {
  display: block;
}
[data-rlta-element="container"]
  > [data-rlta-element="panel"]
  > [data-rlta-element="panel-content"] {
  padding: 1.25em;
}
[data-rlta-element="container"]
  > [data-rlta-element="panel"]
  > [data-rlta-element="panel-content"]
  > p:last-child {
  margin-bottom: 0;
}
@media screen {
  [data-rlta-element="container"] {
    opacity: 0;
    transition: opacity 1000ms;
  }
  [data-rlta-element="container"][data-rlta-state="initial"] {
    animation: fadeInAnimation ease 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  [data-rlta-element="container"][data-rlta-state="ready"] {
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  [data-rlta-element="container"][data-rlta-state="ready"]:last-child,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"]
    > [data-rlta-element="panel-content"]
    > p:last-child,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"]
    > [data-rlta-element="panel-content"]
    > p:last-child {
    margin-bottom: 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"][data-rlta-alignment="left"]
    > [data-rlta-element="button"] {
    text-align: left;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"][data-rlta-alignment="right"]
    > [data-rlta-element="button"] {
    text-align: right;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"][data-rlta-alignment="center"]
    > [data-rlta-element="button"] {
    text-align: center;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-positioning="bottom"] {
    flex-direction: column-reverse;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="left"]
    > [data-rlta-element="button-list"] {
    justify-content: start;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="left"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"] {
    justify-content: flex-start;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="center"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="left"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="right"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"] {
    flex: 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="right"]
    > [data-rlta-element="button-list"] {
    justify-content: end;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="right"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"] {
    justify-content: flex-end;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-alignment="center"]
    > [data-rlta-element="button-list"] {
    justify-content: center;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="vertical"][data-rlta-positioning="left"] {
    flex-direction: row;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="vertical"][data-rlta-positioning="right"] {
    flex-direction: row-reverse;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="vertical"]
    > [data-rlta-element="button-list"] {
    display: flex;
    flex-direction: column;
    flex-basis: min-content;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="vertical"]
    > [data-rlta-element="panels"] {
    width: 100%;
    min-height: 100%;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"] {
    align-items: center;
    cursor: pointer;
    display: flex;
    z-index: 1;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"] {
    align-items: center;
    cursor: pointer;
    display: flex;
    text-align: center;
    z-index: 1;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"]:focus,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"]:focus {
    outline: 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"][data-rlta-focus="true"]:focus,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"][data-rlta-focus="true"]:focus {
    box-shadow:
      0 0 1px 2px #0d4aae,
      inset 0 0 1px 0 #fff;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"]
    > [data-rlta-element="heading"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"]
    > [data-rlta-element="heading"] {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"] {
    margin-bottom: 0.25em;
    text-align: left;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="button"]:not([data-rlta-state="closed"]) {
    margin-bottom: -1px;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"][data-rlta-icons="true"]
    > [data-rlta-element="button"]:after {
    content: "+";
    font-weight: 700;
    float: right;
    margin-left: 1rem;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"][data-rlta-icons="true"]
    > [data-rlta-element="button"]:not([data-rlta-state="closed"]):after {
    content: "−";
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"] {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: normal;
    min-height: 30px;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"][data-rlta-focus="true"]:focus,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"][data-rlta-focus="true"]:focus:not(
      [data-rlta-state="closed"]
    ) {
    box-shadow:
      inset 0 0 1px 2px #0d4aae,
      inset 0 0 1px 3px #fff;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"]:not(
      [data-rlta-wrap-buttons="true"]
    )
    > [data-rlta-element="button-list"] {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"]:not(
      [data-rlta-wrap-buttons="true"]
    )
    > [data-rlta-element="button-list"]::-webkit-scrollbar {
    display: none;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"] {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -5px;
    margin-right: -5px;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-orientation="horizontal"][data-rlta-wrap-buttons="true"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"] {
    flex: 1;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-dynamic-heights="true"][data-rlta-has-button-scroller="false"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"][data-rlta-dynamic-heights="true"][data-rlta-has-button-scroller="true"][data-rlta-button-scroller="ready"]
    > [data-rlta-element="button-list"]
    > [data-rlta-element="button"] {
    transition:
      padding 100ms,
      margin 100ms;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"] {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    left: 0;
    min-height: 30px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    :focus,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]:focus {
    outline: 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"] {
    align-items: center;
    display: grid;
    height: 100%;
    pointer-events: none;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"] {
    align-items: center;
    background: 0 0;
    cursor: pointer;
    height: 100%;
    margin-bottom: 0;
    display: none;
    opacity: 0;
    padding: 0 10px;
    pointer-events: all;
    transition: all 100ms;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"]:not(.hidden),
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"]:not(.hidden) {
    display: grid;
    opacity: 1;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"] {
    background-color: #fff;
    border: 1px solid #c0c6cf;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    opacity: 0;
    -moz-osx-font-smoothing: grayscale;
    padding: 5px;
    text-indent: 0;
    transition: all 250ms;
    width: 20px;
    overflow: hidden;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"]:before,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"]:before {
    content: "";
    height: 24px;
    display: block;
    background-repeat: no-repeat;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"]:hover
    > [data-rlta-element="button-scroller-button"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"]:hover
    > [data-rlta-element="button-scroller-button"] {
    opacity: 1;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"] {
    justify-items: left;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"] {
    background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
    justify-items: left;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-left"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"] {
    justify-items: right;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"] {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #fff 100%);
    justify-items: right;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="button-scroller"]
    [data-rlta-element="button-scroller-right"]
    [data-rlta-element="button-scroller-hotspot"]
    [data-rlta-element="button-scroller-button"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"] {
    overflow: hidden;
    visibility: visible;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"]:focus,
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"]:focus {
    outline: 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"][data-rlta-state="closed"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"][data-rlta-state="closed"] {
    display: none;
    visibility: hidden;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"]
    > [data-rlta-element="panel-content"],
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"]
    > [data-rlta-element="panel-content"] {
    padding: 1.25em 0;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="accordions"]
    > [data-rlta-element="panel"] {
    margin-bottom: 0.25em;
  }
  [data-rlta-element="container"][data-rlta-state="ready"][data-rlta-type="tabs"]
    > [data-rlta-element="panels"]
    > [data-rlta-element="panel"] {
    min-height: 100%;
  }
}
