@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
  #search {
    right: 15px;
  }
  #container {
    padding: 20px 15px;
  }
  .box-dt {
    max-width: 95%;
  }
  .box-tintuc {
    max-width: 95%;
  }
  .slick-dichvu {
    margin: 0;
  }
  .slick-tintuc {
    margin: 0 -15px;
  }
  .wrap-tintuc {
    padding: 0 15px;
  }
  .slick-tintuc .slick-prev {
    left: 0;
  }
  .slick-tintuc .slick-next {
    right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .box-sp {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-sp:nth-child(3n) {
    margin-right: 0;
  }
  .box-sp:nth-child(3n + 1) {
    clear: both;
  }
  .box-product {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-product:nth-child(3n) {
    margin-right: 0;
  }
  .box-product:nth-child(3n + 1) {
    clear: both;
  }
  .box-album {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-album:nth-child(3n) {
    margin-right: 0;
  }
  .box-album:nth-child(3n + 1) {
    clear: both;
  }
  .box-video {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-video:nth-child(3n) {
    margin-right: 0;
  }
  .box-video:nth-child(3n + 1) {
    clear: both;
  }
  .footer-1 {
    width: 35%;
    margin: 0px;
  }
  .footer-2 {
    width: calc(35% - 20px);
    margin: 0 0 0 20px;
  }
  .footer-3 {
    width: calc(30% - 20px);
    margin: 0 0 0 20px;
  }
}
@media (max-width: 991px) {
  #header,
  .banner-ab,
  #menu,
  .right {
    display: none;
  }
  #banner .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    position: static;
    padding: 0;
    margin-right: 15px;
  }
  .banner {
    padding: 0;
  }
  #menu-mobile {
    display: block;
  }
  #smenu a {
    font-family: RM;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
  }
  .left {
    width: 100%;
  }
  .slideshow {
    margin-top: 0;
  }
  .main-gioithieu {
    padding: 35px 0 0 0;
  }
  .main-gioithieu,
  .main-dichvu,
  .main-lienhe,
  .main-tintuc {
    padding: 35px 0;
  }
  .cot1-gioithieu {
    width: 100%;
  }
  .cot2-gioithieu {
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
    margin-right: 0;
  }
  .main-video,
  .main-quytrinhvanchuyen,
  #doitac {
    margin: 35px 0;
  }
  .title-main h1,
  .title-main h2,
  .title-main span {
    font-size: 30px;
  }
  .title-quytrinh h2,
  .cot2-gioithieu h3,
  .cot1-dichvu h2 {
    font-size: 35px;
  }
  .cot1-lienhe {
    width: 100%;
  }
  .cot2-lienhe {
    width: 100%;
    margin-top: 30px;
  }
  .main-dichvu {
    margin-top: 35px;
  }
  .mota-visao {
    padding: 15px 8px;
  }
  .logo-mb {
    display: flex !important;
    justify-content: center;
    margin: 5px 0;
  }
  .ngonngu-account {
    position: absolute;
    right: 10px;
    top: 6px;
    display: flex;
    align-items: center;
  }
  .ngonngu-account p {
    margin-left: 10px;
  }
  .ngonngu-account p span,
  .ngonngu-account p a {
    color: #ffffff;
    font-size: 14px;
  }
  .ngonngu-account p.account-menu a {
    color: #000000;
    padding: 2px 10px 1px;
    background: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .box-sp {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-sp:nth-child(3n) {
    margin-right: 0;
  }
  .box-sp:nth-child(3n + 1) {
    clear: both;
  }
  .box-product {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-product:nth-child(3n) {
    margin-right: 0;
  }
  .box-product:nth-child(3n + 1) {
    clear: both;
  }
  .box-album {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-album:nth-child(3n) {
    margin-right: 0;
  }
  .box-album:nth-child(3n + 1) {
    clear: both;
  }
  .box-video {
    width: 32%;
    margin: 0px 2% 20px 0px;
  }
  .box-video:nth-child(3n) {
    margin-right: 0;
  }
  .box-video:nth-child(3n + 1) {
    clear: both;
  }
  .footer-1 {
    width: 100%;
    float: none;
    margin: 0 0 15px;
  }
  .footer-2 {
    width: 350px;
    float: left;
  }
  .footer-3 {
    width: 350px;
    float: right;
  }
}
@media (max-width: 767px) {
  .btn-zalo,
  .btn-phone,
  #messages-facebook {
    display: none;
  }
  .fix-toolbar {
    display: block;
  }
  .content iframe {
    width: 100% !important;
    height: 45vh;
  }
  .content img {
    height: inherit !important;
  }
  .logo {
    position: static;
    margin: 0 auto;
    height: auto;
  }
  #footer {
    padding-bottom: 45px;
  }
  .footer-top {
    padding-bottom: 0;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4 {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
  .copyright,
  .statistic {
    width: 100%;
  }
  .statistic span {
    margin: 0 5px;
  }
  .ft-b .center > div {
    width: 100%;
  }
  .top-contact .article-contact {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-contact {
    width: 100%;
    padding: 20px 15px;
  }
  #top .center > div {
    width: 100%;
  }
  #top #breadcrumb {
    margin-bottom: 0;
  }
  .box-news {
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }
  .pic-news {
    width: 35%;
  }
  .bottom-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .bottom-right:not(.onApp) {
    width: 100%;
  }
  .tintuc-l {
    width: 100%;
    margin-bottom: 20px;
  }
  .tintuc-r {
    width: 100%;
  }
  .left-pro-detail {
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }
  .right-pro-detail {
    float: none;
    width: 100%;
  }
  .grid-thuvienanh {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 22vh);
  }
  .box-thuvienanh .box-thuvienanh-content {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  .item-address-contact {
    width: 100%;
  }
  .cot1-video {
    width: 100%;
  }
  .cot2-video {
    width: 100%;
    margin-top: 25px;
  }
  .cot1-dichvu {
    width: 100%;
  }
  .cot2-dichvu {
    width: 100%;
    margin-top: 30px;
  }
  .wrap-quytrinh {
    width: calc(100% / 2);
    padding: 30px 15px;
  }
  .text-quytrinh2,
  .text-quytrinh {
    padding: 30px 15px;
  }
  .footer-menu ul li {
    margin: 0 5px;
  }
  .footer-menu ul li a {
    padding: 5.5px 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .box-sp {
    width: 49%;
    margin: 0px 2% 15px 0px;
  }
  .box-sp:nth-child(2n) {
    margin-right: 0;
  }
  .box-sp:nth-child(2n + 1) {
    clear: both;
  }
  .box-product {
    width: 49%;
    margin: 0px 2% 15px 0px;
  }
  .box-product:nth-child(2n) {
    margin-right: 0;
  }
  .box-product:nth-child(2n + 1) {
    clear: both;
  }
  .box-album {
    width: 49%;
    margin: 0px 2% 15px 0px;
  }
  .box-album:nth-child(2n) {
    margin-right: 0;
  }
  .box-album:nth-child(2n + 1) {
    clear: both;
  }
  .box-video {
    width: 49%;
    margin: 0px 2% 15px 0px;
  }
  .box-video:nth-child(2n) {
    margin-right: 0;
  }
  .box-video:nth-child(2n + 1) {
    clear: both;
  }
}
@media (max-width: 600px) {
  .title-quytrinh h2,
  .cot2-gioithieu h3 {
    font-size: 28px;
  }
  .title-main h1,
  .title-main h2,
  .title-main span {
    font-size: 28px;
  }
  .cot1-video a,
  .cot2-lienhe a {
    padding: 13px 25px 10px;
  }
  .cot1-gioithieu span {
    display: none;
  }
  .cot1-gioithieu a {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .box-sp {
    width: 49%;
    margin: 0px 2% 10px 0px;
  }
  .box-sp:nth-child(2n) {
    margin-right: 0;
  }
  .box-sp:nth-child(2n + 1) {
    clear: both;
  }
  .box-product {
    width: 49%;
    margin: 0px 2% 10px 0px;
  }
  .box-product:nth-child(2n) {
    margin-right: 0;
  }
  .box-product:nth-child(2n + 1) {
    clear: both;
  }
  .box-album {
    width: 49%;
    margin: 0px 2% 10px 0px;
  }
  .box-album:nth-child(2n) {
    margin-right: 0;
  }
  .box-album:nth-child(2n + 1) {
    clear: both;
  }
  .box-video {
    width: 49%;
    margin: 0px 2% 10px 0px;
  }
  .box-video:nth-child(2n) {
    margin-right: 0;
  }
  .box-video:nth-child(2n + 1) {
    clear: both;
  }
  .wrap-quytrinh {
    width: 100%;
  }
  .footer-menu {
    display: none;
  }
}
@media (max-width: 374px) {
  .lh-con-l,
  .lh-con-r {
    width: 100%;
    float: none;
    margin: 0px;
    padding: 0px;
  }
  .lh-con-r {
    margin-bottom: 10px;
  }
  .box-sp {
    width: 90%;
    margin: 0px 5% 10px;
    float: none;
  }
  .box-product {
    width: 90%;
    margin: 0px 5% 10px;
    float: none;
  }
  .box-album {
    width: 90%;
    margin: 0px 5% 10px;
    float: none;
  }
  .box-video {
    width: 90%;
    margin: 0px 5% 10px;
    float: none;
  }
}
